@{
    Layout = "~/Areas/Core/Views/Mobile/_Layout.cshtml";
}

@using JQ.Web;
@model DataModel.Models.Project

@section head {
    <style type="text/css">
      
    .aui-btn {
        padding: 10px 15px;
        font-size: 13px;
    }
    .aui-btn-row:after {
        border: 0;
    }
    .jq-text-disabled {
        color: #898787;
        width: 98%;
        pointer-events: none;
        background-color: #efefef !important ;
        border: 0;
        font-size: 13px;
    }

    .set-disabled {
        pointer-events: none !important
    }
    .error {
        color: red;
        font-size: 14px;
        display: block;
    }
    .hidden {
        display: none;
    }
    .aui-input-hook {
        line-height: 34px;
        text-align: left;
        padding-left: 20px;
        background: #efefef;
    }
    .aui-display-hook {
        display: none;
        width: 30%;
        float: right;
        font-size: 13px;
        line-height: 33px;
        margin-right: 6px;
        padding: 3px 6px;
    }
    .aui-input-width {
        width: 98%;
    }
    .hiddenShow {
        height: 0;
    }
    .aui-input-row label.aui-input-addon {
        min-width: 90px;
    }
    .set-selected-icon select {
        float: right;
        margin-right: 5px;
        border: 0;
        margin-bottom: 0;
    }

    .set-selected-icon i {
        position: absolute;
        right: 25px;
        top: 15px;
    }
        /*.aui-input-row input, .aui-input-row select, .set-selected-icon .aui-input-addon {
            color: #9e9e9e;
        }*/
        
    .aui-input-row-position {
        position: relative;
        display: table;
        padding: 6px 0;
    }
    .aui-input-row label.aui-input-addon {
        font-size: 14px;
    }
    .error-border{
        border:1px solid red !important;
    }
</style>
}

@section Body_Content{
    <div class="aui-content" style="overflow-x:hidden">
    <form id="ProjectInfoMobileForm" class="aui-form">


       
        <div class="aui-input-row">
            <input type="hidden" id="CompanyType" name="CompanyType" value="FGS" />
            <input id="Id" name="Id" type="hidden" value="@Model.Id" />
            <input name="DateCreate" id="DateCreate" style="width:98%;" type="hidden" class="easyui-datebox" validtype="dateISO" value="@Model.DateCreate.ToString("yyyy-MM-dd")" />
            <label class="aui-input-addon">&nbsp;&nbsp;项目编号</label>
            <input name="ProjNumber" id="ProjNumber" type="text"  value="@Model.ProjNumber"  style="width:98%;"/>
        </div>
        <div class="aui-input-row">
            <b class="aui-input-addon aui-text-danger">*</b>
          
            <label class="aui-input-addon">&nbsp;&nbsp;项目名称</label>
            <div class="aui-input-block" id="ProjNameText" style="width: 98%;display:inline-block;" >@Model.ProjName</div>
           @* <input name="ProjName" id="ProjName" type="hidden" class="aui-input" value="@Model.ProjName"  />*@
            @*<textarea rows="2" name="ProjName" id="ProjName" style="width:98%;overflow:auto" class="aui-input">@Model.ProjName</textarea>*@
            @*<input type="button" id="selectProjNameBtn" namne="selectProjNameBtn" class="aui-btn aui-btn-block aui-btn-success p-0" style="width:32%;float:right;margin-right:6px;" onclick="SetProjectSelectBegin();" value="项目选择" />*@
        </div>
        <div class="aui-input-row"  id="ProjEmpIdWrap">
            <label class="aui-input-addon">&nbsp;&nbsp;项目负责人</label>
            <div class="aui-input-row-position set-selected-icon" style="width:100%; padding:0">
              @*  <input type="hidden" id="ProjEmpId_i" name="ProjEmpId_i" value="@(Model.ProjEmpId)"/>*@
                <input type="hidden" id="ProjEmpId" name="ProjEmpId" class="aui-input" value="@Model.ProjEmpId" />
                <input type="hidden" id="ProjEmpIdName" name="ProjEmpIdName" class="aui-input" value="@Model.ProjEmpName" />
                <div class="aui-input-block" style="width: 60%; display:inline-block;" id="ProjEmpNameText">@Model.ProjEmpName</div>
                <input type="hidden" id="ProjEmpName" name="ProjEmpName" class="aui-input"   value="@(Model.ProjEmpName)"/>
                <input type="button" id="selectProjEmpNameBtn" namne="selectProjEmpNameBtn" class="aui-btn aui-btn-block aui-btn-success p-0" style="width:32%;float:right;margin-right:6px;" onclick="selectProjectManagerBegin('ProjEmpId', 0)" value="人员选择" />
            </div>
        </div>
        <div class="aui-input-row" id="ProjEmpIdWrap">
            <label class="aui-input-addon">&nbsp;&nbsp;副项目负责人</label>
            <div class="aui-input-row-position set-selected-icon" style="width:100%;padding:0">
                <input type="hidden" id="FProjEmpId" name="FProjEmpId"  class="aui-input"  value="@Model.FProjEmpId" />
                <input type="hidden" id="FProjEmpIdName" name="FProjEmpIdName" class="aui-input" value="@Model.FProjEmpName" />
                <input type="hidden" id="FProjEmpName" name="FProjEmpName" class="aui-input"  value="@Model.FProjEmpName" />
                <div class="aui-input-block" id="FProjEmpNameText" style="width: 60%; display:inline-block;">@Model.FProjEmpName</div>
                <input type="button" id="selectProjEmpNameBtn" namne="selectProjEmpNameBtn" class="aui-btn aui-btn-block aui-btn-success p-0" style="width:32%;float:right;margin-right:6px;" onclick="selectProjectManagerBegin('FProjEmpId', 0)" value="人员选择" />
            </div>
        </div>

        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;项目性质：</label>
            <input type="hidden" id="ProjPropertyID_i" name="ProjPropertyID_i" value="@(Model.ProjPropertyID == 0 ? "" : Model.ProjPropertyID.ToString())" />
            @BaseData.getBaseSelect(new Params()
                {
                    controlName = "ProjPropertyID",
                    engName = "ProjProperty",
                    width = "98%;",
                    ids = Model.ProjPropertyID.ToString(),
                    isRequired = true
                })
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;项目类型</label>
            <input type="hidden" id="ProjTypeID_i" name="ProjTypeID_i" value="@(Model.ProjTypeID == 0 ? "" : Model.ProjTypeID.ToString())" />
            @BaseData.getBaseSelect(new Params()
            {
                controlName = "ProjTypeID",
                isRequired = true,
                engName = "ProjectType",
                width = "98%",
                isVerify = true,
                typeId = "1",
                ids = Model.ProjTypeID.ToString()
            })
        </div>

        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;任务类型</label>
            <input type="hidden" id="ColAttType2_i" name="ColAttType2_i" value="@(Model.ColAttType2 == 0 ? "" : Model.ColAttType2.ToString())" />
            @BaseData.getBaseSelect(new Params()
            {
                controlName = "ColAttType2",
                isRequired = false,
                engName = "ProjectTask",
                width = "98%",
                ids = Model.ColAttType2.ToString()
            })
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;区域</label>
            <input type="hidden" id="ProjAreaID_i" name="ProjAreaID_i" value="@(Model.ProjAreaID == 0 ? "" : Model.ProjAreaID.ToString())" />
            @BaseData.getBaseSelect(new Params()
           {
               controlName = "ProjAreaID",
               isRequired = true,
               engName = "ProjectArea",
               width = "98%",
               ids = Model.ProjAreaID.ToString()
           })
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;任务形式</label>
            <input type="hidden" id="ColAttType1_i" name="ColAttType1_i" value="@(Model.ColAttType1 == 0 ? "" : Model.ColAttType1.ToString())" />
            @BaseData.getBaseSelect(new Params()
           {
               controlName = "ColAttType1",
               engName = "TaskType",
               width = "98%",
               ids = Model.ColAttType1.ToString()
           })
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;紧急程度</label>
            <input type="hidden" id="ColAttType4_i" name="ColAttType4_i" value="@(Model.ColAttType4 == 0 ? "" : Model.ColAttType4.ToString())" />
            @BaseData.getBaseSelect(new Params()
           {
               controlName = "ColAttType4",
               engName = "ProjectUrgency",
               width = "98%",
               ids = Model.ColAttType4.ToString()
           })
        </div>

        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;任务依据</label>
            @*<div class="aui-input-block">@Model.TaskBasisName</div>*@
            <textarea rows="1" name="TaskBasisName" id="TaskBasisName" style="width:98%;" class="aui-input">@Model.TaskBasisName</textarea>
            @*<input name="TaskBasisName" id="TaskBasisName" type="hidden" class="aui-input"  style="width:98%;" value="@Model.TaskBasisName"  />*@
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;依据编号</label>
            @*<div class="aui-input-block">@Model.TaskBasisNumber</div>*@
            <textarea rows="1" name="TaskBasisNumber" id="TaskBasisNumber" style="width:98%;overflow:auto;" class="aui-input">@Model.TaskBasisNumber</textarea>
            @*<input name="TaskBasisNumber" id="TaskBasisNumber" type="hidden" class="aui-input" value="@Model.TaskBasisNumber" />*@
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;客户单位</label>
            <input id="CustID" name="CustID" style="width:98%;" type="hidden"/>
            @*<div class="aui-input-block">@Model.CustName</div>*@
            <textarea rows="1" name="CustName" id="CustName" style="width:98%;" class="aui-input">@Model.CustName</textarea>
            <input id="CustName" name="CustName" type="hidden"  class="aui-input"  value="@Model.CustName" />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;联系人</label>
            <input id="CustLinkId" name="CustLinkId" style="width:98%;" type="hidden"/>
            <input id="CustLinkMan" name="CustLinkMan" type="text"  class="aui-input"  value="@Model.CustLinkMan" />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;联系电话</label>
            <input id="CustLinkTel" name="CustLinkTel" style="width:98%;" class="aui-input" type="text" validType="length[0,100]" value="@Model.CustLinkTel"  />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;邮箱</label>
            <input id="CustLinkWeb" name="CustLinkWeb" style="width:98%;" class="aui-input" type="text" validType="length[0,100]" value="@Model.CustLinkWeb" />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;任务来源</label>
            <input type="hidden" id="ProjTaskSource_i" name="ProjTaskSource_i" value="@(Model.ProjTaskSource == 0 ? "" : Model.ProjTaskSource.ToString())" />
            @BaseData.getBaseSelect(new Params()
           {
               controlName = "ProjTaskSource",
               engName = "ProjTaskSource",
               width = "98%",
               ids = Model.ProjTaskSource.ToString()
           })
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;主办部门</label>
            <input type="hidden" id="ProjDepId_i" name="ProjDepId_i" value="@(Model.ProjDepId == 0 ? "" : Model.ProjDepId.ToString())" />
            @BaseData.getBaseSelect(new Params()
               {
                   controlName = "ProjDepId",
                   isRequired = true,
                   engName = "department",
                   width = "98%",
                   ids = Model.ProjDepId.ToString()
               })
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;协办部门</label>
            <input type="hidden" id="ProjJoinDepIds" name="ProjJoinDepIds"  class="aui-input" value="@Model.ProjJoinDepIds" />
            <div class="aui-input-block" id="ProjJoinDepIdsNameText" style="width:63%;display:inline-block;" ></div>
            <input type="hidden" id="ProjJoinDepIdsName" name="ProjJoinDepIdsName" class="aui-input" />
            <input type="button" id="ProjJoinDepIdsBtn" namne="ProjJoinDepIdsBtn" class="aui-btn aui-btn-block aui-btn-success p-0" value="选择部门" style="width:32%;float:right;margin-right:8px;" onclick="SetDepartmentBegin('ProjJoinDepIds',1);" />
            @BaseData.getBaseSelect(new Params()
           {
               controlName = "ProjJoinDepIds_cn",
               isRequired = true,
               engName = "department",
               width = "98%",
               ids = Model.ProjJoinDepIds.ToString()
           })
            
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;计划编制人</label>
            <div class="aui-input-block" id="CreatorEmpNameText" >@Model.CreatorEmpName</div>
            <input type="hidden" id="CreatorEmpName" name="CreatorEmpName" class="aui-input" value="@Model.CreatorEmpName" />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;下达时间</label>
            <input type="date" id="DateCreate" name="DateCreate" class="aui-input" value="@Model.DateCreate.ToString("yyyy-MM-dd")" />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;计划开始</label>
            <input type="date" id="DatePlanStart" name="DatePlanStart" class="aui-input" value="@Model.DatePlanStart.ToString("yyyy-MM-dd")" />
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">&nbsp;&nbsp;计划结束</label>
            <input type="date" id="DatePlanFinish" name="DatePlanFinish" class="aui-input" value="@Model.DatePlanFinish.ToString("yyyy-MM-dd")" />
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="ProjPhaseGrid" style="font-size:12px;">
                <thead>
                    <tr>
                        <th>
                            <div class="checkAll">
                                <input type="checkbox" name="name" value="" />
                            </div>
                        </th>
                        <th>编号</th>
                        <th>名称</th>
                        <th>负责人</th>
                        <th>副负责人</th>
                        <th>类型</th>
                        <th>计划开始</th>
                        <th>计划完成</th>
                        <th>阶段</th>
                        <th>投资额(元)</th>
                        <th>工程内容说明</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody id="gridList" style="font-size:12px;"></tbody>
            </table>
        </div>
        <!--模板-->
        <script id="listTpl" type="text/x-dot-template">
                {{~it:appendProjectGetInfoData:index}}
                <tr id="tr_{{=index}}">

                    <td>
                        <div class="checkbox" style="margin:0">
                            <input type="checkbox" name="subBox" value="" />
                        </div>
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjNumber}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjName}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjEmpName}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.FProjEmpName}}
                    </td>
                    <td>
                        <input type="hidden" name="ProjTypeID" id="ProjTypeID_{{=index}}" value=" {{=appendProjectGetInfoData.ProjTypeID}}" />
                        {{=appendProjectGetInfoData.ProjTypeIDName}}
                    </td>
                    <td>
                        {{=(Date.jsonStringToDate(appendProjectGetInfoData.DatePlanStart)).getFullYear() =='1900' ? '':(Date.jsonStringToDate(appendProjectGetInfoData.DatePlanStart)).format("yyyy-MM-dd")}}
                    </td>
                    <td>
                        {{=(Date.jsonStringToDate(appendProjectGetInfoData.DatePlanFinish)).getFullYear() =='1900' ? '':(Date.jsonStringToDate(appendProjectGetInfoData.DatePlanFinish)).format("yyyy-MM-dd")}}
                    </td>
                    <td>
                        <input type="hidden" name="ProjPhaseIds" id="ProjPhaseIds" value="{{=appendProjectGetInfoData.ProjPhaseIds}}" />
                        {{=appendProjectGetInfoData.ProjPhaseIdsName}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjFee}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjDemand}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjNoteOther}}
                    </td>
                </tr>
                {{~}}
            </script>

            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;任务内容</label>
                <textarea rows="6" name="ProjTaskContent" id="ProjTaskContent" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]" >@Model.ProjTaskContent</textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;资金来源</label>
                <textarea rows="6" name="ProjFeeSource" id="ProjFeeSource" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]" >@Model.ProjFeeSource</textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;综合进度要求</label>
                <label class="aui-input-addon">&nbsp;&nbsp;交付时间</label>
                <input type="date" id="DatePlanDeliver" name="DatePlanDeliver" class="aui-input" value="@Model.DatePlanDeliver.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;综合进度要<br/>&nbsp;&nbsp;求交付内容</label>
                <textarea rows="6" name="ColAttVal1" id="ColAttVal1" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]" >@Model.ColAttVal1</textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;其他</label>
                <textarea rows="6" name="ProjDemand" id="ProjDemand" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]">@Model.ProjDemand</textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;备注</label>
                <textarea rows="6" name="ProjNoteOther" id="ProjNoteOther" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]">@Model.ProjNoteOther</textarea>
            </div>


            <input id="HiddenProjPhaseGridData" name="HiddenProjPhaseGridData" type="hidden" />
            <input type="hidden" id="projId" name="projId" value="0" />
            <input type="hidden" id="stepOrder" name="stepOrder" />
            <input type="hidden" id="ChildModelId" name="ChildModelId" />
            <input type="hidden" id="_guid" name="_guid" value="@(ViewBag.Guid)" />
            <input type="hidden" id="_bridgeID" name="_bridgeID" value="@Model.Id" />

            @*<div class="aui-input-row">
                <div class="aui-btn aui-btn-block aui-btn-success p-0" onclick="validateFormBegin()">提交</div>
            </div>*@
        </form>
    </div>


    <script type="text/javascript">


    $("#projId").val(@Model.Id);
    $("#ProjEmpName").val("@(Model.ProjEmpName)");
    $("#Variety").val(@ViewBag.Variety);
    $("#ChildModelId").val(@ViewBag.ChildModelId);
    var childModeId = $("#ChildModelId").val();
    $("#strMainId").val(@Model.Id);
     var _webconfig = {
         serverUrl :'@Url.Content("~")'
     }
     var ProjPhaseInfo;
     var datas;
     var qualification = '@(ViewBag.Qualification)';
     $(function () {
         if (window.JinQuMobile == undefined) {
             initFormBegin(JSON.stringify({
                 "Result": true,
                 "Message": null,
                 "NodeName": "发起审批",
                 "AllowEditControls": "{}",
                 "SignControls": ""
                 //"AllowEditControls":""

             }));
            //initFormBegin();
         }

    })


    //表单初始化
     function initFormBegin(params) {
         //控制页面读写
         //alert(params)
         params = params.replace(/[\r\n]/g, "");//去除换行
         params = params.replace(/\s/g, "");
         //清除时间审批时，默认为1900-01-01改为空
         var DateCreate = $('#DateCreate').val(); //下达时间
         var DatePlanStart = $('#DatePlanStart').val(); //计划开始
         var DatePlanFinish = $('#DatePlanFinish').val(); //计划结束
         var DatePlanDeliver = $('#DatePlanDeliver').val();//交付时间
         if (DateCreate == '1900-01-01') {
             $('#DateCreate').val('');
         }
         
         if ((DatePlanStart == '1900-01-01')) {
             $('#DatePlanStart').val('');
         }
         if ((DatePlanFinish == '1900-01-01')) {
             $('#DatePlanFinish').val('');
         }
         if ((DatePlanDeliver == '1900-01-01')) {
             $('#DatePlanDeliver').val('');
         }

         var paramsObj = JSON.parse(params);
         paramsObj.AllowEditControls = paramsObj.AllowEditControls || '-';
         paramsObj.AllowEditControls = paramsObj.AllowEditControls.replace("ProjEmpId", "selectProjEmpNameBtn");
         var allowElement = paramsObj.AllowEditControls


         //获取数据
         $.post('@Url.Action("jsonPhase", "Project", new { @area= "Project" })' + "?ProjId=@Model.Id&childmodelId=" + childModeId, function (_rData) {
             //console.log(JSON.parse(_rData))
             datas = JSON.parse(_rData)
             var appendProjectGetInfoData = JSON.parse(_rData)
             //项目类别
             var dataText =  @Html.Raw(ViewData["ProjTypeIds"]);
             var dataChild = dataText[0].children;
            // console.log(appendProjectGetInfoData)
             if (appendProjectGetInfoData.length > 0) {
                 for (var i = 0; i < appendProjectGetInfoData.length; i++) {
                     appendProjectGetInfoData[i].ProjTypeIDName = '';
                     appendProjectGetInfoData[i].ProjFee = parseFloat(appendProjectGetInfoData[i].ProjFee).toFixed(2);
                     for (var j = 0; j < dataChild.length; j++) {
                         if (appendProjectGetInfoData[i].ProjTypeID == dataChild[j].id) {
                             appendProjectGetInfoData[i].ProjTypeIDName = dataChild[j].text;
                         }
                     }
                 }

                 var interText = doT.template($("#listTpl").text())
                 $("#gridList").html(interText(appendProjectGetInfoData));
             }
             else {
                console.log('暂无数据')
             }
         })


         

        $('#ProjPhaseIds').val($('#ProjPhaseIds_i').val());
        $('#ProjEmpId').val($('#ProjEmpId_i').val());
        $('#ProjTypeID').val($('#ProjTypeID_i').val());
        $('#ProjVoltID').val($('#ProjVoltID_i').val());
        $('#ProjPropertyID').val($('#ProjPropertyID_i').val())
        $('#ProjDepId').val($('#ProjDepId_i').val());
        $('#ColAttType2').val($('#ColAttType2_i').val());
        $('#ProjAreaID').val($('#ProjAreaID_i').val());
        $('#ProjTaskSource').val($('#ProjTaskSource_i').val());
        $('#ProjAreaID').val($('#ProjAreaID_i').val());
        $('#ColAttType1').val($('#ColAttType1_i').val()); //任务形式
        $('#ColAttType4').val($('#ColAttType4_i').val()); //紧急程度

        //协办部门
        $('#ProjJoinDepIds').hide();
        var projJoinDepIdsArr = $('#ProjJoinDepIds').val().split(',');
        var JoinDepIdsString = [];
        for (var i = 0; i < projJoinDepIdsArr.length; i++) {
            $('#ProjJoinDepIds_cn').val(projJoinDepIdsArr[i]);
            JoinDepIdsString.push($('#ProjJoinDepIds_cn option:selected').text())
        }
        $('#ProjJoinDepIdsName').val(JoinDepIdsString.toString());
        $('#ProjJoinDepIdsNameText').text(JoinDepIdsString.toString());

        //设置多选显示名称问题
        $('#ProjJoinDepIds_cn').css('display','none')
        var depArr = $('#ProjJoinDepIds').val().split(',')
        var JoinDepString = [];
        for (var i = 0; i < depArr.length; i++) {
           // console.log(depArr[i]);
            $('#ProjJoinDepIds_cn').val(depArr[i]);
            JoinDepString.push($('#ProjJoinDepIds_cn option:selected').text())
        }
        $('#ProjJoinDepIdsName').text(JoinDepString.toString())


        

        //任务内容，替换换行符
        var ProjTaskContentValue = $('#ProjTaskContent').val();
        ProjTaskContentValue = ProjTaskContentValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#ProjTaskContent').val(ProjTaskContentValue);

        //资金来源，替换换行符
        var ProjFeeSourceValue = $('#ProjFeeSource').val();
        ProjFeeSourceValue = ProjFeeSourceValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#ProjFeeSource').val(ProjFeeSourceValue);

        //综合进度要求，替换换行符
        var ColAttVal1Value = $('#ColAttVal1').val();
        ColAttVal1Value = ColAttVal1Value.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#ColAttVal1').val(ColAttVal1Value);

        //其它要求，替换换行符
        var ProjDemandValue = $('#ProjDemand').val();
        ProjDemandValue = ProjDemandValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#ProjDemand').val(ProjDemandValue);

        //备注，替换换行符
        var ProjNoteOtherValue = $('#ProjNoteOther').val();
        ProjNoteOtherValue = ProjNoteOtherValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#ProjNoteOther').val(ProjNoteOtherValue);


        //设置表单不可编辑样式及只读
        $('form :input').addClass('jq-text-disabled').attr("readonly", "readonly");
        DomUtil.setCtrlsReadonly(paramsObj.AllowEditControls, document.getElementById('ProjectInfoMobileForm'));

        //if (paramsObj.AllowEditControls == "{}") {
        //    $('#ProjTaskContent,#ProjFeeSource,#DatePlanDeliver,#ProjNoteOther,#ProjDemand').removeClass('jq-text-disabled').addClass('aui-input')
        //    $("#ProjTaskContent,#ProjFeeSource,#DatePlanDeliver,#ProjNoteOther,#ProjDemand").css({
        //        overflow: 'auto',

        //    })
        //}
        //else {
        //    $('#ProjTaskContent,#ProjFeeSource,#DatePlanDeliver,#ProjNoteOther,#ProjDemand').removeClass('jq-text-disabled').attr("readonly", "readonly")
        //    $("#ProjTaskContent,#ProjFeeSource,#DatePlanDeliver,#ProjNoteOther,#ProjDemand").css({
        //        overflow: 'auto',
        //        background: '#efefef',
        //        color: '#898787'
        //    })
        //}



        if (paramsObj.AllowEditControls == "") {
            $('#selectProjNameBtn').addClass('jq-text-disabled').attr("readonly", "readonly");
        }

        $('#ProjEmpName').removeClass('jq-text-disabled').attr("readonly", "readonly")
        $('#FProjEmpName').removeClass('jq-text-disabled').attr("readonly", "readonly")

        //告诉移动端页面初始完完毕
        if (window.JinQuMobile) {
            window.JinQuMobile.FormEnd();
        }
    }
     /*----------------------------------------------------------------------------------------------*/
    //表单验证交互
     function validateFormBegin() {

         var formVali = $('#ProjectInfoMobileForm').validate({
             rules: {
                 ProjNumber: 'required', //项目编号
                 ProjName: 'required',//项目名称
                 ProjEmpName: 'required',//项目负责人
                 ProjTypeID: 'required',//项目类型
                 ProjAreaID: 'required',//区域
                 ProjDepId:'required',//主办部门
                 ProjTaskContent: {
                     required: false,
                     maxlength: 500
                 },
                 ProjFeeSource: {  //资金来源
                     required: false,
                     maxlength: 500
                 },
                 ProjDemand: {
                     required: false,
                     maxlength: 500
                 },
                 ColAttVal1: {
                     required: false,
                     maxlength: 500
                 },
                 ProjNoteOther: {
                     required: false,
                     maxlength: 500
                 },

             },
             messages: {
                 ProjNumber: '请输入项目编号', //项目编号
                 ProjName: '请输入项目名称',//项目名称
                 ProjEmpName: '请输入项目负责人',//项目负责人
                 ProjTypeID: '请输入项目类型',//项目类型

                 ProjAreaID: '请输入区域',//区域
                 ProjDepId: '请选择主办部门',//主办部门
                 ProjTaskContent: {
                     maxlength: '内容长度必须介于0-500之间'
                 },
                 ProjFeeSource: {
                     maxlength: '内容长度必须介于0-500之间'
                 },
                 ProjDemand: {
                     maxlength: '内容长度必须介于0-500之间'
                 },
                 ColAttVal1: {
                     maxlength: '内容长度必须介于0-500之间'
                 },
                 ProjNoteOther: {
                     maxlength: '内容长度必须介于0-500之间'
                 },
             }
         });

         var DatePlanStart = $("#DatePlanStart").val();
         var DatePlanFinish = $("#DatePlanFinish").val();
         //if (DatePlanFinish < DatePlanStart) {
         //    $.alert('计划结束时间必须大于计划开始时间！')
         //       return false;
         //}
         if ($('#ProjName').val() == '') {
             $.alert('请选择项目！')
             return false;
         }

         $('#HiddenProjPhaseGridData').val(JSON.stringify(datas));
         isValidate = formVali.form();
         if (isValidate) {
             var formData = DomUtil.serialize(document.getElementById('ProjectInfoMobileForm'));//json or =&
             //console.log(formData)
            // alert(JSON.stringify(formData))
             //告诉移动端页面初始完完毕
             if (window.JinQuMobile) {
                 window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
             }
         }
     }

     /*----------------------------------------------------------------------------------------------*/
     //不走验证流程
     function noValidateFormBegin(params) {
         $('#HiddenProjPhaseGridData').val(JSON.stringify(datas));
         var formData = DomUtil.serialize(document.getElementById('ProjectInfoMobileForm'));//json or =&
         //告诉移动端页面验证完毕

         if (window.JinQuMobile) {
             window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
         }
     }
     /*----------------------------------------------------------------------------------------------*/
    //项目 - 选择项目
     function SetProjectSelectBegin() {
        var selemp = {
            ProjName: $('#ProjName').val()
        }
        if (window.JinQuMobile) {
            window.JinQuMobile.ProjectSelectBegin(JSON.stringify(selemp), 'SetProjectSelectEnd');
        }
    }
        function SetProjectSelectEnd(emp) {
            emp = JSON.parse(emp);
            $("#ProjNumber").val(emp.ProjNumber) //项目编号
            $('#ProjName').val(emp.ProjName);//项目名称
            $('#ProjNameText').text(emp.ProjName);//项目名称
            $('#ProjEmpName').val(emp.ProjPhaseEmpName); //项目负责人
            $('#ProjEmpNameText').text(emp.ProjPhaseEmpName)//项目负责人
            $('#ProjEmpId').val(emp.ProjPhaseEmpId);//项目负责人Id


     }

    // 项目负责人选择
     function selectProjectManagerBegin(IdName, n) {
         qualification = qualification.replace(/&quot;/g, "\"");
       // alert(IdName)
         var selectedProjectManager = {
             IdName: IdName,
             names: $('#' + IdName + 'Name').val(),
             ids: $('#' + IdName + 'Name').val(),
             Qualification: qualification,
             isSingleSelect: n   //0：单选   1：多选
        }
         //alert(JSON.stringify(selectedProjectManager))
         if (window.JinQuMobile) {
             window.JinQuMobile.ProjectManagerBegin(JSON.stringify(selectedProjectManager), 'selectProjectManagerEnd');
         }
     }

     function selectProjectManagerEnd(emp) {
         emp = JSON.parse(emp);
         var empRows = emp.rows;
         var idName = emp.IdName;
         var dataPushNameValue = [], dataPushIDValue = [];
         for (var i = 0; i < empRows.length; i++) {
             dataPushNameValue.push(empRows[i].names);
             dataPushIDValue.push(empRows[i].ids);
         }
        // alert(dataPushNameValue)
         if (idName == 'ProjEmpId') {
             $('#ProjEmpId').val(dataPushIDValue);
             $('#ProjEmpName').val(dataPushNameValue);
             $('#ProjEmpNameText').text(dataPushNameValue);
         } else if (idName == 'FProjEmpId') {
             $('#FProjEmpId').val(dataPushIDValue);
             $('#FProjEmpName').val(dataPushNameValue);
             $('#FProjEmpNameText').text(dataPushNameValue);
         }
     }

        //选择部门
        function SetDepartmentBegin(IdName, n) {
            // 1. 取页面已有人员信息
             //alert(IdName + n)
            var selemp = {
                IdName: IdName,
                ids: $('#' + IdName).val(),
                names: $('#' + IdName + 'Name').val(),
                isSingleSelect: n   //0：单选   1：多选
            }
            if (window.JinQuMobile) {
                window.JinQuMobile.DepartmentBegin(JSON.stringify(selemp), 'SetSelectInfoEnd');
            }
        }
        //选择人员与部门共用的回调处理
        function SetSelectInfoEnd(emp) {
            //alert(emp)
            emp = JSON.parse(emp);
            var empRows = emp.rows;
            var idName = emp.IdName;
            var dataPushNameValue = [], dataPushIDValue = [];

            for (var i = 0; i < empRows.length; i++) {
                dataPushNameValue.push(empRows[i].names)
                dataPushIDValue.push(empRows[i].ids)

            }
            if (idName == 'ProjJoinDepIds') {
                $('#ProjJoinDepIds').val(dataPushIDValue);
                $('#ProjJoinDepIdsName').val(dataPushNameValue);
                $('#ProjJoinDepIdsNameText').text(dataPushNameValue);
            }

        }
</script>
}
