@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@using JQ.Web;
@section head {
    <script type="text/javascript">
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['add', 'edit', 'del', 'export', 'moreSearch'],//需要显示的按钮
                JQAddUrl: '@Url.Action("add")?CompanyType=GC',//添加的路径
                JQEditUrl: '@Url.Action("edit")?CompanyType=GC',//编辑的路径
                JQDelUrl: '@Url.Action("del")',//删除的路径
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'BussContractOtherFeeFactGrid',//数据表格ID
                JQDialogTitle: '其它合同收款',//弹出窗体标题
                JQWidth: '1024',//弹出窗体宽
                JQHeight: '100%',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                //JQCustomSearch: [  //自定义搜索的字段
                //{ value: 'DepartmentName', key: '人员部门', type: 'string' }//type支持三种类型string,datetime,combox,默认为string,combox必须提供engname
                //],
                JQExcludeCol: [1],//导出execl排除的列
                //JQMergeCells: { fields: ['DepartmentName', 'EmpName', 'EmpLogin'], Only: 'DepartmentName' },//当字段值相同时会自动的跨行(只对相邻有效)
                //JQEnableFilter: true,//是否启用表格字段检索，只支持当页数据
                //JQFields: ["", ""],//追加的字段名
                url: '@Url.Action("json","BussContractOtherFeeFact",new { @area="Bussiness"})?CompanyType=GC',//请求的地址
                checkOnSelect: true,//是否包含check
                toolbar: '#BussContractOtherFeeFactPanel',//工具栏的容器ID
                columns: [[
                  { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
        { title: '合同编号', field: 'ConNumber', width: "15%", align: 'left', sortable: false },
        { title: '合同名称', field: 'ConrName', width: "15%", align: 'left', sortable: false },
        { title: '客户单位', field: 'CustName', width: "14%", align: 'left', sortable: false },
        //{ title: '合同金额(元)', field: 'ConFee', width: "9%", align: 'right', sortable: true },
         {
             title: '合同金额（元）', field: 'ConFee', width: "9%", align: 'right', sortable: false, formatter: function (value, row, index) {
                 if (row.ConOtherFulfilType == '@((int)DataModel.ConDealWays.开口)') {
                     var value = "<div><span>" + row.ConFee + "</span></div>";
                     row.ConFee = value;//更新数据行数据
                     return value;
                 } else {
                     var value = "<div><span>" + row.ConrBalanceFee + "</span></div>";
                     row.ConFee = value;//更新数据行数据
                     return value;
                 }
             }
         },
            { title: '已收款金额(元)', field: 'SumFeeMoney', width: "9%", align: 'right', sortable: false },
            { title: '本次收款金额(元)', field: 'FeeMoney', width: "9%", align: 'right', sortable: false },
            //{ title: '未收款金额(元)', field: 'NoFeeMoney', width: "9%", align: 'right', sortable: true },
            {
                title: '未收款金额（元）', field: 'NoFeeMoney', width: "9%", align: 'right', sortable: false, formatter: function (value, row, index) {
                    if (row.ConOtherFulfilType == '@((int)DataModel.ConDealWays.开口)') {
                        var value =  row.NoFeeMoney  ;
                        if (value <= 0) {
                            value = 0;
                        }
                        row.NoFeeMoney = value;//更新数据行数据
                        return value;
                    } else {
                        var value =  row.NoConrBalanceFeeMoney  ;
                        if (value <= 0) {
                            value = 0;
                        }
                        row.NoFeeMoney = value;//更新数据行数据
                        return value;
                    }
                }
            },
            { title: '本次收款日期', field: 'FeerDate', width: "8%", align: 'center', formatter: JQ.tools.DateTimeFormatterByT },
                    {
                        title: '累计收款比例', field: 'Scale', width: "8%", align: 'center', sortable: false, formatter: function (value, row, index) {
                            if (row.ConOtherFulfilType == '@((int)DataModel.ConDealWays.开口)') {
                                var value = "<div><span>" + row.Scale + "</span></div>";
                                row.Scale = value;//更新数据行数据
                                return value;
                            } else {
                                var value = "<div><span>" + row.ScaleConrBalanceFee + "</span></div>";
                                row.Scale = value;//更新数据行数据
                                return value;
                            }
                        }
                    },
                ]]
            });
            $("#JQSearch").textbox({
                buttonText: '筛选',
                buttonIcon: 'fa fa-search',
                height: 25,
                prompt: '合同编号、合同名称、客户单位',
                //queryOptions: { 'Key': 'ConNumber,ConrName,CustName', 'Contract': 'like' },
                queryOptions: { 'Key': 'FK_BussContractOtherFeeFact_RefID.ConrName,FK_BussContractOtherFeeFact_RefID.CustName,FK_BussContractOtherFeeFact_RefID.ConNumber', 'Contract': 'like' },
                onClickButton: function () {
                    JQ.datagrid.searchGrid(
                        {
                            dgID: 'BussContractOtherFeeFactGrid',
                            loadingType: 'datagrid',
                            KeyJQSearch: $("#JQSearch").val(),
                            //ProjectPhase: $('#').textbox('getValue'),
                        });
                }
            });
        });
    </script>
    @RenderPage("~/Areas/Core/Views/Shared/_Init.cshtml")
}

@section Body_Content{
    <table id="BussContractOtherFeeFactGrid"></table>
    <div id="BussContractOtherFeeFactPanel" jqpanel="searchPanel" style="padding:5px;height:auto;">
        <span jqpanel="toolbarPanel">

        </span>

        @*<input id="JQSearch" style="width:250px;" jqwhereoptions="{ Key:'ConNumber,ConrName,CustName', Contract:'like'}" />*@
        <input id="JQSearch" style="width:250px;" jqwhereoptions="{ Key:'FK_BussContractOtherFeeFact_RefID.ConrName,FK_BussContractOtherFeeFact_RefID.ConNumber,FK_BussContractOtherFeeFact_RefID.CustName', Contract:'like'}" />

        <div class="moreSearchPanel">
            <input id="startTime" type="text" class="easyui-datebox" style="width:110px" data-options="prompt: '收款日期开始'" jqwhereoptions="{ Key:'FeerDate', Contract:'>=',filedType:'Date' }">
            至
            <input id="endTime" type="text" class="easyui-datebox" style="width:110px" data-options="prompt: '收款日期结束'" jqwhereoptions="{ Key:'FeerDate', Contract:'<=',filedType:'Date' }">&nbsp;
        </div>

    </div>
}

