@model DataModel.Models.IsoSJBGD
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'IsoSJBGDForm',//formid提交需要用到
        docName: 'IsoSJBGD',
        ExportName: '设计变更单',
        buttonTypes: ['close', 'exportForm'],//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        },
        flow: {
            flowNodeID: "@(Request.QueryString["flowNodeID"]==null? 0 : int.Parse(Request.QueryString["flowNodeID"]))",
            flowMultiSignID: "@(Request.QueryString["flowMultiSignID"] ==null? 0 : int.Parse(Request.QueryString["flowMultiSignID"]))",
            url: "@(Url.Action("FlowWidget", "PubFlow",new { @area="Core"} ))",
            instance: "_flowInstance",
            processor: "ISO,ISO.FlowProcessor.IsoSJBGDFlow",
            refID: "@(Model.Id)",
            refTable: "IsoSJBGD",
            dataCreator: "@(ViewBag.CurrEmpID)",
            filterSteps: function (originalSteps) {
                if(this.stepOrder == "1" && nextId != "" && nextName != "")
                {
                    originalSteps[0].Users =[{"ID":nextId,"Name": nextName }];
                }
            }
        },
        onBefore: function (resultArr) {
            resultArr.push({ Key: "Permission", Value: "@ViewBag.Permission" });
        }, beforeFormSubmit: function () {
            var datas = $("#tableJC").datagrid("getData");
            if (datas.rows.length < 1) {
                JQ.dialog.warning("请选择变更卷册！！！");
                return false;
            }
        }
    });

    function selectEng() {
        debugger;
        JQ.dialog.dialog({
            title: "选择项目",
            url: '@Url.Action("ChooseProjectList1", "EmpManage", new { @area = "Engineering" })?CompanyType=FGS&TaskGroupId=' + $("#ProjID").val(),
            width: '1024',
            height: '100%',
            JQID: 'ProjTable',
            JQLoadingType: 'datagrid',
            iconCls: 'fa fa-list',
        });
    }
    var _ProjCallBack = function (param) {
        var BackInfo = param;
        var PorjID = BackInfo[0]["Id"];
        var ProjNumber = BackInfo[0]["ProjNumber"];
        var ProjName = BackInfo[0]["ProjName"];
        var ProjPhaseName = BackInfo[0]["ProjPhaseName"];
        var ProjPhaseId = BackInfo[0]["ProjPhaseId"];
        $("#ProjName").textbox("setValue", ProjName);
        $("#ProjNumber").textbox("setValue", ProjNumber);
        $("#ProjPhaseName").val(ProjPhaseName);
        $("#ProjID").val(PorjID);
        $("#ProjPhaseId").val(ProjPhaseId);
    }


    var nextId ="";
    var nextName ="";
    function _BCFileBack(data) {
        debugger;
        var rows = $('#tableJC').datagrid('getRows');
        if(rows.length > 0)
            $('#tableJC').datagrid('deleteRow',0);

        $('#tableJC').datagrid('appendRow', {
            Id: data[0].Id,
            TaskName: data[0].ItemName,
            ProjName: data[0].ProjName
        });
        $('#JCName').val(data[0].Id + ",");
        nextId = data[0].EmpId;
        nextName = data[0].EmpName;
    }

    function SelectJC() {
        JQ.dialog.dialog({
            title: "选择任务",
            url: '@Url.Action("selectJC","ISOBCD")?projId=@Request["projId"]&taskGroupId=@Request.Params["taskGroupId"]',
            width: '1024',
            height: '100%',
            iconCls: 'fa fa-list',
        });
    }

    function DeleteJC(){
        debugger;
        var index = $('#tableJC').datagrid('getRowIndex');
        $('#tableJC').datagrid('deleteRow',index);
        nextId ="";
        nextName ="";
    }

    $(function () {
        $('#tableJC').datagrid({
            url: '@Url.Action("getJCs","ISOBCD")?fromType=1&Id=' + @Model.Id ,
            nowrap: false,
            columns: [[
                { field: 'ProjName', title: '项目名称', width: '30%', align: 'center', JQIsExclude: true },
                { field: 'TaskName', title: '任务册名', width: '30%', align: 'center', JQIsExclude: true },
                {
                    field: 'opt', title: '表单', width: '40%', align: 'center', formatter: function (value, row, index) {
                        debugger;
                        var html = "";
                        if (row.TaskSpecId > 0) {
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',0)\">校审单</a> &nbsp;&nbsp;";
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',1)\">(校对)校审单 </a> &nbsp;&nbsp;";
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',2)\">(审核)校审单</a> &nbsp;&nbsp;";
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',3)\">(审定)校审单</a> &nbsp;&nbsp;";
                            html += "<a id=\"DesExch\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDesExch(' " + row.Id + "')\">提资单</a> ";


                        } else {
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',0)\">校审单</a> &nbsp;&nbsp;";
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',1)\">(校对)校审单 </a> &nbsp;&nbsp;";
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',2)\">(审核)校审单</a> &nbsp;&nbsp;";
                            html += "<a id=\"btn\" class=\"easyui-linkbutton\"  data-options=\"iconCls:'fa fa-file-word-o'\"  onclick=\"ShowDetail(' " + row.Id + "',3)\">(审定)校审单</a> &nbsp;&nbsp;";
                        }
                        return html;
                    }
                }
            ]]
        });
    })

    //校审单
        function ShowDetail(id,type) {
            JQ.dialog.dialog({
                title: "查看校审单",
                url: '@Url.Action("desTaskCheckDetail", "IsoTaskCheck", new { @area = "ISO" })?taskId=' + id + '&type=' + type + '',
                width: '1024',
                height: '100%',
                JQID: 'ISOCheckList',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-th-list',
            });
        }

        //提资单
        function ShowDesExch(id) {

            JQ.dialog.dialog({
                title: "查看提资信息",
                url: '@Url.Action("ProjDesSpecExchList", "IsoForm", new { @area = "ISO" })?taskId=' + id,
                width: '1024',
                height: '100%',
                JQID: 'ISOCheckList',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-th-list',
            });
        }

</script>
@using (Html.BeginForm("save", "IsoSJBGD", FormMethod.Post, new { @area = "Iso", @id = "IsoSJBGDForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-bordered">
        <div style="width:99%;text-align:center;font-size:20px;font-weight:bold;margin-top:10px;">
            <a>设计变更单</a>
        </div>
        <div style="float:left;margin-left:20px;margin-top:10px;">
            表<label>@Model.TableNumber</label> <input type="hidden" id="TableNumber" name="TableNumber" value="SCX04-03" />
        </div>
        <div style="float:right;margin-right:20px;margin-top:10px;margin-bottom:10px;">
            编号<input id="Number" name="Number" style="width:140px;" class="easyui-textbox" validtype="length[0,50]" value="@Model.Number" />
        </div>
        <tr>

            <th width="10%" rowspan="2">
                项目名称
            </th>
            <td width="40%" rowspan="2">
                <input name="ProjName" id="ProjName" style="width:98%;" class="easyui-textbox" data-options="required:true,editable:false" validType="length[0,500]" value="@Model.ProjName" />
                <a name="selectEng" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-plus'" style="display:none;" onclick="selectEng()">选择项目</a>
            </td>
            <th width="10%">项目编号</th>
            <td width="40%">
                <input name="ProjNumber" id="ProjNumber" style="width:98%;" class="easyui-textbox" data-options="required:true,editable:false" validType="length[0,500]" value="@Model.ProjNumber" />
                <input type="hidden" name="ProjID" id="ProjID" value="@Model.ProjID" />
                <input type="hidden" name="ProjPhaseId" id="ProjPhaseId" value="@Model.ProjPhaseId" />
                <input type="hidden" name="ProjPhaseName" id="ProjPhaseName" value="@Model.ProjPhaseName" />
            </td>
        </tr>
        <tr>
            <th width="10%">日期</th>
            <td width="40%">
                <input name="BGRQ" class="easyui-datebox" data-options="required:true,editable:false" validType="length[0,23]" value="@Model.BGRQ" />

            </td>
        </tr>
        <tr>
            <th width="10%">变更卷册</th>
            <td colspan="3">
                <span style="color:red;"><b>注：设计变更单填写之前请专业负责人先策划变更任务，并走完流程。任务名称建议：（变更）设计任务名称</b></span>
                <br />
                <br />
                <input type="hidden" id="JCName" name="JCName" value="@Model.JCName" />
                <a class="easyui-linkbutton" name="ChoiceJC" id="ChoiceJC" data-options="plain:true,iconCls:'fa fa-minus-circle'" onclick="SelectJC()">选择任务</a>
                <a class="easyui-linkbutton" name="ChoiceJC" id="ChoiceJC" data-options="plain:true,iconCls:'fa fa-minus-circle'" onclick="DeleteJC()">删除任务</a>
                <table id="tableJC"></table>
            </td>
        </tr>
        <tr>

            <th width="10%">变更原因</th>
            <td colspan="3">
                <textarea name="BGYY" style="width:98%;height:100px" class="easyui-textbox" data-options="multiline:true" validType="length[0,4000]">@Model.BGYY</textarea>
            </td>
        </tr>

        <tr>
            <th width="10%">变更依据</th>
            <td colspan="3">
                <textarea name="BGYJ" style="width:98%;height:100px" class="easyui-textbox" data-options="multiline:true" validType="length[0,4000]">@Model.BGYJ</textarea>
            </td>

        </tr>
        <tr>
            <th width="10%">变更内容</th>
            <td colspan="3">
                <textarea name="BGNR" style="width:98%;height:160px" class="easyui-textbox" data-options="multiline:true" validType="length[0,4000]">@Model.BGNR</textarea>
            </td>
        </tr>
        <tr>
            <th width="10%">变更涉及的原设计文件册号</th>
            <td colspan="3">
                <textarea name="BGJC" style="width:98%;height:80px" class="easyui-textbox" data-options="multiline:true" validType="length[0,4000]">@Model.BGJC</textarea>
            </td>
        </tr>
        <tr>
            <th width="10%">
                变更涉及的其他专业及专业负责人签署
            </th>
            <td colspan="3">
                <textarea name="XGZYFZR" style="width:98%;height:80px" class="easyui-textbox" data-options="multiline:true" validType="length[0,200]">@Model.XGZYFZR</textarea>
                <input type="hidden" name="XGZYFZRID" id="XGZYFZRID" value="@Model.XGZYFZRID" />
            </td>
        </tr>
        <tr id="SignTd">
            <th></th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>
                上传附件
            </th>
            <td colspan="3">
                @{
                    var uploader = new DataModel.FileUploader();
                    uploader.RefID = Model.Id;
                    uploader.RefTable = "IsoSJBGD";
                    uploader.Name = "UploadFile1";
                    @(Html.Partial("~/Areas/Core/Views/UserControl/FileUploader.cshtml", uploader))
                }
            </td>
        </tr>
    </table>

                    }
