@model DataModel.Models.OaCar
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'OaCarForm',//formid提交需要用到
        buttonTypes: ['submit', 'close'],//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        }
    });
</script>
@using (Html.BeginForm("save", "OaCar", FormMethod.Post, new { @area = "Oa", @id = "OaCarForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-bordered">
	 
                        <tr>
                        <th width="10%">车辆名称</th>
                        <td width="40%">
						<input name="CarName" style="width:98%;" class="easyui-textbox"  data-options="required:true"  validType="length[0,100]" value="@Model.CarName" />
                        </td>
                        <th width="10%">车牌号</th>
                        <td width="40%">
						<input name="CarNumber" style="width:98%;" class="easyui-textbox"   validType="length[0,100]" value="@Model.CarNumber" />
                        </td>
                        </tr>
 
                        <tr>
                        <th width="10%">乘座人数</th>
                        <td width="40%">
						<input name="CarSeat" style="width:98%;" class="easyui-numberspinner"   validType="length[0,10]" data-options="min:0" value="@Model.CarSeat" />
                        </td>
                        <th width="10%">标称油耗</th>
                        <td width="40%">
						<input name="CarOil" style="width:98%;" class="easyui-textbox"   validType="length[0,50]" value="@Model.CarOil" />
                        </td>
                        </tr>
 
                        <tr>
                        <th width="10%">驾驶员</th>
                        <td width="40%">
						<input name="CarDriver" style="width:98%;" class="easyui-textbox"   validType="length[0,50]" value="@Model.CarDriver" />
                        </td>
                        <th width="10%">购车日期</th>
                        <td width="40%">
						<input name="CarBuyDate" style="width:98%;" class="easyui-datebox"   validType="length[0,23]" value="@Model.CarBuyDate" />
                        </td>
                        </tr>
 
                     
        <tr>
            <th>
                上传附件
            </th>
            <td colspan="3">
                @{
                    var uploader = new DataModel.FileUploader();
                    uploader.RefID = Model.Id;
                    uploader.RefTable = "CarInfo";
                    uploader.Name = "UploadFile1";
                    @(Html.Partial("~/Areas/Core/Views/UserControl/FileUploader.cshtml", uploader))
                }
            </td>
        </tr>
    </table>
	
}



