@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@using JQ.Web;
@section head {
    <script type="text/javascript">
        var requestUrl = '@Url.Action("json", "IsoZYZDJYB",new { @area="Iso"})',
               addUrl = '@Url.Action("add","IsoZYZDJYB",new {@area="Iso" })',
               editUrl = '@Url.Action("edit", "IsoZYZDJYB",new {@area="Iso" })',
               delUrl = '@Url.Action("del", "IsoZYZDJYB", new { @area = "Iso" })';
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['add', 'edit', 'del', 'export'],//需要显示的按钮
                JQAddUrl: addUrl, //添加的路径
                JQEditUrl: editUrl,//编辑的路径
                JQDelUrl: delUrl, //删除的路径
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'IsoZYZDJYBGrid',//数据表格ID
                JQDialogTitle: '信息',//弹出窗体标题
                JQWidth: '1024',//弹出窗体宽
                JQHeight: '100%',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                JQFields: ["Id"],//追加的字段名
                JQSearch: {
                    id: 'JQSearch',
                    prompt: '项目编号、项目名称',
                    loadingType: 'datagrid',//默认值为datagrid可以不传
                },
                url: requestUrl,//请求的地址
                checkOnSelect: true,//是否包含check
                JQExcludeCol: [1,11,12,13],//导出execl排除的列
                fitColumns: false,
                nowrap: false,
                toolbar: '#IsoZYZDJYBPanel',//工具栏的容器ID
                columns: [[
                    { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
                    { title: '项目编号', field: 'ProjNumber', width: 100, align: 'center', sortable: true },
                    { title: '项目名称', field: 'ProjName', width: 300, align: 'center', sortable: true },
                    { title: '阶段名称', field: 'ProjPhaseName', width: 80, align: 'center', sortable: true },
                    { title: '管理等级', field: 'Level', width: 80, align: 'center', sortable: true },
                    { title: '专业名称', field: 'SpecName', width: 80, align: 'center', sortable: true },
                    { title: '专业负责人', field: 'SpecEmpName', width: 80, align: 'center', sortable: true },
                    {
                        title: '是否设计评审', field: 'IsReviewShow', width: 100, align: 'center', sortable: true, formatter: function (val, row) {
                            switch (row.IsReview) {
                                case 1:
                                    row.IsReviewShow = "是";
                                    break;
                                case 2:
                                    row.IsReviewShow = "否";
                                    break;
                                default:
                                    row.IsReviewShow = "";
                                    break;
                            }
                            return row.IsReviewShow;
                        }
                    },
                    {
                        title: '是否特殊验证', field: 'IsValidateShow', width: 100, align: 'center', sortable: true, formatter: function (val, row) {
                            switch (row.IsValidate) {
                                case 1:
                                    row.IsValidateShow = "是";
                                    break;
                                case 2:
                                    row.IsValidateShow = "否";
                                    break;
                                default:
                                    row.IsValidateShow = "";
                                    break;
                            }
                            return row.IsValidateShow;
                        }
                    },
                    { title: '是否技术规定', field: 'IsTYGDShow', width: 100, align: 'center', sortable: true, formatter: function (val, row) {
                            switch (row.IsTYGD) {
                                case 1:
                                    row.IsTYGDShow = "是";
                                    break;
                                case 2:
                                    row.IsTYGDShow = "否";
                                    break;
                                default:
                                    row.IsTYGDShow = "";
                                    break;
                            }
                            return row.IsTYGDShow;
                        } },
                    { field: 'JQFiles', title: '附件', align: 'center', width: 80, JQIsExclude: true, JQRefTable: 'IsoZYZDJYB' },
                    {
                        field: "FlowProgress", title: "流程进度", align: "left", halign: "center", width: "8%", formatter: JQ.Flow.showProgress("FlowID", "FlowName", "FlowStatusID", "FlowStatusName", "FlowTurnedEmpIDs", "CreatorEmpId", "@(ViewBag.CurrEmpID)")
                    },
                    {
                        field: 'opt', title: '操作', width: "40", align: 'center', JQIsExclude: true,
                        formatter: function (value, row, index) {
                            var title = "查看";
                            if (row._EditStatus == 1) {
                                title = "修改";
                            }
                            else if (row._EditStatus == 2) {
                                title = "处理";
                            }
                            return "<a class='easyui-linkbutton' onclick='Look(" + row.Id + ")'>" + title + "</a>";
                        }
                    }
                ]],
                onBeforeCheck: function (rowIndex, rowData) {
                    return rowData._AllowCheck;
                },
                onClickRow: function (rowIndex, rowData) {
                    if (!rowData._AllowCheck) {
                        $(this).datagrid('unselectRow', rowIndex);
                    }
                },
                onLoadSuccess: function (data) {
                    $("div.datagrid-header-check input[type='checkbox']").attr("style", "display:none");
                    var rowViews = $("#IsoZYZDJYBGrid").parent().find(".datagrid-view2 .datagrid-body tr.datagrid-row");
                    for (var i = 0; i < data.rows.length; i++) {
                        if (!data.rows[i]._AllowCheck) {
                            rowViews.filter("[datagrid-row-index='" + i + "']").find("td[field='ck'] :checkbox").prop("disabled", "disabled");
                        }
                    }
                }
            });
        });

        function Look(val) {
            JQ.dialog.dialog({
                title: "设计专业指导纪要表",
                url: editUrl + "?Id=" + val,
                width: '1000',
                height: '100%',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-search',
                onClose: function () {
                    $("#IsoZYZDJYBGrid").datagrid("reload");
                }

            });
        }
    </script>
}

@section Body_Content{
    <table id="IsoZYZDJYBGrid"></table>
    <div id="IsoZYZDJYBPanel" JQPanel="searchPanel" style="padding:5px;height:auto;">
        <span JQPanel="toolbarPanel">

        </span>

        <input id="JQSearch" style="width:250px;" JQWhereOptions="{ 'Key': 'ProjNumber,ProjName', 'Contract': 'like' }" />

    </div>
}

