@model DataModel.Models.PayBalanceUserAccount
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'PayBalanceChangeHistForm',//formid提交需要用到
        buttonTypes: ['submit', 'close'],//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        }
    });
    $("#BalanceMoney").numberspinner({
        required: true,
        precision: 2
    });
    $("#Reason").textbox({
        required: true
    });
</script>
@using (Html.BeginForm("save", "PayBalanceChangeHist", FormMethod.Post, new { @area = "pay", @id = "PayBalanceChangeHistForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-bordered">
        <tr>
            <td colspan="4">
                <span style="font-size:16px;font-weight:bold;">结算信息 </span>
            </td>
        </tr>
        <tr>
            <th>
                结算名称
            </th>
            <td>
                <label id="LotName">@ViewBag.LotName</label>
            </td>
            <th>
                结算时间
            </th>
            <td>
                <label id="LotDate">@ViewBag.LotDate</label>
            </td>
        </tr>
        <tr>
            <th>
                姓名
            </th>
            <td colspan="3">
                <label id="Name">@ViewBag.Name</label>
            </td>
        </tr>
        <tr>
            <th>
                比例  
            </th>
            <td>
                <label id="Percent">@Model.BalancePercent</label>
            </td>
            <th>
                产值
            </th>
            <td>
                <label id="Product">@Model.BalanceAmount</label>
            </td>
        </tr>
        <tr>
            <th>
                修改金额
            </th>
            <td colspan="3">
                <input id="BalanceMoney" name="BalanceMoney" style="width:98%;" data-options="min:0" class="easyui-numberspinner" validType="length[0,10]" value="@Model.BalanceMoney" />
            </td>
        </tr>
        <tr>
            <th>
                修改原因
            </th>
            <td colspan="3">
                <input name="Reason" id="Reason" style="width:98%;height:80px;" class="easyui-textbox" data-options="multiline:true" validType="length[0,2000]"/>

            </td>
        </tr>
    </table>

}


