@model DataModel.Models.BaseEmpTeam
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'BaseEmpTeamForm',//formid提交需要用到
        buttonTypes: ['submit', 'close'],//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        }
    });
    //多选人员
    JQ.textbox.selEmp({
        id: 'selTeamMembers',
        setID: 'TeamMembers',
        width: '90%',
    });
</script>
@using (Html.BeginForm("save", "BaseEmpTeam", FormMethod.Post, new { @area = "Core", @id = "BaseEmpTeamForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-bordered">
        <tr>
            <th width="10%">团队名称</th>
            <td width="40%">
                <input name="TeamName" style="width:98%;" class="easyui-textbox" data-options="required:true" validType="length[0,50]" value="@Model.TeamName" />
            </td>
            <th width="10%">团队类别</th>
            <td width="40%">
                <input id="TeamType" name="TeamType" style="width:98%;" class="easyui-combobox" data-options="editable:false,valueField:'label',textField: 'value',data: [{label: '0',value: '个人团队'},{label: '1',value: '公共团队'}]" validType="length[0,10]" value="@Model.TeamType" />
            </td>
        </tr>
        <tr>
            <th width="10%">创建时间</th>
            <td width="40%">
                <input name="CreationTime" style="width:98%;" class="easyui-datebox" readonly="readonly" data-options="required:true" validType="length[0,23]" value="@Model.CreationTime" />
            </td>
            <th width="10%">创建人姓名</th>
            <td width="40%">
                <input name="CreatorEmpName" style="width:98%;" class="easyui-textbox" readonly="readonly" data-options="required:true" validType="length[0,50]" value="@Model.CreatorEmpName" />
            </td>
        </tr>
        <tr>
            <th width="10%">团队成员</th>
            <td width="40%" colspan="3">
                <input name="selTeamMembers" id="selTeamMembers" style="width:98%;" class="easyui-textbox" data-options="required:true" validType="length[0,50]" value="@ViewBag.TeamMembersName" />
                <input type="hidden" id="TeamMembers" name="TeamMembers" value="@Model.TeamMembers" />
            </td>
        </tr>
        <tr>
            <th width="10%">团队备注</th>
            <td width="40%" colspan="3">
                <textarea name="TeamNote" style="width:98%; height:60px;" class="easyui-textbox" validType="length[0,50]">@Model.TeamNote</textarea>
            </td>
        </tr>
    </table>
}



