<html>
<head>
    <style type="text/css">
        .taskitem {
            float: left;
            width: 100%;
            font-size: 13px;
            line-height: 18px;
            cursor: pointer;
            color: #004b58;
            -webkit-user-select: none;
        }

            .taskitem:hover {
                color: #096b7d;
            }

        .taskamount {
            font-size: 14px;
            color: #c61e1e;
            font-weight: 600;
            margin: 0px 2px 0px 2px;
        }
    </style>
</head>
<body>
    @{
        if (ViewBag.Loaded)
        {
            if (ViewBag.TaskAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('Task')">您有<span class="taskamount">@(ViewBag.TaskAmount)</span>条待处理工程任务</div>
            }
            if (ViewBag.ProjectFormAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('ProjectForm')">您有<span class="taskamount">@(ViewBag.ProjectFormAmount)</span>条待处理项目表单任务</div>
            }
            if (ViewBag.OAFormAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('OAForm')">您有<span class="taskamount">@(ViewBag.OAFormAmount)</span>条待处理办公表单任务</div>
            }
            if (ViewBag.ExchangeAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('Exchange')">您有<span class="taskamount">@(ViewBag.ExchangeAmount)</span>条待工程收资</div>
            }
            if (ViewBag.MessageAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('Message')">您有<span class="taskamount">@(ViewBag.MessageAmount)</span>条未读消息</div>
            }
            if (ViewBag.MailAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('Mail')">您有<span class="taskamount">@(ViewBag.MailAmount)</span>条未读邮件</div>
            }
            if (ViewBag.SchedulerAmount > 0)
            {
                <div class="taskitem" onclick="showMessage('Scheduler')">您有<span class="taskamount">@(ViewBag.SchedulerAmount)</span>日程提醒</div>
            }
        }
        else
        {
            <div>
                未查找到任何相关提醒
            </div>
        }
    }
</body>
</html>
<script type="text/javascript">
    function showMessage(data) {
        JinQu.query("showMessage", { title: data, src: "" }, null, null, null);
    }
</script>