@{
    Layout = "~/Areas/Core/Views/Mobile/_Layout.cshtml";
}

@using JQ.Web;
@model DataModel.Models.IsoForm


@section head {
    <style type="text/css">
        .aui-btn {
            padding: 10px 15px;
            font-size: 13px;
        }

        .aui-btn-row:after {
            border: 0;
        }

        .jq-text-disabled {
            color: #898787;
            width: 98%;
            pointer-events: none;
            background-color: #efefef !important;
            border: 0;
            font-size: 13px;
        }

        .set-disabled {
            pointer-events: none !important
        }

        .error {
            color: red;
            font-size: 14px;
            display: block;
        }

        .hidden {
            display: none;
        }

        .aui-input-hook {
            line-height: 34px;
            text-align: left;
            padding-left: 20px;
            background: #efefef;
        }

        .aui-display-hook {
            display: none;
            width: 30%;
            float: right;
            font-size: 13px;
            line-height: 33px;
            margin-right: 6px;
            padding: 3px 6px;
        }

        .aui-input-width {
            width: 98%;
        }

        .hiddenShow {
            height: 0;
        }

        .aui-input-row label.aui-input-addon {
            min-width: 90px;
        }

        .set-selected-icon select {
            float: right;
            margin-right: 5px;
            border: 0;
            margin-bottom: 0;
        }

        .set-selected-icon i {
            position: absolute;
            right: 25px;
            top: 15px;
        }
        /*.aui-input-row input, .aui-input-row select, .set-selected-icon .aui-input-addon {
            color: #9e9e9e;
        }*/

        .aui-input-row-position {
            position: relative;
            display: table;
            padding: 6px 0;
        }

        .aui-input-row label.aui-input-addon {
            font-size: 14px;
        }

        .error-border {
            border: 1px solid red !important;
        }

        .aui-input-check-disable {
            font-size: 12px !important;
            font-weight: normal !important;
        }

            .aui-input-check-disable label {
                line-height: 45px;
                margin-right: 15px;
            }

            .aui-input-check-disable input[type="checkbox"] {
                width: auto;
                line-height: 45px;
            }
    </style>
}

@section Body_Content{
    <div class="aui-content" style="overflow-x:hidden">
        <form id="IsoFormProjSubYSForm" class="aui-form">
            <div class="aui-input-row">
                <div id="divXml" style="display:none">
                    @(ViewBag.contentXml)
                </div>
                <input type="hidden" id="CompanyType" name="CompanyType" value="CJ" />
                <input id="FormID" name="FormID" type="hidden" value="@Model.FormID" />

            </div>

            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;项目外委信息：</label>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="ProjPhaseGrid" style="font-size:12px;">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkAll">
                                    <input type="checkbox" name="name" value="" />
                                </div>
                            </th>
                            <th>外委编号</th>
                            <th>外委名称</th>
                            <th>项目编号</th>
                            <th>项目名称</th>
                            <th>外委时间</th>
                            <th>登记时间</th>

                        </tr>
                    </thead>
                    <tbody id="gridList" style="font-size:12px;"></tbody>
                </table>
            </div>

            <script id="listTpl" type="text/x-dot-template">
                {{~it:appendProjectGetInfoData:index}}
                <tr id="tr_{{=index}}">

                    <td>
                        <div class="checkbox" style="margin:0">
                            <input type="checkbox" name="subBox" value="" />
                        </div>
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.SubNumber}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.SubName}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjNumber}}
                    </td>
                    <td>
                        {{=appendProjectGetInfoData.ProjName}}
                    </td>
                    <td>
                        {{=(Date.jsonStringToDate(appendProjectGetInfoData.ColAttDate1)).getFullYear() =='1900' ? '':(Date.jsonStringToDate(appendProjectGetInfoData.ColAttDate1)).format("yyyy-MM-dd")}}
                    </td>
                    <td>
                        {{=(Date.jsonStringToDate(appendProjectGetInfoData.CreationTime)).getFullYear() =='1900' ? '':(Date.jsonStringToDate(appendProjectGetInfoData.CreationTime)).format("yyyy-MM-dd")}}
                    </td>
                </tr>
                {{~}}
            </script>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;验收情况记录</label>
                <textarea rows="6" name="YSQKJL" id="YSQKJL" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]"></textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;评价意见</label>
                <textarea rows="6" name="PJJY" id="PJJY" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]"></textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;参加验收部门</label>
                <textarea rows="6" name="CJYSBM" id="CJYSBM" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]"></textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;参加验收人员</label>
                <textarea rows="6" name="CJYSRY" id="CJYSRY" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]"></textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;验收人员签字</label>
                <textarea rows="6" name="YSRMQZ" id="YSRMQZ" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]"></textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;验收组长</label>
                <textarea rows="6" name="YSZZ" id="YSZZ" style="width:98%;overflow:auto;" class="aui-input"></textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;登记时间</label>
                <input type="date" id="ColAttDate1" name="ColAttDate1" class="aui-input" value="@Model.ColAttDate1.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;验收日期</label>
                <input type="date" id="ColAttDate2" name="ColAttDate2" class="aui-input" value="@Model.ColAttDate2.ToString("yyyy-MM-dd")" />
            </div>
            <input type="hidden" id="ProjSubIDs" name="ProjSubIDs" />
            <input type="hidden" id="strYSQKJL" name="strYSQKJL" />
            <input type="hidden" id="strPJJY" name="strPJJY" />
            <input type="hidden" id="strCJYSBM" name="strCJYSBM" />
            <input type="hidden" id="strCJYSRY" name="strCJYSRY" />
            <input type="hidden" id="strYSRMQZ" name="strYSRMQZ" />
            <input type="hidden" id="strYLDYJ" name="strYLDYJ" />
            <input type="hidden" id="strYSZZ" name="strYSZZ" />
            @*<div class="aui-input-row">
                    <div class="aui-btn aui-btn-block aui-btn-success p-0" onclick="validateFormBegin()">提交</div>
                </div>*@
        </form>
    </div>


    <script type="text/javascript">

        $(function () {
            if (window.JinQuMobile == undefined) {
                //initFormBegin(JSON.stringify({
                //    "Result": true,
                //    "Message": null,
                //    "NodeName": "发起审批",
                //    "AllowEditControls": "ProjNumber;ProjName;ProjEmpId;ProjTypeID;ColAttType2;ProjAreaID;ColAttType1;ProjPropertyID;ProjVoltID;TaskBasisName;TaskBasisNumber;CustName;ProjTaskSource;ProjDepId;ProjJoinDepIds;CreatorEmpName;DateCreate;DatePlanStart;DatePlanFinish;ProjTaskSource;ProjFeeSource;DatePlanDeliver;ProjDemand;ProjNoteOther;btnAddUnit;btnRemoveUnit;UploadFile1;btnChoice;btnInput;ProjPhaseGrid{ProjNumber,ProjName,ProjEmpId,ProjTypeID,DatePlanStart,DatePlanFinish,ProjPhaseIds,ProjFee,ProjDemand,ProjNoteOther,ProjVoltID,ColAttType3,ColAttVal3,ColAttVal4,ColAttVal5,ProjPhaseInfo};ColAttType4;ProjTaskContent;ProjCostGrid{ModelTempFee,ModelFactFee};btnImportUnit;btnDownImportExcel;CustID;CustLinkId;CustLinkTel;CustLinkWeb;ColAttVal1",
                //    "SignControls": ""
                //    //"AllowEditControls":""

                //}));
                //initFormBegin();
            }

        })


        //表单初始化
        function initFormBegin(params) {
            //alert(params)


            if(@Model.FormID>0)
            {
                $("#ProjSubIDs").val(@Model.ProjID);
            }

            //获取数据
            $.post('@Url.Action("GetProjSubList", "ProjSub", new { @area= "Project" })' + "?CompanyType=CJ" + "", {
                ProjSubIDs: $("#ProjSubIDs").val()
            }, function (_rData) {
                console.log(JSON.parse(_rData))
                //datas = JSON.parse(_rData)
                var appendProjectGetInfoData = JSON.parse(_rData).rows
                if (appendProjectGetInfoData.length > 0) {
                    var interText = doT.template($("#listTpl").text())
                    $("#gridList").html(interText(appendProjectGetInfoData));
                }
                else {
                    console.log('暂无数据')
                }
            })

            var GoldPM = {
                loadXml: function (xmlContent) {
                    var xmlDoc;
                    if ("ActiveXObject" in window) {
                        xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                        xmlDoc.async = "false";
                        xmlDoc.loadXML(xmlContent);
                    }
                    else if (window.DOMParser) {
                        parser = new DOMParser();
                        xmlDoc = parser.parseFromString(xmlContent, "text/xml");
                    }
                    return xmlDoc;
                },
                selectNodes: function (node, xpath) {
                    if ("ActiveXObject" in window) {
                        return node.selectNodes(xpath);
                    }
                    else {
                        var xpe = new XPathEvaluator();
                        var nsResolver = xpe.createNSResolver(node.ownerDocument == null ? node.documentElement : node.ownerDocument.documentElement);
                        var result = xpe.evaluate(xpath, node, nsResolver, 0, null);
                        var found = [];
                        var res;
                        while (res = result.iterateNext())
                            found.push(res);
                        return found;
                    }
                }
            }
            var flag = decodeURIComponent($("#divXml").text().trim());
            if (flag) {
                var xml = GoldPM.loadXml(flag);
                var items = GoldPM.selectNodes(xml, "Root/Item");
                for (var i = 0; i < items.length; i++) {
                    var name = items[i].getAttribute("name");
                    var text = items[i].text || items[i].innerHTML;
                    $("#" + name).val(text);
                }
            }

            params = params.replace(/[\r\n]/g, "");//去除换行
            params = params.replace(/\s/g, "");
            var paramsObj = JSON.parse(params);
            paramsObj.AllowEditControls = paramsObj.AllowEditControls || '-';

            //清除时间，默认为1900-01-01改为空

            var ColAttDate1 = $('#ColAttDate1').val(); //登记时间
            var ColAttDate2 = $('#ColAttDate2').val(); //验收日期

            if (ColAttDate1 == '1900-01-01') {
                $('#ColAttDate1').val('');
            }
            if (ColAttDate2 == '1900-01-01') {
                $('#ColAttDate2').val('');
            }

            //设置表单不可编辑样式及只读
            $('form :input').addClass('jq-text-disabled').attr("readonly", "readonly");
            DomUtil.setCtrlsReadonly(paramsObj.AllowEditControls, document.getElementById('IsoFormProjSubYSForm'));

            //if (paramsObj.AllowEditControls == "{}") {
            //    $('#YSQKJL,#PJJY,#CJYSBM,#CJYSRY,#YSRMQZ,#YSZZ').removeClass('jq-text-disabled').addClass('aui-input')
            //    $("#YSQKJL,#PJJY,#CJYSBM,#CJYSRY,#YSRMQZ,#YSZZ").css({
            //        overflow: 'auto',

            //    })
            //}
            //else {
            //    $('#YSQKJL,#PJJY,#CJYSBM,#CJYSRY,#YSRMQZ,#YSZZ').removeClass('jq-text-disabled').attr("readonly", "readonly")
            //    $("#YSQKJL,#PJJY,#CJYSBM,#CJYSRY,#YSRMQZ,#YSZZ").css({
            //        overflow: 'auto',
            //        background: '#efefef',
            //        color: '#898787'
            //    })

            //}


            //验收情况记录	，替换换行符
            var YSQKJLValue = $('#YSQKJL').val();
            YSQKJLValue = YSQKJLValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#YSQKJL').val(YSQKJLValue);

            //评价意见	，替换换行符
            var PJJYValue = $('#PJJY').val();
            PJJYValue = PJJYValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#PJJY').val(PJJYValue);

            //参加验收部门，替换换行符
            var CJYSBMValue = $('#CJYSBM').val();
            CJYSBMValue = CJYSBMValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#CJYSBM').val(CJYSBMValue);

            //参加验收人员，替换换行符
            var CJYSRYValue = $('#CJYSRY').val();
            CJYSRYValue = CJYSRYValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#CJYSRY').val(CJYSRYValue);

            //验收人员签字，替换换行符
            var YSRMQZValue = $('#YSRMQZ').val();
            YSRMQZValue = YSRMQZValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#YSRMQZ').val(YSRMQZValue);

            //验收组长，替换换行符
            var YSZZValue = $('#YSZZ').val();
            YSZZValue = YSZZValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#YSZZ').val(YSZZValue);

            //告诉移动端页面初始完完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.FormEnd();
            }
        }
        /*----------------------------------------------------------------------------------------------*/
        //表单验证交互
        function validateFormBegin() {
            var formVali = $('#IsoFormProjSubYSForm').validate({
                rules: {
                    ColAttDate1: 'required',
                    ColAttDate2: 'required'
                },
                messages: {
                    ColAttDate1: '请输入登记时间',
                    ColAttDate2: '请输入验收日期'
                }
            });
            isValidate = formVali.form();
            if (isValidate) {
                $("#strYSQKJL").val($("#YSQKJL").val());
                $("#strPJJY").val($("#PJJY").val());
                $("#strCJYSBM").val($("#CJYSBM").val());
                $("#strCJYSRY").val($("#CJYSRY").val());
                $("#strYSRMQZ").val($("#YSRMQZ").val());
                $("#strYLDYJ").val($("#YLDYJ").val());
                $("#strYSZZ").val($("#YSZZ").val());
                var formData = DomUtil.serialize(document.getElementById('IsoFormProjSubYSForm'));//json or =&
                console.log(formData)
                //告诉移动端页面初始完完毕
                if (window.JinQuMobile) {
                    window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
                }
            }
        }

        /*----------------------------------------------------------------------------------------------*/
        //不走验证流程
        function noValidateFormBegin(params) {
            var formData = DomUtil.serialize(document.getElementById('IsoFormProjSubYSForm'));//json or =&
            //告诉移动端页面验证完毕

            if (window.JinQuMobile) {
                window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
            }
        }

    </script>
}
