@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@using JQ.Web;
@section head {
    <script type="text/javascript">
    var requestUrl = '@Url.Action("json", "IsoDesignReturn",new { @area="Iso"})',
           addUrl = '@Url.Action("add","IsoDesignReturn",new {@area="Iso" })',
           editUrl = '@Url.Action("edit", "IsoDesignReturn",new {@area="Iso" })',
           delUrl = '@Url.Action("del", "IsoDesignReturn", new { @area = "Iso" })';
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['add', 'edit', 'del', 'export'],//需要显示的按钮
                JQAddUrl: addUrl, //添加的路径
                JQEditUrl: editUrl,//编辑的路径
                JQDelUrl: delUrl, //删除的路径
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'IsoDesignReturnGrid',//数据表格ID
                JQDialogTitle: '信息',//弹出窗体标题
                JQWidth: '1024',//弹出窗体宽
                JQHeight: '100%',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                JQExcludeCol: [1, 10, 11, 12],//导出execl排除的列
                JQFields: ["Id"],//追加的字段名
                JQSearch: {
                    id: 'JQSearch',
                    prompt: '项目编号、项目名称',
                    loadingType: 'datagrid',//默认值为datagrid可以不传
                },
                url: requestUrl,//请求的地址
                checkOnSelect: true,//是否包含check
                fitColumns: false,
                nowrap: false,
                toolbar: '#IsoDesignReturnPanel',//工具栏的容器ID
                columns: [[
                    { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
                    { title: '项目编号', field: 'ProjNumber', width: 100, align: 'center', sortable: true },
                    { title: '项目名称', field: 'ProjName', width: 300, align: 'center', sortable: true },
                    { title: '回访对象', field: 'ReturnPerson', width: 100, align: 'center', sortable: true },
                    { title: '组织部门', field: 'OrganizeDepart', width: 100, align: 'center', sortable: true },
                    { title: '参与人', field: 'Participant', width: 100, align: 'center', sortable: true },
                    { title: '内容', field: 'Text', width: 100, align: 'center', sortable: true },
                    { title: '是否解决', field: 'IsResolved', width: 100, align: 'center', sortable: true },
                    { title: '是否反馈', field: 'IsResponse', width: 100, align: 'center', sortable: true },
                    { field: 'JQFiles', title: '附件', align: 'center', width: 80, JQIsExclude: true, JQRefTable: 'IsoDesignReturn' },
                    {
                        field: "FlowProgress", title: "流程进度", align: "left", halign: "center", width: "8%", formatter: JQ.Flow.showProgress("FlowID", "FlowName", "FlowStatusID", "FlowStatusName", "FlowTurnedEmpIDs", "CreatorEmpId", "@(ViewBag.EmpId)")
                    },
                    {
                        field: 'opt', title: '操作', width: "40", align: 'center', JQIsExclude: true,
                        formatter: function (value, row, index) {
                            var title = "查看";
                            if (row._EditStatus == 1) {
                                title = "修改";
                            }
                            else if (row._EditStatus == 2) {
                                title = "处理";
                            }
                            return "<a class='easyui-linkbutton' onclick='Look(" + row.Id + ")'>" + title + "</a>";
                        }
                    }
                ]],
                onBeforeCheck: function (rowIndex, rowData) {
                    return rowData._AllowCheck;
                },
                onClickRow: function (rowIndex, rowData) {
                    if (!rowData._AllowCheck) {
                        $(this).datagrid('unselectRow', rowIndex);
                    }
                },
                onLoadSuccess: function (data) {
                    $("div.datagrid-header-check input[type='checkbox']").attr("style", "display:none");
                    var rowViews = $("#IsoDesignReturnGrid").parent().find(".datagrid-view2 .datagrid-body tr.datagrid-row");
                    for (var i = 0; i < data.rows.length; i++) {
                        if (!data.rows[i]._AllowCheck) {
                            rowViews.filter("[datagrid-row-index='" + i + "']").find("td[field='ck'] :checkbox").prop("disabled", "disabled");
                        }
                    }
                }
            });
        });


        function Look(val) {
            debugger;
            JQ.dialog.dialog({
                title: "设计回访纪要表",
                url: editUrl + "?Id=" + val,
                width: '1000',
                height: '100%',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-search',
                onClose: function () {
                    $("#IsoDesignReturnGrid").datagrid("reload");
                }

            });
        }
    </script>
}

@section Body_Content{
    <table id="IsoDesignReturnGrid"></table>
    <div id="IsoDesignReturnPanel" JQPanel="searchPanel" style="padding:5px;height:auto;">
        <span JQPanel="toolbarPanel">

        </span>

        <input id="JQSearch" style="width:250px;"  JQWhereOptions="{ 'Key': 'ProjNumber,ProjName', 'Contract': 'like' }"/>

    </div>
}

