@{
    Layout = "~/Areas/Core/Views/Mobile/_Layout.cshtml";
}

@using JQ.Web;
@model DataModel.Models.Trip
@section head {
 <style type="text/css">

    .aui-btn {
        padding: 10px 15px;
        font-size: 13px;
    }

    .aui-btn-row:after {
        border: 0;
    }

    .p-15 {
        padding: 15px;
    }


    .set-disabled {
        pointer-events: none !important
    }

    .error {
        color: red;
        font-size: 14px;
        display: inline-block;
    }

    .hidden {
        display: none;
    }

    .aui-input-hook {
        line-height: 34px;
        text-align: left;
        padding-left: 20px;
        background: #efefef;
    }

    .aui-display-hook {
        display: none;
        width: 30%;
        float: right;
        font-size: 13px;
        line-height: 33px;
        margin-right: 6px;
        padding: 3px 6px;
    }

    .aui-input-width {
        width: 98%;
    }

    .hiddenShow {
        height: 0;
    }

    .aui-input-row label.aui-input-addon {
        min-width: 90px;
    }

    .set-selected-icon select {
        float: right;
        margin-right: 5px;
        border: 0;
        margin-bottom: 0;
    }

    .set-selected-icon i {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .aui-input-row-position {
        position: relative;
        display: table;
        padding: 6px 0;
    }

    .aui-input-row label.aui-input-addon {
        font-size: 14px;
    }

    .jq-text-disabled {
        color: #898787;
        width: 98%;
        pointer-events: none;
        background-color: #efefef !important;
        border: 0;
        font-size: 13px;
    }
     .aui-dialog {
         z-index: 999;
     }
     .error-border {
         border: 1px solid red !important;
     }
     .aui-input-check-disable {
         font-size: 12px !important;
         font-weight: normal !important;
     }

    .aui-input-check-disable label {
        line-height: 45px;
        margin-right: 15px;
    }

    .aui-input-check-disable input[type="checkbox"], .aui-input-check-disable input[type="radio"] {
        width: auto;
        line-height: 45px;
    }

   
</style>
}

@section Body_Content{
    <div class="aui-content">
        <form id="TripForm" class="aui-form">
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;申请日期</label>
                <input name="ApplicationDate" id="ApplicationDate" type="date" class="aui-input" value="@Model.ApplicationDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <input id="Id" name="Id" type="hidden" value="@Model.Id" />
                <input id="EmpID" name="EmpID" type="hidden" value="@ViewBag.EmpID" />
                <label class="aui-input-addon">&nbsp;&nbsp;出差人</label>
                <input name="EmpName" id="EmpName" type="text" class="aui-input" value="@ViewBag.EmpName"/>
                <input name="CreatorDepName1" id="CreatorDepName1" type="hidden" class="aui-input" value="@Model.CreatorDepName" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;出差天数</label>
                <input name="Days" id="Days" type="number" class="aui-input" value="@Model.Days" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;出差起始日期</label>
                <input name="StartDate" id="StartDate" type="date" class="aui-input" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;结束时间</label>
                <input name="EndDate" id="EndDate" type="date" class="aui-input" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;出差省市与地区</label>
                <input name="TripReceive" id="TripReceive" type="text" class="aui-input" value="@Model.TripReceive" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;出差事由</label>
                <textarea rows="6" name="TripReason" id="TripReason" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]">@Model.TripReason</textarea>
            </div>
            <div class="aui-input-row aui-input-check-disable" id="checkList">
                <label class="aui-input-addon">&nbsp;&nbsp;配合类型</label>
                <input name="radio" id="radio1" type="radio" />
                <label for="radio1" name="radio">飞机</label>

                <input name="radio" id="radio2" type="radio"/>
                <label for="radio2" name="radio">火车</label>

                <input name="radio" id="radio3" type="radio"/>
                <label for="radio3" name="radio">汽车</label>

                <input name="radio" id="radio4" type="radio"/>
                <label for="radio4" name="radio">动车</label>

                <br />
                <input name="radio" id="radio5" type="radio" />
                <label for="radio5" name="radio">公司车辆</label>

                <br />
                <input name="radio" id="radio6" type="radio"/>
                <label for="radio6" name="radio">其他</label>
                <input name="other" id="other" type="text" class="jq-text-disabled" style="width:60%;padding:5px 10px;margin-bottom:0"/>

                <input type="hidden" id="check" name="check" />
                <input type="hidden" id="checkVal" name="checkVal" value="@Model.TripType" />
                <input type="hidden" id="checkOutput" name="checkOutput" />
            </div>

            @*<div class="aui-input-row">
                <div class="aui-btn aui-btn-block aui-btn-success p-0" onclick="validateFormBegin()">提交</div>
            </div>*@
        </form>
    </div>
    <script type="text/javascript">
        var _webconfig = {
            serverUrl: '@Url.Content("~")'
        };
        $(function () {
            if (window.JinQuMobile == undefined) {
                initFormBegin(JSON.stringify({
                    "AllowEditControls": "{}"
                }));
                initFormBegin();
            }

        })

        //页面初始化
        function initFormBegin(params) {

            //alert(params)
            //去除换行
            params = params.replace(/[\r\n]/g, "");
            params = params.replace(/\s/g, "");

            var paramsObj = JSON.parse(params);
            //按钮替换
            paramsObj.AllowEditControls = paramsObj.AllowEditControls || '-';
            paramsObj.AllowEditControls = paramsObj.AllowEditControls.replace("StampID", "selectProjNameBtn");

            //清除时间审批时，默认为1900-01-01改为空
            var ApplicationDate = $('#ApplicationDate').val(); 
            var StartDate = $('#StartDate').val(); //开始时间
            if ((ApplicationDate == '1900-01-01')) {
                $('#ApplicationDate').val('');
            }
            if ((StartDate == '1900-01-01')) {
                $('#StartDate').val('');
            }
            if ((EndDate == '1900-01-01')) {
                $('#EndDate').val('');
            }


            $('#StartDate').change(function () {
                var endDateValue = $('#EndDate').val();
                var startDateValue = $('#StartDate').val();
                if (endDateValue != "" && startDateValue != "") {
                    var timeks = new Date(startDateValue);
                    var timejs = new Date(endDateValue);
                    var timediff = (timejs - timeks) / (1000 * 60 * 60 * 24) + 1;//这里算相差几分钟
                    if (timediff < 0) {
                        $.alert('开始时间不能大于结束时间');
                        $("#EndDate").val("");
                        $("#Days").val("");
                    }
                    else {
                        $("#Days").val(timediff)
                    }

                }
            })

            $('#EndDate').change(function () {
                var endDateValue = $('#EndDate').val();
                var startDateValue = $('#StartDate').val();
                if (endDateValue != "" && startDateValue != "") {
                    var timeks = new Date(startDateValue);
                    var timejs = new Date(endDateValue);
                    var timediff = (timejs - timeks) / (1000 * 60 * 60 * 24) + 1;//这里算相差几分钟
                    if (timediff < 0) {
                        $.alert('开始时间不能大于结束时间');
                        $("#EndDate").val("");
                        $("#Days").val("");
                    }
                    else {
                        $("#Days").val(timediff)
                    }

                }
            })



            //请假天数
            $("input[type='number']").change(function () {
                var res = /^[0-9]+.?[0-9]*$/;
                if (!res.test($("input[type='number']").val())) {
                    $.alert('请输入数字')
                    $("input[type='number']").val('');
                    return false;
                }
                if (!/^\d+$/.test($("input[name='Days']").val())) {
                    $.alert("请输入正确的天数");
                    $("input[name='Days']").val('');
                    return false;
                }
               
            })


            var otherValue = '';
            $('#checkList :radio').each(function (i,e) {
                var name = $(this).attr('name');
                var textAll = $(this).next().text();
                var type = $('#checkVal').val();

                if ('@Model.TripType' == textAll) {
                    //console.log($(this).attr("id"))
                    console.log('yes')
                    $("#" + $(this).attr("id")).attr('checked', 'true');
                    return false;
                }
                else { //其他
                    console.log('other')
                    var otherText = $('#checkVal').val().split(':')
                    if (otherText[0] == '其他') {
                        otherValue = otherText[1]
                    }
                    $('#radio6').attr('checked', 'true');
                    $('#other').val(otherValue);
                }


               // console.log(name)
            })
            $('#checkList :radio').each(function (i, e) {
                 $(this).click(function () {
                   // console.log($(this).next().text())
                    var text = $(this).next().text();
                   // alert('@Model.TripType')
                    if (text == '其他') {
                        $('#other').removeClass('jq-text-disabled').removeAttr("readonly");
                    }
                    else {
                        $('#other').val('');
                        $('#other').addClass('jq-text-disabled').attr("readonly", "readonly");
                    }
                    $('#checkOutput').val('□飞机  □火车  □汽车 □动车 □公司车辆  □其他'.replace('□' + text, '☑' + text));
                    console.log($('#checkOutput').val())
                    $('#checkVal').val($(this).next().text());
                })

            })


            //设置表单不可编辑样式及只读
            $('form :input').addClass('jq-text-disabled').attr("readonly", "readonly");
            DomUtil.setCtrlsReadonly(paramsObj.AllowEditControls, document.getElementById('TripForm'));

            if ($('#radio6').is(":checked")) {
                $('#other').removeClass('jq-text-disabled').removeAttr("readonly");
            }
            else {
                $('#other').addClass('jq-text-disabled').attr("readonly", "readonly");
            }


            if (paramsObj.AllowEditControls == "-") {
                $('#checkList input[type="radio"]').attr('disabled', 'disabled')
                if ($('#radio6').is(":checked")) {
                    $('#other').addClass('jq-text-disabled').attr("readonly", "readonly");
                }
            }

          //  $('#other').addClass('jq-text-disabled').attr("readonly", "readonly");

            //告诉移动端页面初始完完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.FormEnd();
            }
        }

        /*----------------------------------------------------------------------------------------------*/
        //表单验证交互

        function validateFormBegin() {
            var formVali = $('#TripForm').validate({
                rules: {
                    StartDate:'required',//开始时间
                    EndDate: 'required',//结束时间
                    VacationReason: {
                        required: false,
                        maxlength: 500
                    },

                },
                messages: {
                    StartDate:'请输入开始时间',
                    EndDate: '请输入结束时间', //结束时间
                    StampEmpesult: {
                        maxlength: '内容长度必须介于0-500之间'
                    }
                }
            });

           if ('@ViewBag.EmpName' == '请添加员工信息') {
                $.alert('请添加员工信息');
                return false;
            }
            isValidate = formVali.form();
            if (isValidate) {
                var type = $('#checkVal').val();
               // alert(type)
                if (type == '其他')
                    $('#checkVal').val(type + ':' + $('#other').val());
                else {
                    $('#checkVal').val(type);
                }

                var formData = DomUtil.serialize(document.getElementById('TripForm'));//json or =&
               // alert(JSON.stringify(formData))
                console.log(formData)
                //告诉移动端页面初始完完毕
                if (window.JinQuMobile) {
                    window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
                }
            }
        }

        /*----------------------------------------------------------------------------------------------*/
        //不走验证流程
        function noValidateFormBegin() {

            var type = $('#checkVal').val();
            //alert(type)
            if (type == '其他')
                $('#checkVal').val(type + ':' + $('#other').val());
            else {
                $('#checkVal').val(type);
            }
            var formData = DomUtil.serialize(document.getElementById('TripForm'));//json or =&
           // alert(JSON.stringify(formData))
            //告诉移动端页面验证完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
            }
        }



    </script>
}
