@model DataModel.Models.BussContractOtherInvoice
@using JQ.Web;
<script type="text/javascript">

        JQ.form.submitInit({
            formid: 'BussContractOtherInvoiceForm',//formid提交需要用到
            buttonTypes: ['submit', 'close'],//默认按钮
            succesCollBack: function (data) {//成功回调函数,data为服务器返回值
                JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
                JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
            },
            beforeFormSubmit: function () {
                accept();
            }
        });


    $("#ConOtherInvoiceGrid").datagrid({
        iconCls: 'icon-edit',
        multiSelect: false,
        rownumbers: true,
        fitColumns: true,
        //selectOnCheck: true,
        //checkOnSelect: true,
        toolbar: '#toolBar',
        url: '@Url.Action("jsonOtherInvoiceAdd", "BussContractOtherInvoice", new { @area = "Bussiness" })?Id=@Model.Id' + "&ConOtherID=@Model.RefID" + "&RefTable=@Model.RefTable" + "&ConOtherTypeID=@Model.ConOtherTypeID",//请求的地址
        columns: [[
                    {

                        title: '合同名称', field: 'RefID', width: 180, align: 'center',
                        formatter: function (value, row) {
                            return row.ConrName;
                        },
                        editor: {
                            type: "combogrid",
                            options: {
                                panelWidth: 650,
                                idField: 'Id',
                                textField: 'ConrName',
                                url: '@Url.Action("json", "BussContractOther")?CompanyType=SJ&ConTypeID=1',  // ?ConTypeID=0
                                queryParams: {},
                                pagination: true,
                                nowrap: false,//是否换行
                                striped: true,
                                method: 'post',
                                singleSelect: true,
                                required: true,
                                columns: [[
                                            { field: 'Id', title: '合同编号', width: 100, hidden: true, halign: 'center' },
                                            { field: 'ConrName', title: '合同名称', width: 230, halign: 'center' },
                                            { field: 'ConNumber', title: '合同编号', width: 150, halign: 'center' },
                                            { field: 'CustName', title: '客户单位', width: 150, halign: 'center' },
                                           { field: 'ConFee', title: '合同金额（元）', width: 100, align: 'right' }
                                ]],
                                keyHandler: {
                                    query: function (keyword) {
                                        var _params = $(this).combogrid("grid").datagrid("options").queryParams;
                                        _params.Filter = keyword;
                                        $(this).combogrid("grid").datagrid('load', _params);
                                        $(this).combogrid("setValue", keyword);
                                    }
                                },
                                onSelect: function (rowIndex, rowData) {
                                    var ConNumber = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'ConNumber' });
                                    $(ConNumber.target).textbox('setValue', rowData.ConNumber);
                                    var confee = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'ConFee' });
                                    $(confee.target).textbox('setValue', rowData.ConFee);
                                    var SumInvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'SumInvoiceMoney' });
                                    $(SumInvoiceMoney.target).textbox('setValue', rowData.SumInvoiceMoney == null ? 0 : rowData.SumInvoiceMoney);
                                    GetPercent(editIndex, rowData);
                                }
                            }
                        }
                    },
                                {
                                    title: '合同编号', field: 'ConNumber', width: 100, align: 'center', editor:
                                      { type: 'textbox', options: { disabled: true } }
                                },
                                { title: '合同金额', field: 'ConFee', width: 100, align: 'right', editor: { type: 'textbox', options: { disabled: true } } },
                                { title: '已收票金额', field: 'SumInvoiceMoney', width: 100, align: 'right', editor: { type: 'textbox', options: { disabled: true } } },//, editor: 'label'
                                {
                                    title: '本次收票金额', field: 'InvoiceMoney', width: 100, align: 'right', editor: {
                                        type: 'numberspinner', options: {
                                            precision: 2, required: true, onChange: function (_new, _old) {
                                                //if ($(this).attr("_row") != undefined) {
                                                //    GetPercent($(this).attr("_row"));
                                                //}

                                                if (editIndex != undefined) {
                                                    var SumInvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'SumInvoiceMoney' });
                                                    var SumInvoiceMoney = $(SumInvoiceMoney.target).textbox('getValue');
                                                    var InvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'InvoiceMoney' });
                                                    var InvoiceMoney = $(InvoiceMoney.target).textbox('getValue');
                                                    var ConFee = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'ConFee' });
                                                    var ConFee = $(ConFee.target).textbox('getValue');
                                                    if (ConFee <= 0) {
                                                        var InvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'InvoiceMoney' });
                                                        $(InvoiceMoney.target).textbox('setValue', "0");
                                                        return;
                                                    }
                                                    if (InvoiceMoney < 0) {
                                                        var InvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'InvoiceMoney' });
                                                        $(InvoiceMoney.target).textbox('setValue', "0");
                                                        return;
                                                    }
                                                    var Scale = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'Scale' });
                                                    $(Scale.target).textbox('setValue', ((parseFloat(SumInvoiceMoney) + parseFloat(InvoiceMoney)) / parseFloat(ConFee) * 100).toFixed(2) + "%");
                                                }
                                            }
                                        }
                                    }
                                },
                                { title: '本次收票日期', field: 'InvoiceDate', width: 100, align: 'center', formatter: JQ.tools.DateTimeFormatterByT, editor: { type: 'datebox', options: { validType: ['dateISO'], required: true } } },
                                { title: '累计比例', field: 'Scale', width: 80, align: 'center', editor: { type: 'textbox', options: { disabled: true } } },
                                //{ title: '是否结清', field: 'IsSettle', width: 100, align: 'center', JQIsExclude: true }

        ]], onClickRow: onDblClickRow
    });


    function GetPercent(rowIndex, rowData) {
        ////获取合同金额
        var ConFee = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: rowIndex, field: 'ConFee' });

        ////获取已开票
        var SumInvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: rowIndex, field: 'SumInvoiceMoney' });
        $(SumInvoiceMoney.target).textbox('setValue', rowData.SumInvoiceMoney == null ? 0 : rowData.SumInvoiceMoney);
        ////获取本次开票金额
        var InvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: rowIndex, field: 'InvoiceMoney' });
        $(InvoiceMoney.target).textbox('setValue', rowData.InvoiceMoney == null ? 0 : rowData.InvoiceMoney);

        var Scale = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: rowIndex, field: 'Scale' });
        if ($(ConFee.target).val() == 0) {
            $(Scale.target).textbox('setValue', "0%");
        }
        else {
            $(Scale.target).textbox('setValue', ((parseFloat($(SumInvoiceMoney.target).val()) + parseFloat($(InvoiceMoney.target).val())) / parseFloat($(ConFee.target).val()) * 100).toFixed(2) + "%");
            var SumInvoiceMoney = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: rowIndex, field: 'SumInvoiceMoney' });
            if (parseFloat($(ConFee.target).val()) - parseFloat($(SumInvoiceMoney.target).val()) > 0) {
                //$(InvoiceMoney.target).numberbox({ prompt: ($(ConFee.target).val() - $(SumInvoiceMoney.target).val()) });
            }
        }
    }

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#ConOtherInvoiceGrid').datagrid('validateRow', editIndex)) {
            var edCnName = $('#ConOtherInvoiceGrid').datagrid('getEditor', { index: editIndex, field: 'RefID' });
            var CnName = $(edCnName.target).combogrid('getText');
            var RefID = $(edCnName.target).combogrid('getValue');
            $('#ConOtherInvoiceGrid').datagrid('getRows')[editIndex]['RefID'] = RefID;
            $('#ConOtherInvoiceGrid').datagrid('getRows')[editIndex]['ConrName'] = CnName;
            var row = $(edCnName.target).combogrid('grid').datagrid('getSelected');

            $('#ConOtherInvoiceGrid').datagrid('getRows')[editIndex]['ConNumber'] = row.ConNumber;
            $('#ConOtherInvoiceGrid').datagrid('getRows')[editIndex]['ConFee'] = row.ConFee;
            $('#ConOtherInvoiceGrid').datagrid('getRows')[editIndex]['SumInvoiceMoney'] = row.SumInvoiceMoney;


            $('#ConOtherInvoiceGrid').datagrid('endEdit', editIndex);
            editIndex = undefined;
            getRows();
            return true;
        } else {
            return false;
        }
    }

    function onDblClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#ConOtherInvoiceGrid').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;

                getRows();
            } else {
                $('#ConOtherInvoiceGrid').datagrid('selectRow', editIndex);
            }
        }

    }
    function append() {
        if (endEditing()) {
            $('#ConOtherInvoiceGrid').datagrid('appendRow', { Id: 0, InvoiceDate: '@DateTime.Now' });
            editIndex = $('#ConOtherInvoiceGrid').datagrid('getRows').length - 1;
            $('#ConOtherInvoiceGrid').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
            getRows();
        }
        else {
            JQ.dialog.warning('请将当前信息填写完整，再添加记录');
        }
    }
    function removexit() {
        if (editIndex == undefined) { return }
        $('#ConOtherInvoiceGrid').datagrid('cancelEdit', editIndex)
                .datagrid('deleteRow', editIndex);
        editIndex = undefined;
        if ($("#ConOtherInvoiceGrid").datagrid("getRows").length > 0) {
            getRows();
        }
    }
    function accept() {
        if (endEditing()) {
            $('#ConOtherInvoiceGrid').datagrid('acceptChanges');
            getRows();
            return true;
        }
        else {
            JQ.dialog.warning('请将信息填写完整');
            return false;
        }
    }
    function getRows() {
        var rows = $('#ConOtherInvoiceGrid').datagrid('getRows');
        $("#JsonRows").val(JSON.stringify(rows));
    }

    var beforeFormSubmit = function () {
        accept();
    }



</script>
@using (Html.BeginForm("saveOtherInvoice", "BussContractOtherInvoice", FormMethod.Post, new { @area = "Bussiness", @id = "BussContractOtherInvoiceForm" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ConOtherTypeID)
    @Html.HiddenFor(m => m.RefTable)

    <input type="hidden" id="CompanyType" name="CompanyType" value="SJ" />
    <input type="hidden" name="JsonRows" id="JsonRows" />

    <table class="table table-bordered">
        <tr>
            <th width="10%">收票</th>
            <td colspan="3">
                <table id="ConOtherInvoiceGrid" class="easyui-datagrid" style="width:98%;height:auto"></table>

                <div id="toolBar" style="height:auto">
                    <a href="javascript:void(0)" class="easyui-linkbutton l-btn l-btn-small l-btn-plain" data-options="iconCls:'fa fa-plus',plain:true" onclick="append()">新增</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton l-btn l-btn-small l-btn-plain" data-options="iconCls:'fa fa-trash',plain:true" onclick="removexit()">删除</a>
                    @*<span style="color:red;font-weight:bold;">  * 单击行记录可进行编辑，只有编辑状态的记录才能被删除</span>*@
                </div>
            </td>
        </tr>
        <tr>
            <th width="10%">登记人</th>
            <td width="40%">
                @Model.CreatorEmpName
            </td>
            <th width="10%">登记时间</th>
            <td width="40%">
                @Model.CreationTime.ToString("yyyy-MM-dd")
            </td>
        </tr>
        @*<tr>
                <th>
                    备注说明
                </th>
                <td colspan="3">
                    <input name="InvoiceNote" style="width:98%;height:80px" class="easyui-textbox" validtype="length[0,500]" data-options="multiline:true" value="@Model.InvoiceNote" />
                </td>
            </tr>*@
        @*<tr>
                    <th>
                        上传附件
                    </th>
                    <td colspan="3">
                        @{
            var uploader = new DataModel.FileUploader();
            uploader.RefID = Model.Id;
            uploader.RefTable = "BussContractOtherInvoice";
            uploader.Name = "uploadfile1";
            @(Html.Partial("~/Areas/Core/Views/UserControl/FileUploader.cshtml", uploader))
                        }
                    </td>
                </tr>*@
    </table>
}