@model DataModel.Models.IsoForm
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'IsoFormDesInputReviewForm',//formid提交需要用到
        docName: 'IsoDesInput',
        ExportName:'设计输入评审',
        buttonTypes: @Html.Raw(ViewBag.ExportPermission),//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        }, flow: {
            flowNodeID: "@(Request.QueryString["flowNodeID"]==null? 0 : int.Parse(Request.QueryString["flowNodeID"]))",
            flowMultiSignID: "@(Request.QueryString["flowMultiSignID"] ==null? 0 : int.Parse(Request.QueryString["flowMultiSignID"]))",
            url: "@(Url.Action("FlowWidget", "PubFlow",new { @area="Core"} ))",
            instance: "_flowInstance",
            processor: "ISO,ISO.FlowProcessor.IsoDesignInputFlow",
            onInit: function () {
                _flowInstance = this;
            },
            refID: "@(Model.FormID)",
            refTable: "IsoFormDesInputReview"
            @Html.Raw(ViewBag.editPermission)
        }
    });
    @Html.Raw(ViewBag.submitPermission)
    @Html.Raw(ViewBag.Upload)
    //$("#FormDate").datebox({ readonly: true })
    $("#MaterialName").textbox({ required: true })
    var selectValue="";
    var selectText="";

    JQ.combobox.common({
        id: 'ProjID',
        toolbar: '#tbProj',//工具栏的容器ID
        url: '@Url.Action("combogridJson", "Project",new { @area="Project"})',//请求的地址
        panelWidth: 600,
        panelHeight: 400,
        valueField: 'Id',
        textField: 'ProjName',
        editable: false,
        multiple: false,
        pagination: true,//是否分页
        queryParams:
            {
                projId:'@Model.ProjID',
                Words:$("#fullNameSearchProj").val()
            },
        columns: [[
            { title: '项目编号', field: 'ProjNumber', width: 100, align: 'center', sortable: true },
            { title: '项目名称', field: 'ProjName', width: 260, align: 'center', sortable: true },
            { title: '项目阶段', field: 'PhaseName', width: 140, align: 'center', sortable: true }
        ]],
        onSelect: function (val, row) {
            $("#PhaseID").text(row.PhaseName);
            $("#ProjNumber").text(row.ProjNumber);
            selectValue=row.Id;
            selectText=row.ProjName;
        },
        onLoadSuccess: function () {
            $("#PhaseID").text('@ViewBag.Phase');
            $("#ProjNumber").text('@ViewBag.ProjNumber');
            var selectRow=$(this).combogrid('grid').datagrid('getSelected');
            if(selectRow!=undefined)
            {
                selectText=$(this).combogrid('getText');
            }
            if(selectRow==undefined)
            {
                $(this).combogrid('setText',selectText);
            }
        }

    });
    $("#fullNameSearchProj").textbox({
        buttonText: '筛选',
        buttonIcon: 'fa fa-search',
        height: 25,
        prompt: '项目名称、项目编号',
        onClickButton: function () {
            JQ.datagrid.searchGrid(
                {
                    $dg:$("#ProjID").combogrid('grid'),
                    loadingType: 'datagrid',
                    queryParams:
                             {
                                 projId:'@Model.ProjID',
                                 Words:$("#fullNameSearchProj").val()
                             }
                });
        }

    });
</script>

@using (Html.BeginForm("save", "IsoFormDesInputReview", FormMethod.Post, new { @area = "Iso", @id = "IsoFormDesInputReviewForm" }))
{
    @Html.HiddenFor(m => m.FormID)
    <table class="table table-bordered">
        <tr style="border:none;">
            <td colspan="6" style="border:none;text-align:center;">
                <span style="font-weight:bold;font-size:large;">设计输入资料评审表</span>
            </td>
        </tr>
        <tr style="border:none;">
            <td colspan="4" style="border:none;"></td>
            <td style="border:none;">
                编号
            </td>
            <td style="border:none;">
                <input name="Number" class="easyui-textbox" validType="length[0,200]" value='@ViewData["Number"]' data-options="required:true" />
            </td>
        </tr>
        <tr>
            <th style="width:15%;">
                项目名称
            </th>
            <td colspan="2">
                <input id="ProjID" name="ProjID" data-options="required:true,multiple:false" style="width:98%;height:26px;" value="@(@Model.ProjID==0 ? "" :@Model.ProjID.ToString())" />

                <input type="hidden" id="ProjectName" name="ProjectName" value="@ViewBag.ProjectName" />
            </td>
            <th style="width:10%;">
                设计阶段
            </th>
            <td colspan="2">
                <label id="PhaseID"></label>
                <input type="hidden" name="PhaseName" id="PhaseName" value="@ViewBag.Phase" />
            </td>
        </tr>
        <tr>
            <th>
                项目编号
            </th>
            <td colspan="2">
                <label id="ProjNumber"></label>
                <input type="hidden" name="ProjNum" id="ProjNum" value="@ViewBag.ProjNumber" />
            </td>
            <th>
                评审人
            </th>
            <td colspan="2">
                <input name="ReviewName" style="width:240px;" class="easyui-textbox" validType="length[0,200]" value='@ViewData["ReviewName"]' />
            </td>

        </tr>
        <tr>
            <th>
                资料名称
            </th>
            <td colspan="2">
                <input id="MaterialName" name="MaterialName" class="easyui-textbox" style="width:300px;" validType="length[0,500]" value="@ViewData["MaterialName"]" />
            </td>
            <th>
                资料来源
            </th>
            <td colspan="2">
                @BaseData.getBase(new Params()
           {
               controlName = "MaterialSourceID",

               engName = "MaterialSourceID",
               width = "240px",
               ids = ViewData["MaterialSourceID"].ToString()
           })
                <input type="hidden" name="MaterialSourecName" value="@ViewBag.MaterialNames" />
            </td>
        </tr>

        <tr>
            <th>
                部门名称
            </th>
            <td colspan="2">
                @BaseData.getBase(new Params()
           {
               controlName = "DeptID",
               engName = "department",
               isRequired = true,
               width = "300px",
               ids = ViewData["DeptID"].ToString()
           })
                <input type="hidden" name="DeptName" value="@ViewBag.DeptName" />
            </td>
            <th>
                专业
            </th>
            <td colspan="2">
                @BaseData.getBase(new Params()
           {
               controlName = "SpeIDs",
               isMult = true,
               isRequired = true,
               engName = "Special",
               width = "240px",
               ids = ViewData["SpeIDs"].ToString()
           })
                <input type="hidden" name="SpecName" value="@ViewBag.SpecName" />
            </td>
        </tr>
        <tr>
            <th>
                登记人
            </th>
            <td colspan="2">
                <label id="EmpName">@ViewData["EmpName"]</label>
                <input type="hidden" name="CreatePerson" id="CreatePerson" value="@ViewData["EmpName"]" />
            </td>
            <th>
                登记时间
            </th>
            <td colspan="2">
                <input id="FormDate" name="FormDate" class="easyui-datebox" validType="dateISO" value="@Model.FormDate" />
            </td>
        </tr>
        <tr>
            <th>
                资料内容说明
            </th>
            <td colspan="5">
                <input name="FormReason" class="easyui-textbox" data-options="multiline:true,validType:'length[0,500]'" style="width:98%;height:150px;" value="@Model.FormReason" />
            </td>
        </tr>
        <tr id="SignTd">
            <th></th>
            <td colspan="5"></td>
        </tr>

        <tr>
            <th>
                上传附件
            </th>

            <td colspan="5">
                @{
                    var uploader = new DataModel.FileUploader();
                    uploader.RefID = Model.FormID;
                    uploader.RefTable = "IsoFormDesInputReview";
                    uploader.Name = "uploadfile1";
                    @(Html.Partial("~/Areas/Core/Views/UserControl/FileUploader.cshtml", uploader))
                }
            </td>
        </tr>
    </table>
    <div id="tbProj" style="padding:5px;height:auto; display:none;">
        <input id="fullNameSearchProj" name="Words" style="width:250px;" JQWhereOptions="{ Key: 'ProjName', 'Contract': 'like' }" />
    </div>

                    }
