@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@using JQ.Web;
@section head {
    <script type="text/javascript">
        var requestUrl = '@Url.Action("TechJson", "PayBalanceEngineering",new { @area= "Pay" })';
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['export', 'moreSearch'],//需要显示的按钮
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'PayBalanceTechGrid',//数据表格ID
                JQDialogTitle: '信息',//弹出窗体标题
                JQWidth: '1000',//弹出窗体宽
                JQHeight: '100%',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                url: requestUrl,//请求的地址
                singleSelect: false,//是否包含check
                JQExcludeCol: [1, 10],//导出execl排除的列
                checkOnSelect: true,//是否包含check
                toolbar: '#PayBalanceTechPanel',//工具栏的容器ID
                columns: [[
                  { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
		{ title: '项目编号', field: 'ProjNumber', width: "14%", align: 'left', sortable: true },
		{ title: '项目名称', field: 'ProjName', width: "18%", align: 'left', sortable: true },
		{ title: '设总', field: 'ProjEmpName', width: "8%", align: 'center', sortable: true },
		{ title: '立项时间', field: 'DateCreate', width: "8%", align: 'center', sortable: true, formatter: JQ.tools.DateTimeFormatterByT },
		{
		    title: '结清状态', field: 'Status', width: "8%", align: 'center', sortable: true,
		    formatter: function (val, row) {
		        if (row.Status == "未结清") {
		            return '<span style="color:red;">' + row.Status + '</span>';
		        }
		        else {
		            return '<span style="color:green;">' + row.Status + '</span>';
		        }
		    }
		},
        { title: '产值', field: 'ProjBanlanceFee', width: "10%", align: 'right', sortable: true },
        { title: '分配产值', field: 'DistributeFee', width: "10%", align: 'right', sortable: true },
        { title: '未分配产值', field: 'UnDistrFee', width: "10%", align: 'right', sortable: true },
            {
                field: 'opt', title: '操作', width: "10%", align: 'center',
                formatter: function (value, row, index) {
                    return "<a href=\"javascript:void(0)\" jqpermissionname='add' id=\"mb" + index + "\" projId=\"" + row.projId + "\" dataid=\"" + row.Id + "\" flag=\"menubutton\"   >操作</a>";
                }
            }

                ]]
            });
            $("#JQSearch").textbox({
                buttonText: '筛选',
                buttonIcon: 'fa fa-search',
                height: 25,
                prompt: '项目名称',
                queryOptions: { Key: 'ProjName', Contract: 'like' },
                onClickButton: function () {
                    JQ.datagrid.searchGrid(
                        {
                            dgID: 'PayBalanceTechGrid',
                            loadingType: 'datagrid',
                            queryParams: {
                                KeyJQSearch: $("#JQSearch").val(),
                                startTime: $("#startTime").textbox('getValue'),
                                endTime: $("#endTime").textbox('getValue'),
                                ProjectPhase: $('#ProjectPhase').textbox('getValue'),
                            }
                        });
                }
            });
        });

        $.extend($.fn.datagrid.defaults.view, {
            onAfterRender: function () {
                $("a[flag='menubutton']").mouseover(function () {
                    document.getElementById("mm3").setAttribute("rowid", this.getAttribute("dataid"));
                    document.getElementById("mm3").setAttribute("projId", this.getAttribute("projId"));
                }).menubutton({
                    iconCls: 'fa fa-edit',
                    menu: '#mm3'
                });
            }
        });

        function menuHandler(item) {
            var key = $("#mm3").attr("rowid");
            var projId = $("#mm3").attr("projId");
            switch (item.text) {
                case "明细":
                    TechInfoDetail(key);
                    break;
                case "历史明细":
                    TechHistoryInfoDetail(projId);
                    break;
                default:
                    break;
            }
        }
        //技术人员历史信息明细
        function TechHistoryInfoDetail(EngiID) {
            JQ.dialog.dialog({
                title: '技术人员结算信息',
                height: '100%',
                width: 1024,
                url: '@Url.Action("HisTechDetailInfo", "PayBalanceUserAccount", new { @area = "Pay" })?id=' + EngiID,
                onClose: function () {
                    $("#PayBalanceEngineeringGrid").datagrid("reload");
                }
            });
        }
        function getRows() {
            var rows = $("#PayBalanceTechGrid").datagrid('getSelections');
            if (rows.length <= 0 || rows == null || rows == undefined) {
                JQ.dialog.warning("请选择要编辑记录");
                return false;
            }
            return rows;
        }

        //撤销结算
        function CancelBalance() {
            var RowID = [];
            var rows = getRows();
            if (rows != false) {
                for (var index = 0; index < rows.length; index++) {
                    RowID.push(rows[index].Id);
                }
                $.post("@Url.Action("CancelBalance")", { RowID: RowID.join(',') }, function (result) {
                    JQ.dialog.info("撤销结算成功！");
                    $("#PayBalanceTechGrid").datagrid('reload');
                });
            }
        }
        function SetProduct() {
            var rows = getRows();
            if (rows != false) {
                if (rows[0].projId == "0") {
                    Jq.dialog.warning("当前项目工程不存在");
                }
                JQ.dialog.dialog({
                    title: '设置产值',
                    height: '100%',
                    width: 1024,
                    url: '@Url.Action("SetProduct", "PayBalanceEngineering",new { @area = "Pay" })?id=' + rows[0].projId,
                    onClose: function () {
                        $("#PayBalanceTechGrid").datagrid('reload');//设置关闭时执行的事件
                    }
                });
            }
        }
        //技术人员信息明细
        function TechInfoDetail(EngiBanlanceId) {
            JQ.dialog.dialog({
                title: '技术人员结算信息',
                height: '100%',
                width: 1024,
                url: '@Url.Action("TechInfo", "PayBalanceEngineering",new { @area = "Pay" })?id=' + EngiBanlanceId,
                onClose: function () {
                    $("#PayBalanceTechGrid").datagrid("reload");
                }
            });
        }
    </script>
    @RenderPage("~/Areas/Core/Views/Shared/_Init.cshtml")
}

@section Body_Content{
    <table id="PayBalanceTechGrid"></table>
    <div id="PayBalanceTechPanel" jqpanel="searchPanel" style="padding:5px;height:auto;">
        <span jqpanel="toolbarPanel">
            <a class="easyui-linkbutton" jqpermissionname='add' data-options="plain:true,iconCls:'fa fa-edit'" href="#" onclick="CancelBalance();">撤销结算</a>
            <a class="easyui-linkbutton" jqpermissionname='add' data-options="plain:true,iconCls:'fa fa-edit'" onclick="SetProduct();">设定工程产值</a>
        </span>

        <input id="JQSearch" style="width:250px;" />
        <div class="moreSearchPanel">
            @BaseData.getBases(
                                                      new Params() { isMult = false, engName = "ProjectPhase" }
                         )

            @*<select id="isProjBalanceState" class="easyui-combobox" jqwhereoptions="[{ Key:'ProjBanlanceStatus', Contract:'=',filedType:'Int'}]">
                    <option value="">所有状态</option>
                    <option value="1412">未结清</option>
                    <option value="1411">已结清</option>
                </select>&nbsp;*@
            <input id="startTime" type="text" class="easyui-datebox" style="width:110px" data-options="prompt: '立项开始'">
            至
            <input id="endTime" type="text" class="easyui-datebox" style="width:110px" data-options="prompt: '立项结束'">&nbsp;
        </div>
    </div>
    <div id="mm3" class="easyui-menu" style="width:80px;" data-options="onClick:menuHandler">
        <div id="div1">明细</div>
        <div id="div2">历史明细</div>
    </div>

}

