@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@RenderPage("~/Areas/Core/Views/Shared/_Init.cshtml");
@using JQ.Web;
@section head {
    <script type="text/javascript">
	 var requestUrl = '@Url.Action("json", "OaEquipUse",new { @area="Oa"})',
            addUrl = '@Url.Action("add","OaEquipUse",new {@area="Oa" })',
            editUrl = '@Url.Action("edit", "OaEquipUse",new {@area="Oa" })',
            delUrl = '@Url.Action("del", "OaEquipUse", new { @area = "Oa" })';

        var equipType = "?EquipOrOffice=" + @Request.QueryString["EquipOrOffice"];
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['add', 'edit','del', 'export'],//需要显示的按钮
                JQAddUrl: addUrl + equipType, //添加的路径
                JQEditUrl: editUrl + equipType,//编辑的路径
                JQDelUrl: delUrl, //删除的路径
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'OaEquipUseGrid',//数据表格ID
                JQDialogTitle: '信息',//弹出窗体标题
                JQWidth: '1000',//弹出窗体宽
                JQHeight: '100%',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                JQFields: ["Id"],//追加的字段名
                JQExcludeCol: [1, 6, 7,8,9],
                url: requestUrl + equipType,//请求的地址
                checkOnSelect: true,//是否包含check
                toolbar: '#OaEquipUsePanel',//工具栏的容器ID
                columns: [[
                    { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
		            { title: '领用时间', field: 'EquipLendDate', width: "10%", align: 'center', sortable: true , formatter: JQ.tools.DateTimeFormatterByT },
                    { title: '是否拖欠', field: 'isLess', width: "10%", align: 'center', sortable: true },
                    { title: '领用人', field: 'CreatorEmpName', width: "10%", align: 'center', sortable: true },
		            { title: '备注', field: 'EquipLendNote', width: "20%", align: 'center', sortable: true },
                    { field: 'JQFiles', title: '附件', align: 'center', width: "10%", JQIsExclude: true, JQRefTable: 'OaEquipUse' },
                    {
                        field: "FlowProgress", title: "流程进度", align: "left", halign: "center", width: "8%", formatter: JQ.Flow.showProgress("FlowID", "FlowName", "FlowStatusID", "FlowStatusName", "FlowTurnedEmpIDs", "CreatorEmpId", "@(ViewBag.EmpId)")
                    },
                  { title: 'FlowStatus', field: 'FlowStatus', halign: 'center', align: 'left', hidden: true },
                  {
                      field: 'opt', title: '操作', width: "40", align: 'center', JQIsExclude: true,
                      formatter: function (value, row, index) {
                          var title = "查看";
                          if (row._EditStatus == 1) {
                              title = "修改";
                          }
                          else if (row._EditStatus == 2) {
                              title = "处理";
                          }
                          return '<a class="easyui-linkbutton" onclick="Look(' + row.Id + ')">' + title + '</a>';
                      }
                  }
                ]],
                onBeforeCheck: function (rowIndex, rowData) {
                    return rowData._AllowCheck;
                },
                onClickRow: function (rowIndex, rowData) {
                    if (!rowData._AllowCheck) {
                        $(this).datagrid('unselectRow', rowIndex);
                    }
                },
                onLoadSuccess: function (data) {
                    $("div.datagrid-header-check input[type='checkbox']").attr("style", "display:none");
                    var rowViews = $("#OaEquipGetGrid").parent().find(".datagrid-view2 .datagrid-body tr.datagrid-row");
                    for (var i = 0; i < data.rows.length; i++) {
                        if (!data.rows[i]._AllowCheck) {
                            rowViews.filter("[datagrid-row-index='" + i + "']").find("td[field='ck'] :checkbox").prop("disabled", "disabled");
                        }
                    }
                }
            });

            $("#JQSearch").textbox({
                buttonText: '筛选',
                buttonIcon: 'fa fa-search',
                height: 25,
                prompt: '领用人/备注',
                onClickButton: function () {
                    JQ.datagrid.searchGrid(
                        {
                            dgID: 'OaEquipUseGrid',
                            loadingType: 'datagrid',
                            queryParams: null
                        });
                }
            });
        });

        function Look(id) {
            JQ.dialog.dialog({
                title: "设备领用",
                url: editUrl  + equipType+ "&ActionFlag=Look&Id=" + id,
                width: '1000',
                height: '100%',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-search',
                onClose: function () {
                    $("#OaEquipUseGrid").datagrid("reload");
                }

            });
        }
    </script>
}

@section Body_Content{
    <table id="OaEquipUseGrid"></table>
    <div id="OaEquipUsePanel" JQPanel="searchPanel" style="padding:5px;height:auto;">
        <span JQPanel="toolbarPanel">
            
        </span>

        <input id="JQSearch" style="width:250px;"  JQWhereOptions="{ 'Key': 'EquipLendNote,CreatorEmpName', 'Contract': 'like' }"/>

    </div>
}

