@using JQ.Util;
@model JQ.Web.UserBaseInfo

<!DOCTYPE html>
<html>
<head>
    <title>金曲设计院管理软件9.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">
        if (window.top != window) {
            window.top.location.href = window.location.href;
        }
        window.history.forward(1);
    </script>

    <link href="~/Content/themes/base/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/skin-blue.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.easyui.plus.js" type="text/javascript"></script>
    <script src="~/Scripts/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="~/Scripts/json2.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/combobox.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/combotree.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/treegrid.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/dialog.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/extend.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/form.js" type="text/javascript"></script>
    <script src="~/Scripts/JQ/tools.js" type="text/javascript"></script>
    <script src="~/Scripts/crypto-js/crypto-js.js" type="text/javascript"></script>

    <script type="text/javascript">
        if (window.JinQu) {
            JinQu.query("cancelNotify", null, null, null);
        }
        //兼容客户端的自动登录
        function clickButton(username, password) {
            if (username) {
                $("#userName").val(username);
            }
            if (password) {
                $("#passWord").val(password);
            }
            if (username && password) {
                $("#btnLogin").click();
            }
        }

        $(function () {
            if (window.JinQu) {
                $("#IsClient").val("1");
            }
            $('#btnLogin').click(function (e) {
                e.preventDefault();
                var passVal = $("#passWord").val();
                var UNVal = $("#userName").val();
                if (passVal.length == 0 || UNVal.length == 0) {
                    JQ.dialog.show("用户名、密码必须输入!");
                    return false;
                }


                var KV = {
                    sigBytes: 16,
                    words: [
                       825373492,
                       892745528,
                       825373492,
                       892745528
                    ]
                };

                var md5p = CryptoJS.MD5(passVal).toString().toUpperCase();
                //alert(md5p);
                var hash = md5p + "^" + passVal;

                var AesVal = CryptoJS.AES.encrypt(hash, KV, { iv: KV, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.ZeroPadding });

                $("#HFPassword").val(AesVal);
                //alert(AesVal);
                $("#passWord").val("");       
                JQ.form.submit({
                    formid: 'loginForm',
                    succesCollBack: function (data) {
                        //debugger;
                        if (data.url.indexOf("changepwd") > 0) {
                            JQ.dialog.dialog({
                                title: "默认密码修改",
                                url: "@(Url.Action("changepwd", "layout",new { @area="Core" }))",
                                width: "400",
                                height: "300",
                                iconCls: "fa fa-lock"
                            });
                        }
                        else {
                            window.location.href = data.url;
                        }
                    }
                });
            });

            $('#btnReset').click(function (e) {
                $("#userName").val("");
                $("#passWord").val("");
            });

            $("#loginForm").keypress(function (e) {
                if (e.which == 13) {
                    $("#btnLogin").click();
                }
            });

            if (window.JinQu){
                var netInfoStr = "";
                var netInfo = JinQu.getNetInfo();
                for (var k in netInfo) {
                    netInfoStr += k + '=' + netInfo[k] + ';';
                }
                $("#markIP").val(netInfoStr);
            }

            $('#SysDown').click(function (e) {
                JQ.dialog.dialog({
                    title: "客户端下载",
                    url: '@Url.Action("SysDown", "main")',
                    width: '550',
                    height: '433',
                });
            });
            $('#SysAbout').click(function (e) {
                JQ.dialog.dialog({
                    title: "关于金曲",
                    url: '@Url.Action("SysAbout", "main")',
                    width: '480',
                    height: '329',
                });
            });
            $('#SysHelp').click(function (e) {
                JQ.dialog.dialog({
                    title: "帮助",
                    url: '@Url.Action("SysHelp", "main")',
                    width: '600',
                    height: '600',
                });
            });
        })
    </script>
</head>
<body>
    <div class="body-wrapper">
        <div class="vertical-body">
            <div class="vertical-box">
                <div class="container">
                    <div class="jq-logo-navbar clearfix">
                        <div class="jq-logo-header-left clearfix">
                            <img src="Content/images/jq-logo.png" alt="">
                            <div class="jq-logo-text hidden-xs ">
                                <span>打造工程设计企业管理软件第一品牌</span>
                            </div>
                        </div>
                        <div class="jq-logo-header-right clearfix hidden-xs ">
                            <ul class="clearfix">
                                <li><a href="#" id="SysDown">帮助</a></li>
                                <li><a href="#" id="SysAbout">关于</a></li>
                                @*<li><a href="#" id="SysHelp">帮助</a></li>*@
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="vertical-content">
                    <div class="container full-height">

                        <div class="row full-height">

                            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 login-box-display ">
                                <div class="login-box-vertical">
                                    <div class="login-box">
                                        <form id="loginForm" method="post" action="@Url.Action("checkuserlogin", "main")">
                                            <h3 class="text-center ">用户登录</h3>
                                            <input type="hidden" id="IsClient" name="IsClient" value="0" />
                                            <div class="form-group mt-20">
                                                @Html.TextBoxFor(m => m.userName, new { @Value = "", @class = "form-control", @placeholder = "用户名" })
                                                @Html.ValidationMessageFor(m => m.userName)
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.passWord, new { @Value = "", @class = "form-control", @placeholder = "密码" })
                                                @Html.ValidationMessageFor(m => m.passWord)
                                                @Html.HiddenFor(m => m.markIP)
                                                @Html.HiddenFor(m => m.HFPassword)
                                            </div>
                                            @{if (ViewBag.IsValidateCode)
                                            {
                                                <div class="form-group clearfix">
                                                        <div class="col-xs-8 col-sm-8 p-0">
                                                            @Html.TextBox("checkCode", string.Empty, new { @class = "form-control", @placeholder = "输入验证码" })
                                                        </div>
                                                        <div class="col-xs-4 col-sm-4 pr-0">
                                                            <img class="img-responsive " style="height: 34px;" alt="点击刷新验证码" src="@Url.Action("validatecode", "main") " onclick="javascript:this.src=this.src+'?rnd='+Math.random();" />
                                                        </div>
                                                </div>
                                            }
                                            <div class="form-group form-btn-group text-center">
                                                <a id="btnLogin" href="#" class="">
                                                    <img src="Content/images/logo.png" alt="" style="width: 110px;">
                                                </a>
                                                <a id="btnReset" href="#" class="">
                                                    <img src="Content/images/reset.png" alt="" style="width: 110px;">
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container">
                    <div class="jq-logo-footer">
                        <ul class="hidden-sm hidden-md hidden-lg clearfix">                       
                            <li><a href="#">帮助</a></li>
                            <li><a href="#">关于</a></li>
                        </ul>
                        <div class="clearfix"></div>
                         <div class="footer-details">
                             <p class="mt-10">地址：广东省广州市越秀区水荫路119号（星光映景）</p>
                             <p><span>电话：021-50600055 / 50600066</span><span>传真：021-63533943</span><span>邮箱：jq@jinqu.cn</span><span>网站：<a href="http://www.jinqu.cn">www.jinqu.cn</a></span></p>
                             <span>2016 &copy; 上海金曲信息技术有限公司</span>
                         </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
