@model DataModel.Models.OaNotice
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'OaNoticeForm',//formid提交需要用到
        buttonTypes: [],//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        }
    });
    @*$(function () {
        var hidSave="@ViewBag.HiddenSave";
        if (hidSave=="True") {
            $("#toolbar a:first").hide();
        }
    });*@
    function closeDio() {
        JQ.datagrid.autoRefdatagrid();
        JQ.dialog.dialogClose();
    }
</script>
@using (Html.BeginForm("save", "OaNotice", FormMethod.Post, new { @area = "Oa", @id = "OaNoticeForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-bordered">

        <tr>
            <th width="10%">
                标题
            </th>
            <td width="40%">
                <input name="Title" style="width:98%;" class="easyui-textbox" data-options="required:true" validType="length[0,200]" value="@Model.Title" />
            </td>
            <th width="10%">
                发布人
            </th>
            <td width="40%">
                @Model.CreatorEmpName
            </td>
        </tr>
        <tr>
            <th width="10%">
                类型
            </th>
            <td width="40%">
                @BaseData.getBase(new Params()
                                {
                                    isMult = false,
                                    controlName = "NoticeTypeID",
                                    isRequired = true,
                                    engName = "NoticeType",
                                    width = "98%",
                                    ids = Model.NoticeTypeID.ToString()
                                })
            </td>
            <th width="10%">
                阅读量
            </th>
            <td width="40%">
                @Model.ReadCount
            </td>
        </tr>
        <tr>
            <th width="10%">
                内容
            </th>
            <td colspan="3">
                <textarea name="Content" style="width:90%;height:100px;" validType="length[0,500]">@Model.Content</textarea>
            </td>
        </tr>
        <tr>
            <th>
                上传附件
            </th>
            <td colspan="3">
                @{
                    var uploader = new DataModel.FileUploader();
                    uploader.RefID = Model.Id;
                    uploader.RefTable = "OaNew";
                    uploader.Name = "UploadFile1";
                    @(Html.Partial("~/Areas/Core/Views/UserControl/FileUploader.cshtml", uploader))
                }
            </td>
        </tr>
    </table>
    <div id="divPanel" JQPanel="dialogButtonPanel" style="padding:5px;height:auto;">
        <span JQPanel="toolbarPanel">
            <a class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-close'" onclick="closeDio()">关闭</a>
        </span>
    </div>
                    }
