
@{
    Layout = "~/Areas/Core/Views/Mobile/_Layout.cshtml";
}
@model DataModel.Models.OaEquipReturn
@using JQ.Web;

@section head {
    @*<link rel="stylesheet" href="~/Scripts/jointjs/rappid.min.css" />*@

    <style type="text/css">
        .aui-btn {
            padding: 10px 15px;
            font-size: 13px;
        }

        .aui-btn-row:after {
            border: 0;
        }

        .set-disabled {
            pointer-events: none !important;
        }

        .error {
            color: red;
            font-size: 14px;
        }

        .hidden {
            display: none;
        }

        .aui-input-hook {
            line-height: 34px;
            text-align: left;
            padding-left: 20px;
            background: #efefef;
        }

        .aui-display-hook {
            display: none;
            width: 30%;
            float: right;
            font-size: 13px;
            line-height: 33px;
            margin-right: 6px;
            padding: 3px 6px;
        }

        .aui-input-width {
            width: 98%;
        }

        .table-select-show tr td {
            padding: 5px !important;
            font-size: small;
            text-align: center;
        }

        .table-select-show tr td input {
            padding: 5px;
            width: 60px;
            margin-bottom: 0;
        }

        .jq-text-disabled {
            color: #898787;
            width: 98%;
            pointer-events: none;
            background-color: #efefef !important;
            border: 0;
            font-size: 13px;
        }
        #dialog .checkbox, #dialog .radio {
            margin: 0;
        }
      
    </style>
}

@section Body_Content{
    <div class="aui-content" style="overflow:hidden">
        <form id="OaEquipReturnForm" class="aui-form">
            <input id="Id" name="Id" type="hidden" value="@Model.Id" />
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;领用单</label>
                @*<input type="button" id="btnChooseEquipment" namne="btnChooseEquipment" class="aui-btn aui-btn-block aui-btn-success p-0" style="width:40%;" onclick="EquipmentChooseBegin();" value="选择领用单" />*@
                <br />
            </div>
            <div class="row">
                <input type="hidden" id="EquipId1" name="EquipId1" />
                <input type="hidden" name="EquipOrOffice" id="EquipOrOffice" value="@Request.QueryString["EquipOrOffice"]" />
                <div class="table-responsive">
                    <table class="table table-select-show table-bordered" id="dgGrid" style="font-size:12px">
                        <thead>
                            <tr>
                                <th style="text-align:center;">领用时间</th>
                                <th style="text-align:center;">领用备注</th>
                                <th style="text-align:center;">预计归还时间</th>
                            </tr>
                        </thead>
                        <tbody id="gridListShow" style="font-size:12px;"></tbody>
                    </table>
                </div>
                
                <script id="listTp2" type="text/x-dot-template">
                    {{~it:appendselectArrayInfoData:index}}
                    <tr>
                        <td>

                            <span class="hidden" name="EquipIdValue" id="EquipIdValue">{{=appendselectArrayInfoData.EquipId}}</span>
                            {{=appendselectArrayInfoData.EquipLendDate}}
                        </td>
                        <td>
                           {{=appendselectArrayInfoData.EquipLendNote}}
                        </td>
                        <td>
                           {{=appendselectArrayInfoData.EquipBackDate}}
                        </td>
                     
                    </tr>
                    {{~}}
                </script>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;设备</label>
              @*  <input type="button" id="btnChooseEquipmentReturn" namne="btnChooseEquipmentReturn" class="aui-btn aui-btn-block aui-btn-success p-0" style="width:40%;" onclick="EquipmentChooseReturBegin();" value="选择设备" />*@
                <br />
            </div>
            <div class="row">
                <input type="hidden" id="EquipId" name="EquipId" />
                <input type="hidden" id="EquipId_id" name="EquipId_id" value="-1" />
                <div class="table-responsive"style="overflow-x:auto" >
                    <table class="table table-select-show table-bordered" id="dgGrid2" style="font-size:12px;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">设备编号</th>
                                <th style="text-align:center;">设备名称</th>
                                <th style="text-align:center;">设备规格</th>
                                <th style="text-align:center;">应归还数量</th>
                                <th style="text-align:center;">归还数量</th>
                                @*<th style="text-align:center;" class="showToDo">操&nbsp;&nbsp;作</th>*@

                            </tr>
                        </thead>
                        <tbody id="gridListShow3" style="font-size:12px;"></tbody>
                    </table>
                </div>

                <script id="listTp3" type="text/x-dot-template">
                    {{~it:appendselectArrayInfoData:index}}
                    <tr>
                        <td>
                            <input type="hidden" name="Equip_equipIdText" id="Equip_equipIdText" value="{{=appendselectArrayInfoData.EquipId}}" />
                            <input type="hidden" name="Equip_IdValue" id="Equip_IdValue" value="{{=appendselectArrayInfoData.Id}}"/>
                            <span id="EquipNumberText">{{=appendselectArrayInfoData.EquipNumber}}</span>
                        </td>
                        <td>
                            <span id="EquipNameText">{{=appendselectArrayInfoData.EquipName}}</span>
                            
                        </td>
                        <td>
                            <span id="EquipModelText">{{=appendselectArrayInfoData.EquipModel}}</span>
                            
                        </td>
                        <td>
                            <span  id="CountText">{{=appendselectArrayInfoData.Count}}</span>
                            
                        </td>
                        <td >
                            @*<span  id="EquipCountText">{{=appendselectArrayInfoData.EquipCount}}</span>*@
                            @*<span id="EquipCountText">{{=appendselectArrayInfoData.Count}}</span>*@

                            <input type="hidden" name="EquipCount1Text" id="EquipCount1Text" value="{{=appendselectArrayInfoData.EquipCount}}" style="width:40px;padding:0;text-align:center" />
                            <input type="number" name="EquipCountText" id="EquipCountText" value="{{=appendselectArrayInfoData.EquipCount}}" style="width:40px;padding:0;text-align:center" />
                        </td>
                        @*<td  class="showToDo">
                            <div class="showToDo">
                                <input type="button" name="DeleteRowBtn"  id="DeleteRowBtn_{{=index}}" class="DeleteRowBtn delete-btn aui-btn aui-btn-success p-0" value="删除" onclick="removeTrInfo(this);" style="width:auto;margin:0" />
                            </div>
                        </td>*@
                    </tr>
                    {{~}}
                </script>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;设备归还日期</label>
                <input name="EquipBackDate" id="EquipBackDate" type="date" class="aui-input" value="@Model.EquipBackDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <b class="aui-input-addon aui-text-danger">*</b>
                <label class="aui-input-addon">&nbsp;&nbsp;设备领用备注</label>
                <textarea rows="6" name="EquipLendNote" id="EquipLendNote" style="width:98%;overflow:auto;" class="aui-input" data-options="multiline:true" validType="length[0,500]">@Model.EquipLendNote</textarea>
            </div>
            @*<div class="aui-input-row">
                <div class="aui-btn aui-btn-block aui-btn-success p-0" onclick="validateFormBegin()">提交</div>
            </div>*@
        </form>
        <div class="aui-dialog aui-hidden" id="dialog" style="top:50%;">
            <div class="aui-dialog-header">选择设备</div>
            <div class="aui-dialog-body aui-text-left">
                <div class="aui-card aui-noborder" style="max-height:250px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        
                                    </th>
                                    <th>领用时间</th>
                                    <th>领用备注</th>
                                    <th>预计归还时间</th>
                                
                                </tr>
                            </thead>
                            <tbody id="gridList" style="max-height:250px;overflow-y:auto;margin-bottom:0;"></tbody>
                        </table>
                    </div>


                    <!--模板-->
                    <script id="listTpl" type="text/x-dot-template">
                        {{~it:appendEquipGetInfoData:index}}

                        <tr id="tr_{{=index}}">

                            <td>
                                <div class="radio"><input type="radio" name="subBox" value="" /></div>
                                
                            </td>
                            <td>
                                <input type="hidden" name="equipIdText" id="equipIdText" value="{{=appendEquipGetInfoData.Id}}" />
                                <span id="EquipLendDateText">{{=appendEquipGetInfoData.EquipLendDate}}</span>
                                
                            </td>
                            <td>
                                <span id="EquipLendNoteText">{{=appendEquipGetInfoData.EquipLendNote}}</span>
                            </td>
                            <td>
                                <span id="EquipBackDateText">{{=appendEquipGetInfoData.EquipBackDate}}</span>
                            </td>
                            
                        </tr>
                        {{~}}
                    </script>
                </div>
            </div>
            <div class="aui-dialog-footer">
                <div class="aui-dialog-btn aui-text-danger" tapmode onclick="cancel()">取消</div>
                <div class="aui-dialog-btn aui-text-info" tapmode onclick="confirm()">确定</div>
            </div>
        </div>
        </div>



    <script>
        var _webconfig = {
            serverUrl: '@Url.Content("~")'
        };
        var datas;
        var selectId = 0;
        var oldId = -1;
        var num =  Number('@Model.UseId');

        $(function () {
            if (window.JinQuMobile == undefined) {
                //$('.hidden').css('display', 'block')
                //validateFormBegin();
                initFormBegin(JSON.stringify({
                    "AllowEditControls": "{}"
                }));
            }


        });
        //表单初始化交互
        function initFormBegin(params) {
            //alert(params)
            params = params.replace(/[\r\n]/g, "");//去除换行
            params = params.replace(/\s/g, "");
            var paramsObj = JSON.parse(params);
            paramsObj.AllowEditControls = paramsObj.AllowEditControls || '-';
            //paramsObj.AllowEditControls = paramsObj.AllowEditControls
            //    .replace("EquipId", "btnChooseEquipment");



            //编辑明细
            $.post('@Url.Action("choosejsonId", "OaEquipReturn", new { @area="Oa"})' + "?id=@Model.UseId&EquipOrOffice=@Request.QueryString["EquipOrOffice"]", function (_rData) {
                var rowData = JSON.parse(_rData);
             
                if (rowData.rows.length > 0) {
                    //$.each(rowData.rows, function (idx, ele) {
                    //    ele.EquipTotalCount = ele.Number;
                    //});
                    var interText = doT.template($("#listTp2").text())
                    $("#gridListShow").html(interText(rowData.rows));

                }
            })
            $.post('@Url.Action("choosejson2", "OaEquipReturn", new { @area="Oa"})' + "?id=@Model.UseId&rid=@Model.Id&time=@Model.CreationTime", function (_rData) {
                var rowData = JSON.parse(_rData);
                datas = rowData.rows
                console.log(_rData)
                if (rowData.rows.length > 0) {
                    var interText = doT.template($("#listTp3").text())
                    $("#gridListShow3").html(interText(rowData.rows));
                    if ($('#btnChooseEquipment').hasClass('jq-text-disabled')) {
                        //$("#DeleteRowBtn_" + index).addClass('jq-text-disabled')
                        $("#dgGrid2").find("tr").each(function (e, i) {
                            $('#DeleteRowBtn_'+e).addClass('jq-text-disabled');
                        })
                    }
                }
            })
           
            //清除时间审批时，默认为1900-01-01改为空
            var EquipBackDate = $('#EquipLendDate').val(); //领用时间

            if ((EquipBackDate == '1900-01-01')) {
                $('#EquipBackDate').val('');
            }

            //任务内容，替换换行符
            var EquipLendNoteValue = $('#EquipLendNote').val();
            EquipLendNoteValue = EquipLendNoteValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#EquipLendNote').val(EquipLendNoteValue);


            $('form :input').addClass('jq-text-disabled').attr("readonly", "readonly");
            DomUtil.setCtrlsReadonly(paramsObj.AllowEditControls, document.getElementById('OaEquipReturnForm'));
            
            if (paramsObj.AllowEditControls != "-") {
                $('#btnChooseEquipment').removeClass('jq-text-disabled');
            }
            
            
            //告诉移动端页面初始完完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.FormEnd();
            }
        }
        //表单验证交互
        function validateFormBegin() {
            //验证表单内容
            var isValidate = false;
            var formVali = $('#OaEquipReturnForm').validate({
                rules: {
                    EquipLendNote: 'required'
                },
                messages: {
                    EquipLendNote: '请输入备注'
                }
            });
           // alert(1);
            isValidate = formVali.form();
            var isGoOnEach = true;
            var $gridTr = $("#gridListShow3").find("tr");
             var hasFloatNumber = 0;
            $.each($gridTr, function (index, ele) {
                // 归还数量应小于等于应归还数量
                var endValue = parseInt($(ele).find("#EquipCount1Text").val());
                var startValue = parseInt($(ele).find("#CountText").text());
                var number = $(ele).find("#EquipCount1Text").val();
                if (endValue > startValue) {
                    isValidate = false;
                    $.alert('归还数量大于应还数量');
                    hasFloatNumber = 1;
                    return false;
                }
               
                if (number == '' || number == '0') {
                    $.alert('请输入归还数量！！！');
                    hasFloatNumber = 1;
                    return false;
                }
                if (number.indexOf('.') > 0) {
                    $.alert('请确认设备数量，不能为小数');
                    hasFloatNumber = 1;
                    return false;
                }
                if (number< 0) {
                    $.alert('请确认设备数量，不能为负数');
                    hasFloatNumber = 1;
                    return false;
                }
            })

            if (hasFloatNumber == 0) {
                if (isValidate) {
                    var gridData = [];
                    var $gridTr = $("#gridListShow3").find("tr");
                    $.each($gridTr, function (index, ele) {
                        gridData.push({
                            Id: $(ele).find("#Equip_IdValue").val(),
                            EquipId: $(ele).find("#Equip_equipIdText").val(),
                            EquipNumber: $(ele).find("#EquipNumberText").text(),
                            EquipName: $(ele).find("#EquipNameText").text(),

                            EquipModel: $(ele).find("#EquipModelText").text(),
                            Count: $(ele).find("#CountText").text(),
                            EquipCount: $(ele).find("#EquipCountText").val(),
                            EquipCount1: $(ele).find("#EquipCount1Text").val(),
                        })
                    })

                    if (gridData.length == 0) {
                        $.alert('请选择要领用的设备！')
                        return false;
                    }
                   // console.log(gridData)
                    
                    $("#EquipId").val(JSON.stringify(gridData) + '&' + num);
                    var formData = DomUtil.serialize(document.getElementById('OaEquipReturnForm'));//json or
                    formData.EquipOrOffice = 0;
                    console.log(formData)
                    alert(JSON.stringify(formData))
                    //告诉移动端页面初始完完毕
                    if (window.JinQuMobile) {
                        window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
                    }
                }
            }
           
           
        }

        //不走验证流程
        function noValidateFormBegin(params) {
            var gridData = [];
            var $gridTr = $("#gridListShow3").find("tr");

            $.each($gridTr, function (index, ele) {
                gridData.push({
                    Id: $(ele).find("#Equip_IdValue").val(),
                    EquipId: $(ele).find("#Equip_equipIdText").val(),
                    EquipNumber: $(ele).find("#EquipNumberText").text(),
                    EquipName: $(ele).find("#EquipNameText").text(),

                    EquipModel: $(ele).find("#EquipModelText").text(),
                    Count: $(ele).find("#CountText").text(),
                    EquipCount: $(ele).find("#EquipCount1Text").val(),
                    EquipCount1: $(ele).find("#EquipCount1Text").val(),
                })
            })
            $("#EquipId").val(JSON.stringify(gridData) + '&' + num);
            var formData = DomUtil.serialize(document.getElementById('OaEquipReturnForm'));//json or =&
            //告诉移动端页面验证完毕
            console.log(formData)
            //alert(JSON.stringify(formData))
            if (window.JinQuMobile) {
                window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
            }
        }

        //选择领用单
        function EquipmentChooseBegin() {
            //编辑明细
            var url = _webconfig.serverUrl + 'oa/OaEquipReturn/choosejson?EquIds=&EquipOrOffice='+ '@Request.QueryString["EquipOrOffice"]';
            $.ajax({
                type: 'POST',
                url: url,
                data: '',
                success: function (data) {
                    var appendEquipGetInfoData = JSON.parse(data).rows;
                    console.log(appendEquipGetInfoData)
                    if (appendEquipGetInfoData.length > 0) {
                        var interText = doT.template($("#listTpl").text())
                        $("#gridList").html(interText(appendEquipGetInfoData));
                        $('body').append('<div class="aui-mask"></div>');
                        $(".aui-dialog.aui-hidden").removeClass('aui-hidden');


                        $('#gridList tr').each(function (index, value) {
                            var trID = '#tr_' + index;
                            $('.checkAll input[type="checkbox"]').click(function () {
                                $(trID).find('.checkbox input[name="subBox"]').prop("checked", this.checked)
                            })
                            var allLen = $('.checkbox input[name="subBox"]').length;
                            $('.checkbox input[name="subBox"]').each(function (index, value) {
                                $(this).bind('click', function (i) {
                                    var selectedLen = $('.checkbox input[name="subBox"]:checked').length;
                                    if (selectedLen == allLen) {
                                        $('.checkAll input[type="checkbox"]').prop("checked", true)
                                    }
                                    else {
                                        $('.checkAll input[type="checkbox"]').prop("checked", false)
                                    }
                                })
                            })
                        })
                    }
                }
            })
        }

       
      
        //信息弹出框-----------------------------------------------------------------------
        function cancel() {
            $('div').removeClass("aui-mask")
            $('.aui-dialog').addClass("aui-hidden")
        }

        var chooseId;
        function confirm() {
            var checkValueLength = $(".radio input[name='subBox']:checked").length;
            if (checkValueLength > 0) {
                $('div').removeClass('aui-mask');
                $('.aui-dialog').addClass("aui-hidden");
                var selectArray = [],getEquipId;
                $(".radio input[name='subBox']:checked").closest("tr").each(function (i, e) {
                    console.log(e)
                    selectArray.push({
                        Id: $(e).find("#equipIdText").val(),
                        EquipLendDate: $(e).find("#EquipLendDateText").text(),
                        EquipLendNote: $(e).find("#EquipLendNoteText").text(),
                        EquipBackDate: $(e).find("#EquipBackDateText").text()
                    })
                    chooseId = selectArray[0].Id
                    var chooseUrl = _webconfig.serverUrl + 'oa/OaEquipReturn/choosejson1?id=' + chooseId;
                    $.ajax({
                        type: 'POST',
                        url: chooseUrl,
                        data: '',
                        success: function (data) {
                            var rowData = JSON.parse(data).rows;
                            console.log(rowData)
                            
                            if (rowData.length > 0) {
                                var interText = doT.template($("#listTp3").text())
                                $("#gridListShow3").html(interText(rowData));

                            }
                            //如果归还数量为undefined，则设置默认设置为1
                            if ($('#EquipCountText').val() == 'undefined') {
                                $('#EquipCountText').val(1)
                            }
                            if ($('#EquipCount1Text').val() == 'undefined') {
                                $('#EquipCount1Text').val(1)
                            }
                        }
                    }) 
                    var appendselectArrayInfoData = selectArray;
                    if (appendselectArrayInfoData.length > 0) {
                        var interText = doT.template($("#listTp2").text())
                        $("#gridListShow").html(interText(appendselectArrayInfoData));
                    }
                })

            }
            else {
                $.alert('请选择设备');
            }
        }

        function removeTrInfo(e) {
            $(e).parent().parent().parent().remove();
        }
    </script>
}

