<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="@(Url.Content("~/Content/chart/site.css"))" rel="stylesheet" />
    <link href="@(Url.Content("~/Content/chart/fonts/font-awesome.min.css"))" rel="stylesheet" />
</head>
<body>
    <script src="@(Url.Content("~/Scripts/jquery-1.8.0.min.js"))" type="text/javascript"></script>
    <link rel="stylesheet" href="@(Url.Content("~/Content/themes/base/easyui.css"))" />
    <script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.easyui.min.js"))"></script>
    <script src="@(Url.Content("~/Content/chart/site.js"))" type="text/javascript"></script>
    @RenderBody()
</body>
</html>
