@{
    Layout = "~/Areas/Core/Views/Mobile/_Layout.cshtml";
}

@using JQ.Web;
@model DataModel.Models.IsoBGSJRWTZD

@section head {
    <style type="text/css">
    .aui-btn {
        padding: 10px 15px;
        font-size: 13px;
    }

    .aui-btn-row:after {
        border: 0;
    }
    .p-15{
        padding:15px;
    }


    .set-disabled {
        pointer-events: none !important
    }

        .error {
            color: red;
            font-size: 14px;
        }

    .hidden {
        display: none;
    }

    .aui-input-hook {
        line-height: 34px;
        text-align: left;
        padding-left: 20px;
        background: #efefef;
    }

    .aui-display-hook {
        display: none;
        width: 30%;
        float: right;
        font-size: 13px;
        line-height: 33px;
        margin-right: 6px;
        padding: 3px 6px;
    }

    .aui-input-width {
        width: 98%;
    }

    .hiddenShow {
        height: 0;
    }

    .aui-input-row label.aui-input-addon {
        min-width: 90px;
    }

    .set-selected-icon select {
        float: right;
        margin-right: 5px;
        border: 0;
        margin-bottom: 0;
    }

    .set-selected-icon i {
        position: absolute;
        right: 25px;
        top: 15px;
    }
    .aui-input-row-position {
        position: relative;
        display: table;
        padding: 6px 0;
    }

    .aui-input-row label.aui-input-addon {
        font-size: 14px;
    }

    .jq-text-disabled {
        color: #898787;
        width: 98%;
        pointer-events: none;
        background-color: #efefef !important;
        border: 0;
        font-size: 13px;
    }
    .aui-input-check-disable {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .aui-input-check-disable label {
        line-height: 45px;
        margin-right: 15px;
    }

        .aui-input-check-disable input[type="checkbox"], .aui-input-check-disable input[type="radio"] {
            width: auto;
            margin: 0 5px 0 0;
            line-height: 45px;
        }
</style>
}

@section Body_Content{
    <div class="aui-content">
        <form id="IsoBGSJRWTZDForm" class="aui-form">
            <div class="p-15">
               表 <label>@Model.TableNumber</label><input type="hidden" name="TableNumber" value="@Model.TableNumber" />
                <br />编号 <input id="Number" name="Number" type="text" class="aui-input" style="display:inline;min-width: 60px;max-width: 60%;border: 1px solid #dbdbdb; border-radius: 6px;padding: 3px 6px;margin:0 3px;text-align:center;" class="form-control" validType="length[0,200]" value="@Model.Number" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;项目编号</label>
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                <input name="ProjNumber" id="ProjNumber" type="text" class="aui-input" value="@Model.ProjNumber" style="width:60%;margin-right:15px;text-overflow: ellipsis;" />

            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;项目名称</label>
                <input name="ProjName" id="ProjName" type="hidden" class="aui-input" value="@Model.ProjName" />
                <div class="aui-input-block">@Model.ProjName</div>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;阶段</label>
                <input type="text" id="ProjPhaseName" name="ProjPhaseName" class="aui-input" value="@Model.ProjPhaseName" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;任务类型</label>
                <input type="hidden" id="ChangeTaskType_i" name="ChangeTaskType_i" value="@Model.ChangeTaskType" />
                @BaseData.getBaseSelect(new Params()
               {
                   controlName = "ChangeTaskType",
                   engName = "ChangeTaskType",
                   width = "98%;",
                   ids = Model.ChangeTaskType.ToString(),
                   isRequired = true
               })
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;客户单位</label>
                <input name="CompanyName" id="CompanyName" type="text" class="aui-input" value="@ViewBag.CompanyName"/>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;联系人</label>
                <input name="CompanyLinkMan" id="CompanyLinkMan" type="text" class="aui-input" value="@ViewBag.CompanyLinkMan" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;电  话</label>
                <input name="CompanyTel" id="CompanyTel" type="text" class="aui-input" value="@ViewBag.CompanyTel" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;内容</label>
                <textarea rows="6" name="Contents" id="Contents" style="width:98%;" class="aui-input" data-options="multiline:true" validType="length[0,500]">@Model.Contents</textarea>
            </div>





            <input type="hidden" id="projId" name="projId" value="@Model.ProjID" />
            <input type="hidden" id="projPhaseId" name="projPhaseId" value="@Model.ProjPhaseId" />
            <input type="hidden" id="desTaskGroupId" name="desTaskGroupId" value="@Request.Form["desTaskGroupId"]" />
            <input type="hidden" id="CompanyID" name="CompanyID" value="0" />
            <input type="hidden" id="stepOrder" name="stepOrder" value="0" />
            <input type="hidden" id="IsMultiSelect" name="IsMultiSelect" value="1" />



            @*<div class="aui-input-row">
                <div class="aui-btn aui-btn-block aui-btn-success p-0" onclick="validateFormBegin()">提交</div>
            </div>*@
        </form>
    </div>
    <script type="text/javascript">

        $(function () {
            if (window.JinQuMobile == undefined) {
                initFormBegin(JSON.stringify({
                    "Result": true,
                    "Message": null,
                    "NodeName": null,
                    "AllowEditControls": "ColAttVal1;btnChooseProject;ProjIDName;Number;ProjID;Words;ConstructUnit;SupplyUnit;FormDate;ColAttVal2;ModifyContent;DesignName;FormNote;DesChangeUpload;ColAttVal3;ProjName;DesignReason;ColAttVal4",
                    "SignControls": "DesignName(签名)",
                    "SignControls": null,
                    //"AllowEditControls":""

                }));
                //initFormBegin();
            }

        })
        //页面初始化
        function initFormBegin(params) {

           if(@(Model.Id)>0)
            {

                $("#projId").val(@Model.ProjID);
                $("#projPhaseId").val(@Model.ProjPhaseId);
                $("#desTaskGroupId").val(@Model.DesTaskGroupId);
                $("#CompanyID").val(@Model.CompanyID);

            }
            $('#ChangeTaskType').val($('#ChangeTaskType_i').val())
            //去除换行
            //alert(window.location.href)
            params = params.replace(/[\r\n]/g, "");
            params = params.replace(/\s/g, "");
            var paramsObj = JSON.parse(params);


            //按钮替换
            paramsObj.AllowEditControls = paramsObj.AllowEditControls || '-';

            //清除时间审批时，默认为1900-01-01改为空
            var PlanFinishTime = $('#PlanFinishTime').val();;
            if ((PlanFinishTime == '1900-01-01')) {
                $('#PlanFinishTime').val('');
            }
            //清除设计评审时机，默认为1900-01-01改为空
            var ReviewTime = $('#ReviewTime').val();;
            if ((ReviewTime == '1900-01-01')) {
                $('#ReviewTime').val('');
            }



             //设置表单不可编辑样式及只读
            $('form :input').addClass('jq-text-disabled').attr("readonly", "readonly");
            DomUtil.setCtrlsReadonly(paramsObj.AllowEditControls, document.getElementById('IsoBGSJRWTZDForm'));

            //项目概况及总体要求，替换换行符
            var ContentsValue = $('#Contents').val();
            ContentsValue = ContentsValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
            $('#Contents').val(ContentsValue);



            $('#Contents').removeClass('jq-text-disabled').attr("readonly", "readonly")
            $("#Contents").css({
                overflow: 'auto',
                background: '#efefef',
                color: '#898787'
            })

            //告诉移动端页面初始完完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.FormEnd();
            }
        }



        /*----------------------------------------------------------------------------------------------*/
        //表单验证交互

        function validateFormBegin() {
            var formVali = $('#IsoBGSJRWTZDForm').validate({
                //rules: {
                //    Number:'required',//编号
                //    ProjectName: 'required',//项目名称
                //    ColAttVal2:'required',//变更原因
                //    ModifyContent: { //修改内容
                //        required: false,
                //        maxlength: 500
                //    },
                //    FormNote: { // 监理单位意见
                //        required: false,
                //        maxlength: 500
                //    }
                //},
                //messages: {
                //    Number:'请输入编号',
                //    ProjectName: '请输入项目名称 ',
                //    ColAttVal2:'请输入变更原因',
                //    ModifyContent: {
                //        maxlength: '内容长度必须介于0-500之间'
                //    },
                //    FormNote: {
                //        maxlength: '内容长度必须介于0-500之间'
                //    }
                //}
            });
            //if ($('#ProjName').val() == '') {
            //    $.alert('请选择项目！')
            //    return false;
            //}
            isValidate = formVali.form();
            if (isValidate) {
                var formData = DomUtil.serialize(document.getElementById('IsoBGSJRWTZDForm'));//json or =&
                console.log(formData)
                //告诉移动端页面初始完完毕
                if (window.JinQuMobile) {
                    window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
                }
            }
        }

        /*----------------------------------------------------------------------------------------------*/
        //不走验证流程
        function noValidateFormBegin() {
            var formData = DomUtil.serialize(document.getElementById('IsoBGSJRWTZDForm'));//json or =&
            //告诉移动端页面验证完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
            }
        }

    </script>
}
