@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@using JQ.Web;
@section head {

    <script type="text/javascript">
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['add', 'edit', 'del','export'],//需要显示的按钮
                JQAddUrl: '@Url.Action("add")?CustID=@Request.QueryString["CustID"]',//添加的路径
                JQEditUrl: '@Url.Action("edit")',//编辑的路径
                JQDelUrl: '@Url.Action("del")',//删除的路径
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'BussCustomerLinkManGrid',//数据表格ID
                JQDialogTitle: '信息',//弹出窗体标题
                JQWidth: '900',//弹出窗体宽
                JQHeight: '600',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                url: '@Url.Action("json","BussCustomerLinkMan",new { @area="Bussiness"})?CustID=@Request.QueryString["CustID"]&&CustLinkManType=@Request.QueryString["CustLinkManType"]',//请求的地址
                checkOnSelect: true,//是否包含check
                JQExcludeCol: [1,9],//导出execl排除的列
                toolbar: '#BussCustomerLinkManPanel',//工具栏的容器ID
                columns: [[
                  { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
		{ title: '姓名', field: 'CustLinkManName', width: '12%', align: 'center', sortable: true },
		{ title: '性别', field: 'CustLinkManSex', width: '10%', align: 'center', sortable: true },
		{ title: '部门', field: 'CustLinkManDepartMent', width: '12%', align: 'center', sortable: true },
        { title: '联系电话', field: 'CustLinkManTel', width: '12%', align: 'center', sortable: true },
		{ title: '网络联系方式', field: 'CustLinkManWeb', width: '15%', align: 'center', sortable: true },
		{ title: '职务', field: 'CustLinkManJob', width: '10%', align: 'center', sortable: true },
		{ title: '客户单位', field: 'CustName', width: '20%', align: 'left',halign:'center', sortable: true },
{
    field: 'JQFiles', title: '附件', align: 'center', width: "8%", JQIsExclude: true, JQExcludeFlag: "grid_files", JQRefTable: 'LinkMan',
    formatter: function (value, row) {
        return "<span id=\"grid_files_" + row.Id + "\"></span>"
    }
}]]
            });
            $("#JQSearch").textbox({
                buttonText: '筛选',
                buttonIcon: 'fa fa-search',
                height: 25,
                prompt: '联系人姓名',
                queryOptions: { 'Key': 'CustLinkManName', 'Contract': 'like' },
                onClickButton: function () {
                    JQ.datagrid.searchGrid(
                        {
                            dgID: 'BussCustomerLinkManGrid',
                            loadingType: 'datagrid',
                            queryParams: null
                        });
                }
            });
        });
    </script>
    @RenderPage("~/Areas/Core/Views/Shared/_Init.cshtml")


}

@section Body_Content{
    <table id="BussCustomerLinkManGrid"></table>
    <div id="BussCustomerLinkManPanel" JQPanel="searchPanel" style="padding:5px;height:auto;">
        <span JQPanel="toolbarPanel">

        </span>

        <input id="JQSearch" style="width:250px;" JQWhereOptions="{ 'Key': 'CustLinkManName', 'Contract': 'like' }" />

    </div>
}

