@model DataModel.Models.ArchElecProject
@using JQ.Web;
<script type="text/javascript">
    JQ.form.submitInit({
        formid: 'ArchElecProjectForm',//formid提交需要用到
        buttonTypes: ['submit', 'close'],//默认按钮
        succesCollBack: function (data) {//成功回调函数,data为服务器返回值
            JQ.datagrid.autoRefdatagrid();//刷新上一级数据表格，必须在close窗体前调用
            JQ.dialog.dialogClose();//关闭窗体放在最后一步执行，以避免找不到事件源
        }
    });
</script>
@using (Html.BeginForm("save", "ArchElecProject", FormMethod.Post, new { @area = "Archive", @id = "ArchElecProjectForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <input name="ProjectId" type="hidden" value="@Model.ProjectId" />
    <table class="table table-bordered">
        <tr>
            <th width="10%">节点类型</th>
            <td width="40%">
                @BaseData.getBaseSystem(new Params()
               {
                   controlName = "ElecType",
                   isRequired = true,
                   engName = "VolCatalogType",
                   width = "98%",
                   ids = Model.ElecType.ToString()
               })
            </td>
            <th width="10%">父节点名称</th>
            <td width="40%">
                <input name="ParentName" readonly="readonly" class="easyui-textbox" style="width:98%;" value="@ViewBag.ParentName" />
                <input name="ParentId" type="hidden" value="@Model.ParentId" />
            </td>
        </tr>
        <tr>
            <th width="10%">节点编号</th>
            <td width="40%">
                <input name="ElecNumber" style="width:98%;" class="easyui-textbox" validType="length[0,50]" value="@Model.ElecNumber" />
            </td>
            <th width="10%">节点名称</th>
            <td width="40%">
                <input name="ElecName" style="width:98%;" class="easyui-textbox" validType="length[0,200]" value="@Model.ElecName" />
            </td>
        </tr>
        <tr style="display:none">
            <th width="10%">guid</th>
            <td width="40%" colspan="3">
                <input name="ElecGuid" readonly="readonly" style="width:98%;" class="easyui-textbox" data-options="required:true" validType="length[0,50]" value="@Model.ElecGuid" />
            </td>
        </tr>     
        <tr>
            <th width="10%">说明</th>
            <td width="40%"  colspan="3">
                <input name="Note" style="width:98%;" class="easyui-textbox" validType="length[0,500]" value="@Model.Note" />
            </td>
        </tr>
    </table>

}



