@model DataModel.Models.IsoForm
@using JQ.Web;

<script type="text/javascript">
    var x = 0;
    var requestconsuburl = '@Url.Action("jsonFeeSubInvoive", "BussContractSub", new { @area= "Bussiness" })?CompanyType=CJ';
    var requestprojsuburl = '@Url.Action("json", "ProjSub", new { @area= "Project" })?CompanyType=CJ';

    $(function () {
        $("#Items").hide();
        JQ.form.submitInit({
            formid: 'BussSubFeeInvoiveForm',//formid提交需要用到
            buttonTypes: ['submit', 'close'],//默认按钮
            succesCollBack: function (data) {//成功回调函数,data为服务器返回值
                var tab = $('#mainTab').tabs('getSelected');
                var index = $('#mainTab').tabs('getTabIndex', tab);
                var link = $("#mainTab").find("iframe")[index].contentWindow.document.getElementById("LinkMan");
                if (window.top.document.getElementById("linkMan")!=null) {
                    JQ.datagrid.autoRefdatagrid();
                }
                else {
                    if (link != null) {
                        link.contentWindow.location.reload();
                    }
                }
                JQ.dialog.dialoCJlose();//关闭窗体放在最后一步执行，以避免找不到事件源
            },
            beforeFormSubmit : function () {
                var xml = GoldPM.loadXml("<Root></Root>");
                try {
                    var datas = $("#SubFeeInvoiceGrid").datagrid("getData");
                    if (datas.total == 0) {
                        alert("请先输外委合同信息!");
                        return false;
                    }
                    recuriseData(datas.rows, xml.documentElement);
                    $("#strxml").val(xml.documentElement.outerHTML);
                }
                catch (e) {
                    alert("请先输入正确的信息!");
                    return false;
                }
            }
        });

        $("#SubFeeInvoiceGrid").datagrid({
            idField: 'Id',//主键的字段
            singleSelect: false,
            pagination: false,
            url: '@Url.Action("GetJsonList", "BussSubFeeInvoice", new { @area = "Bussiness" })?CompanyType=CJ',//请求的地址

            queryParams: { FormTableID: @Model.FormID },
            rownumbers: true,
            toolbar: '#SubFeeInvoicePanel',//工具栏的容器ID
            columns: [[
               { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
                {
                    title: '外委合同信息', field: 'ConSubId', width: 180, align: 'center', formatter: function (value, rowData) {
                        return "<input type=\"text\" id=\"c_ConSubId" + rowData.Id + "\" name=\"c_ConSubId" + rowData.Id + "\"  style=\"width:98%;text-align:left; \"  />";
                    }
                },
                {
                    title: '外委项目信息', field: 'ProjSubId', width: 180, align: 'center', formatter: function (value, rowData) {
                        return "<input type=\"text\" id=\"c_ProjSubId" + rowData.Id + "\"   name=\"c_ProjSubId" + rowData.Id + "\"   style=\"width:98%;text-align:left; \"    />";
                    }
                },
                {
                    title: '外委合同金额', field: 'ConSubFee', width: 80, align: 'right', formatter: function (value, rowData) {
                        return "<input type=\"text\" id=\"c_ConSubFee" + rowData.Id + "\"    name=\"c_ConSubFee" + rowData.Id + "\" style=\"width:90%;text-align:right;\"  disabled=\"disabled\"  />";
                    }
                },
                {
                    title: '已收票金额', field: 'AlreadySumInvoiceMoney', width: 80, align: 'right', formatter: function (value, rowData) {
                        return "<input type=\"text\" id=\"c_AlreadySumInvoiceMoney" + rowData.Id + "\"  name=\"c_AlreadySumInvoiceMoney" + rowData.Id + "\" style=\"width:90%;text-align:right;\"  disabled=\"disabled\" />";
                    }
                },
                {
                    title: '本次收票金额', field: 'SubFeeInvoiceMoney', width: 90, align: 'center', formatter: function (value, rowData) {
                        return "<input type=\"text\" id=\"c_SubFeeInvoiceMoney" + rowData.Id + "\"   name=\"c_SubFeeInvoiceMoney" + rowData.Id + "\"  validType=\"intOrFloat\" style=\"width:90%;text-align:right;\"    />";
                    }
                },
                {
                    title: '本次收票日期', field: 'SubFeeInvoiceDate', width: 100, align: 'center', formatter: function (value, rowData) {
                        return "<input type=\"text\" id=\"c_SubFeeInvoiceDate" + rowData.Id + "\" name=\"c_SubFeeInvoiceDate" + rowData.Id + "\" validType=\"dateISO\" style=\"width:100%;text-align:left; \"  />";
                    }
                },
               {
                   title: '累计比例', field: 'TotalRatio', width: 80, align: 'center', formatter: function (value, rowData) {
                       return "<input type=\"text\" id=\"c_TotalRatio" + rowData.Id + "\"   name=\"c_TotalRatio" + rowData.Id + "\" style=\"width:90%;text-align:right;\"    />";
                   }
               },
               {
                   title: '收票类型结清', field: 'SubFeeInvoiceType', width: 100, align: 'center', formatter: function (value, rowData) {
                       var html = "<select id=\"c_SubFeeInvoiceType" + rowData.Id + "\" class=\"InputSelect\" style=\"width:92px\">";
                       $("#Items option").each(function () {
                           var _key = $(this).attr("value");
                           var _value = $(this).text();
                           if(_key==decodeURIComponent(value).replace(/\+/g, " "))
                           {
                               html += "<option selected=\"selected\" value=" + _key + ">" + _value + "</option>";
                           }
                           else{
                               html += "<option value=" + _key + ">" + _value + "</option>";
                           }
                       });
                       html += "</select>";
                       return html;
                   }
               }
            ]],
            onLoadSuccess:function(data){
                $.each(data.rows, function(i, n){
                    var rowIndex=n.Id;
                    var consubID=n.ConSubId;
                    var _consubid = "c_ConSubId" + rowIndex;
                    (function ($_consubid) {
                        JQ.combobox.common({
                            id: $_consubid,
                            toolbar: '#tbConSub',//工具栏的容器ID
                            url: requestconsuburl,
                            panelWidth: 550,
                            panelHeight: 320,
                            valueField: 'Id',
                            textField: 'ConSubName',
                            multiple: false,
                            pagination: true,//是否分页
                            JQSearch: {
                                id: 'fullNameSearchConSub',
                                prompt: '外委合同名称',
                                $panel: $("#tbConSub")//搜索的容器，可以不传
                            },
                            columns: [[
                                         { field: 'Id', hidden: true },
                                         { title: '外委合同编号', field: 'ConSubNumber', width: 120, align: 'left', sortable: true },
                                         { title: '外委合同名称', field: 'ConSubName', width: 120, align: 'left', sortable: true },
                                         { title: '外包合同类型', field: 'ConSubTypeName', width: 120, align: 'left', sortable: true },
                                         { title: '外包合同类别', field: 'ConSubCategoryName', width: 120, align: 'left', sortable: true },
                            ]],
                            onSelect: function (rowIndex, rowData) {
                                var array = _consubid.split('c_ConSubId');
                                var y = array[1];
                                $("#c_ConSubFee" + y).val(rowData.ConSubFee);
                                $("#c_AlreadySumInvoiceMoney" + y).val(rowData.AlreadySumInvoiceMoney);
                            },
                            onLoadSuccess:function() {
                                $("#"+$_consubid).combogrid('setValue',consubID);

                                var consubName=$("#"+$_consubid).combogrid('getText');
                                if(!isNaN(consubName)){
                                    $("#"+$_consubid).combogrid('setText',n.ConSubName);
                                }
                            }
                        });
                    }(_consubid));

                    var projsubID=  n.ProjSubId
                    var _projsubid = "c_ProjSubId" + rowIndex;
                    (function ($_projsubid) {
                        JQ.combobox.common({
                            id: $_projsubid,
                            toolbar: '#tbProjSub',//工具栏的容器ID
                            url: requestprojsuburl,
                            panelWidth: 550,
                            panelHeight: 320,
                            valueField: 'Id',
                            textField: 'SubNumber',
                            multiple: false,
                            pagination: true,//是否分页
                            queryParams:{ConSubID:n.ConSubId},
                            JQSearch: {
                                id: 'fullNameSearchProjSub',
                                prompt: '外委项目名称',
                                $panel: $("#tbProjSub")//搜索的容器，可以不传
                            },
                            columns: [[
                                         { field: 'Id', hidden: true },
                                         { title: '外委项目编号', field: 'SubNumber', width: 120, align: 'left', sortable: true },
                                         { title: '外委项目名称', field: 'SubName', width: 120, align: 'left', sortable: true },
                                         { title: '项目编号', field: 'ProjNumber', width: 120, align: 'left', sortable: true },
                                         { title: '项目名称', field: 'ProjName', width: 120, align: 'left', sortable: true },
                                         { title: '外委性质', field: 'SubTypeName', width: 120, align: 'left', sortable: true },
                            ]],
                            onLoadSuccess:function() {
                                if(projsubID!=0){
                                    $("#"+$_projsubid).combogrid('setValue',projsubID);
                                    var projsubName=$("#"+$_projsubid).combogrid('getText');
                                    if(!isNaN(projsubName)){
                                        $("#"+$_consubid).combogrid('setText',n.SubName);
                                    }
                                }
                            }
                        });
                    }(_projsubid));

                    var _subFeeFactMoney = "c_SubFeeInvoiceMoney" + rowIndex;
                    (function ($_subFeeFactMoney) {
                        $('#' + $_subFeeFactMoney).textbox({
                            inputEvents: $.extend({}, $.fn.textbox.defaults.inputEvents, {
                                keyup: function (e) {
                                    var array = _subFeeFactMoney.split('c_SubFeeInvoiceMoney');
                                    var y = array[1];
                                    var t1 = $("#c_ConSubFee" + y).val();
                                    var t2 = $("#c_AlreadySumInvoiceMoney" + y).val();
                                    var t3 = $(this).val();
                                    var s1 = (isNaN(parseFloat(t1)) == false ? parseFloat(t1) : 0) + (isNaN(parseFloat(t1)) == false ? parseFloat(t1) : 0);
                                    var s2 = (isNaN(parseFloat(t2)) == false ? parseFloat(t2) : 0) + (isNaN(parseFloat(t2)) == false ? parseFloat(t2) : 0);
                                    var s3 = (isNaN(parseFloat(t3)) == false ? parseFloat(t3) : 0) + (isNaN(parseFloat(t3)) == false ? parseFloat(t3) : 0);
                                    var s4 = 0;
                                    if (s1 != 0) {
                                        s4 = Math.round(((s2 + s3) / s1) * 100);
                                        s4 = isNaN(parseFloat(s4)) == false ? parseFloat(s4) : 0
                                    }
                                    $("#c_TotalRatio"+y).textbox('setValue',s4);
                                }
                            })
                        })
                    }(_subFeeFactMoney))

                    $("#c_ConSubFee"+rowIndex).textbox();
                    $("#c_ConSubFee"+rowIndex).textbox('setValue',n.ConSubFee);

                    $("#c_AlreadySumInvoiceMoney" + rowIndex).textbox();
                    $("#c_AlreadySumInvoiceMoney" + rowIndex).textbox("setValue", n.AlreadySumInvoiceMoney);

                    $("#c_SubFeeInvoiceMoney"+rowIndex).textbox();
                    $("#c_SubFeeInvoiceMoney"+rowIndex).textbox('setValue',n.SubFeeInvoiceMoney);

                    $("#c_SubFeeInvoiceDate" + rowIndex).datebox({required:true });
                    $("#c_SubFeeInvoiceDate" + rowIndex).datebox("setValue", n.SubFeeInvoiceDate);

                    $("#c_TotalRatio"+rowIndex).textbox();
                    $("#c_TotalRatio"+rowIndex).textbox('setValue',n.TotalRatio);
                });
            }
        });


    });

    function AddRow() {
        $("#consubId").val(0);
        x--;
        var _data = { "Id": x, "ConSubId": "0", "ProjSubId": "0", "ConSubFee": "0", "AlreadySumInvoiceMoney": "0", "SubFeeInvoiceMoney": "0", "SubFeeInvoiceDate": "", "TotalRatio": "0", "IsSettle": 0 }
        $('#SubFeeInvoiceGrid').datagrid('appendRow', _data);

        var _consubid = "c_ConSubId" + x;
        (function ($_consubid) {
            JQ.combobox.common({
                id: $_consubid,
                toolbar: '#tbConSub',//工具栏的容器ID
                url: requestconsuburl,
                panelWidth: 550,
                panelHeight: 320,
                valueField: 'Id',
                textField: 'ConSubName',
                multiple: false,
                pagination: true,//是否分页
                JQSearch: {
                    id: 'fullNameSearchConSub',
                    prompt: '外委合同名称',
                    $panel: $("#tbConSub")//搜索的容器，可以不传
                },
                columns: [[
                             { field: 'Id', hidden: true },
                             { title: '外委合同编号', field: 'ConSubNumber', width: 120, align: 'left', sortable: true },
                             { title: '外委合同名称', field: 'ConSubName', width: 120, align: 'left', sortable: true },
                             { title: '外包合同类型', field: 'ConSubTypeName', width: 120, align: 'left', sortable: true },
                             { title: '外包合同类别', field: 'ConSubCategoryName', width: 120, align: 'left', sortable: true },
                ]],
                onSelect: function (rowIndex, rowData) {
                    debugger;
                    var array = _consubid.split('c_ConSubId');
                    var y = array[1];
                    $("#c_ConSubFee" + y).val(rowData.ConSubFee);
                    $("#c_AlreadySumInvoiceMoney" + y).val(rowData.AlreadySumInvoiceMoney);
                    $("#consubId").val(rowData.Id);

                    var _projsubid = "c_ProjSubId" + y;
                    (function ($_projsubid) {
                        JQ.combobox.common({
                            id: $_projsubid,
                            toolbar: '#tbProjSub',//工具栏的容器ID
                            url: requestprojsuburl,
                            panelWidth: 550,
                            panelHeight: 320,
                            valueField: 'Id',
                            textField: 'SubNumber',
                            queryParams:{ConSubID:$("#consubId").val()},
                            multiple: false,
                            pagination: true,//是否分页
                            JQSearch: {
                                id: 'fullNameSearchProjSub',
                                prompt: '外委合同编号,外委合同名称',
                                $panel: $("#tbProjSub")//搜索的容器，可以不传
                            },
                            columns: [[
                                         { field: 'Id', hidden: true },
                                         { title: '外委项目编号', field: 'SubNumber', width: 120, align: 'left', sortable: true },
                                         { title: '外委项目名称', field: 'SubName', width: 120, align: 'left', sortable: true },
                                         { title: '项目编号', field: 'ProjNumber', width: 120, align: 'left', sortable: true },
                                         { title: '项目名称', field: 'ProjName', width: 120, align: 'left', sortable: true },
                                         { title: '外委性质', field: 'SubTypeName', width: 120, align: 'left', sortable: true },
                            ]]
                        });
                    }(_projsubid))
                }
            });
        }(_consubid));

        var _projsubid = "c_ProjSubId" + x;
        (function ($_projsubid) {

            JQ.combobox.common({
                id: $_projsubid,
                toolbar: '#tbProjSub',//工具栏的容器ID
                url: requestprojsuburl,
                panelWidth: 550,
                panelHeight: 320,
                valueField: 'Id',
                textField: 'SubNumber',
                multiple: false,
                pagination: true,//是否分页
                JQSearch: {
                    id: 'fullNameSearchProjSub',
                    prompt: '外委项目编号,外委项目名称',
                    $panel: $("#tbProjSub")//搜索的容器，可以不传
                },
                columns: [[
                             { field: 'Id', hidden: true },
                             { title: '外委项目编号', field: 'SubNumber', width: 120, align: 'left', sortable: true },
                             { title: '外委项目名称', field: 'SubName', width: 120, align: 'left', sortable: true },
                             { title: '项目编号', field: 'ProjNumber', width: 120, align: 'left', sortable: true },
                             { title: '项目名称', field: 'ProjName', width: 120, align: 'left', sortable: true },
                             { title: '外委性质', field: 'SubTypeName', width: 120, align: 'left', sortable: true },
                ]]
            });
        }(_projsubid))

        var _subFeeFactMoney = "c_SubFeeInvoiceMoney" + x;
        (function ($_subFeeFactMoney) {
            $('#' + $_subFeeFactMoney).textbox({
                inputEvents: $.extend({}, $.fn.textbox.defaults.inputEvents, {
                    keyup: function (e) {
                        var array = _subFeeFactMoney.split('c_SubFeeInvoiceMoney');
                        var y = array[1];
                        var t1 = $("#c_ConSubFee" + y).val();
                        var t2 = $("#c_AlreadySumInvoiceMoney" + y).val();
                        var t3 = $(this).val();
                        var s1 = (isNaN(parseFloat(t1)) == false ? parseFloat(t1) : 0) + (isNaN(parseFloat(t1)) == false ? parseFloat(t1) : 0);
                        var s2 = (isNaN(parseFloat(t2)) == false ? parseFloat(t2) : 0) + (isNaN(parseFloat(t2)) == false ? parseFloat(t2) : 0);
                        var s3 = (isNaN(parseFloat(t3)) == false ? parseFloat(t3) : 0) + (isNaN(parseFloat(t3)) == false ? parseFloat(t3) : 0);
                        var s4 = 0;
                        if (s1 != 0) {
                            s4 = Math.round(((s2 + s3) / s1) * 100);
                            s4 = isNaN(parseFloat(s4)) == false ? parseFloat(s4) : 0
                        }

                        $("#c_TotalRatio" + y).val(s4);
                    }
                })
            })
        }(_subFeeFactMoney))

        var t=(new Date()).format("yyyy-MM-dd");
        $("#c_SubFeeInvoiceDate" + x).datebox({required:true });
        $("#c_SubFeeInvoiceDate" + x).datebox('setValue',t);
    }

    function DeleteRow() {
        var rows = $('#SubFeeInvoiceGrid').datagrid("getSelections");
        var copyRows = [];
        for (var j = 0; j < rows.length; j++) {
            copyRows.push(rows[j]);
        }
        for (var i = 0; i < copyRows.length; i++) {
            var index = $('#SubFeeInvoiceGrid').datagrid('getRowIndex', copyRows[i]);
            $('#SubFeeInvoiceGrid').datagrid('deleteRow', index);
        }
    }

    function recuriseData(data, parentNode) {
        for (var i = 0; i < data.length; i++) {
            var node = parentNode.ownerDocument.createElement("Item");
            node.setAttribute("Id", data[i].Id);
            node.setAttribute("ConSubId", $("#c_ConSubId" + data[i].Id).combogrid('grid').datagrid('getSelected').Id);
            node.setAttribute("ProjSubId", $("#c_ProjSubId" + data[i].Id).combogrid('grid').datagrid('getSelected') == null ? 0 : $("#c_ProjSubId" + data[i].Id).combogrid('grid').datagrid('getSelected').Id);
            node.setAttribute("ConSubFee", $("#c_ConSubFee" + data[i].Id).val());
            node.setAttribute("AlreadySumInvoiceMoney", $("#c_AlreadySumInvoiceMoney" + data[i].Id).val());
            node.setAttribute("SubFeeInvoiceMoney", $("#c_SubFeeInvoiceMoney" + data[i].Id).val());
            node.setAttribute("SubFeeInvoiceDate", $("#c_SubFeeInvoiceDate" + data[i].Id).datebox('getValue'));
            node.setAttribute("TotalRatio", $("#c_TotalRatio" + data[i].Id).val());
            node.setAttribute("SubFeeInvoiceType", $("#c_SubFeeInvoiceType" + data[i].Id).val());
            parentNode.appendChild(node);
            if (data[i].children && data[i].children.length > 0) {
                recuriseData(data[i].children, node);
            }
        }
    }
</script>
@using (Html.BeginForm("saveSubFeeInvoice", "IsoContract", FormMethod.Post, new { @area = "ISO", @id = "BussSubFeeInvoiveForm" }))
{
    @Html.HiddenFor(m => m.FormID)
    @Html.DropDownList("Items");

    <input type="hidden" id="CompanyType" name="CompanyType" value="CJ" />
    <table class="table table-bordered">
        <tr>
            <td colspan="4" align="center" style="border:none;">付款合同收票登记</td>
        </tr>
        <tr>
            <td colspan="4">
                <table id="SubFeeInvoiceGrid"></table>
                <div id="SubFeeInvoicePanel" JQPanel="searchPanel" style="padding:5px;height:auto;">
                    <span JQPanel="toolbarPanel">
                        <a class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-plus'" onclick="AddRow()">新增</a>
                        <a class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-minus-circle'" onclick="DeleteRow()">删除</a>
                    </span>
                </div>

            </td>
        </tr>
        <tr>
            <th width="10%">
                上传附件
            </th>
            <td colspan="3" width="100%">

                @{
                    var uploader = new DataModel.FileUploader();
                    uploader.RefID = Model.FormID;
                    uploader.RefTable = "IsoForm";
                    uploader.Name = "UploadFile1";
                    @(Html.Partial("~/Areas/Core/Views/UserControl/FileUploader.cshtml", uploader))
                }
            </td>
        </tr>
    </table>
    <div id="tbConSub" style="padding:5px;height:auto;display:none">
        <input id="fullNameSearchConSub" style="width:250px;" JQWhereOptions="{ Key: 'txtLike', 'Contract': 'like' }" />
    </div>
    <div id="tbProjSub" style="padding:5px;height:auto;display:none">
        <input id="fullNameSearchProjSub" style="width:250px;" JQWhereOptions="{ Key: 'txtLike', 'Contract': 'like' }" />
    </div>
    <input type="hidden" id="strxml" name="strxml" />
    <input type="hidden" id="consubId" name="consubId" value="0" />
                    }