@{
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}
@using JQ.Web;
@section head {
    <script type="text/javascript">
        $(function () {
            JQ.datagrid.datagrid({
                JQButtonTypes: ['add', 'edit', 'del', 'export', 'moreSearch'],//需要显示的按钮
                //JQButtonTypes: ['@ViewBag.permission'],//需要显示的按钮
                JQAddUrl: '@Url.Action("add")',//添加的路径
                JQEditUrl: '@Url.Action("edit")',//编辑的路径
                JQDelUrl: '@Url.Action("del")',//删除的路径
                JQPrimaryID: 'Id',//主键的字段
                JQID: 'BussCustomerGrid',//数据表格ID
                JQDialogTitle: '客户单位信息',//弹出窗体标题
                JQWidth: '900',//弹出窗体宽
                JQHeight: '100%',//弹出窗体高
                JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
                //JQCustomSearch: [  //自定义搜索的字段
                //{ value: 'DepartmentName', key: '人员部门', type: 'string' }//type支持三种类型string,datetime,combox,默认为string,combox必须提供engname
                //],
                JQExcludeCol: [1, 7, 8],//导出execl排除的列
                //JQMergeCells: { fields: ['DepartmentName', 'EmpName', 'EmpLogin'], Only: 'DepartmentName' },//当字段值相同时会自动的跨行(只对相邻有效)
                //JQEnableFilter: true,//是否启用表格字段检索，只支持当页数据
                //JQFields: ["", ""],//追加的字段名
                url: '@Url.Action("json","BussCustomer",new { @area="Bussiness", @TypeID =0})',//请求的地址
                checkOnSelect: true,//是否包含check
                fit: true,
                toolbar: '#BussCustomerPanel',//工具栏的容器ID
                columns: [[
                  { field: 'ck', align: 'center', checkbox: true, JQIsExclude: true },
                 // { title: '编号', field: 'Id', width: 15%, align: 'center', sortable: true },
		            { title: '客户类别', field: 'CustTypeName', width: '15%', align: 'center', sortable: true },
                    { title: '客户名称', field: 'CustName', width: '20%', align: 'left', sortable: true },
                    { title: '办公地址', field: 'CustAddress', width: '26%', align: 'left', sortable: true },
		            { title: '客户地区', field: 'CustRegion', width: '10%', align: 'center', sortable: true },
		            { title: '业务建立时间', field: 'CustDate', width: '10%', align: 'center', sortable: true },
                    {
                        field: 'JQFiles', title: '附件', align: 'center', width: "5%", JQIsExclude: true, JQExcludeFlag: "grid_files", JQRefTable: 'Customer',
                        formatter: function (value, row) {
                            return "<span id=\"grid_files_" + row.Id + "\"></span>"
                        }
                    },
                         {
                             field: 'opt', title: '操作', width: '10%', align: 'center',
                             formatter: function (value, row, index) {
                                 return "<a href=\"javascript:void(0)\"  JQPermissionName=\"add\" id=\"mb" + index + "\" BussCustomerEvaluateCount=\"" + row.BussCustomerEvaluateCount + "\" LinkManCount=\"" + row.LinkManCount + "\" RecordCount=\"" + row.RecordCount + "\" dataid=\"" + row.Id + "\" flag=\"menubutton\"   >操作</a>";
                             }
                         }

                ]]
            });
            $("#JQSearch").textbox({
                buttonText: '筛选',
                buttonIcon: 'fa fa-search',
                height: 25,
                prompt: '客户名称',
                queryOptions: { 'Key': 'CustName', 'Contract': 'like' },
                onClickButton: function () {
                    JQ.datagrid.searchGrid(
                        {
                            dgID: 'BussCustomerGrid',
                            loadingType: 'datagrid',
                            queryParams: null
                        });
                }

            });

            //定义对齐格式
            //$("tr[class='datagrid-header-row']").find("td[field='CustName']").children().removeAttr("style").attr("style", "text-align:center;")
            setTextAlign("CustName", "text-align:center;");
            setTextAlign("CustAddress", "text-align:center;");

            @*$('#tabs').tabs('add', {
                title: '联系人信息',
                href: '@Url.Action("list", "BussCustomerLinkMan", new { @area = "Bussiness",@CustLinkManType=0 })',
                method:'post',
                selected: true
            });*@

        });

        $.extend($.fn.datagrid.defaults.view, {
            onAfterRender: function () {
                $("a[flag='menubutton']").mouseover(function () {
                    //document.getElementById("list").setAttribute("rowid", this.getAttribute("dataid"));
                    $("#list").attr("rowid", $(this).attr("dataid"));
                    $("#list").attr("RecordCount", $(this).attr("RecordCount"));
                    $("#list").attr("BussCustomerEvaluateCount", $(this).attr("BussCustomerEvaluateCount"));
                    $("#list").attr("LinkManCount", $(this).attr("LinkManCount"));

                    $("#div1").html('<div class="menu-text" style="height: 20px; line-height: 20px;">记事(' + $(this).attr("RecordCount") + ')</div>')
                    $("#div2").html('<div class="menu-text" style="height: 20px; line-height: 20px;">客户评价(' + $(this).attr("BussCustomerEvaluateCount") + ')</div>')
                    $("#div3").html('<div class="menu-text" style="height: 20px; line-height: 20px;">联系人(' + $(this).attr("LinkManCount") + ')</div>')
                }).menubutton({
                    iconCls: 'fa fa-edit',
                    menu: '#list'
                });
            }
        });

        function menuHandler(item) {
            var key = $("#list").attr("rowid");

            var target = item.text;
            if (target.indexOf("联系人") != -1) {
                DialogN(key);
            }
            else {
                if (target.indexOf("记事") != -1) {
                    DialogRecord(key);
                }
                else {
                    DialogEval(key);
                }
            }
        }

        function setTextAlign(filed, align) {
            $("tr[class='datagrid-header-row']").find("td[field='" + filed + "']").children().removeAttr("style").attr("style", align);
        }
        function getMathNo() {
            var d = new Date();
            var sp = "";
            var month = d.getMonth() + 1;
            var strDate = d.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var math = Math.floor(Math.random() * (1000000 + 1));
            var cd = d.getHours() + sp + d.getMinutes() + sp + d.getSeconds() + sp + d.getMilliseconds();
            return math + sp + cd;
        };

        function DialogN(id) {
            //window.location.href = '@Url.Action("list", "BussCustomerLinkMan")?CustID=' + id + '&&CustLinkManType=0';
            window.top.addTab('客户联系人', '@Url.Action("list", "BussCustomerLinkMan")?CustID=' + id + '&&CustLinkManType=0', "");

        }
        function DialogRecord(id) {


            JQ.dialog.dialog({
                title: "<b>记事列表信息</b>",
                url: '@Url.Action("list", "BussCustomerRemember")?CustID=' + id,
                width: '1200',
                height: '600',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-plus',
                modal: true,
                onClose: function () {
                    $('#BussCustomerGrid').datagrid('reload');
                }

            });

            @*var divid = getMathNo();
            if (window.top.$("#" + divid).size() <= 0) {
                window.top.$("body").append("<div class='rwpdialogdiv' id='" + divid + "'></div>");
            }
            var paraJosn = {
                title: "<b>记事列表信息</b>",
                content: '<iframe id="record" frameborder="0" scrolling="no" style="width:100%;height:99%" src="@Url.Action("list", "BussCustomerRemember")?CustID=' + id + '"></iframe>',
                width: '1100',
                height: '100%',
                resizable: false,
                maximizable: false,
                collapsible: false,
                modal: true,
                onClose: function () {
                    $('#BussCustomerGrid').datagrid('reload');
                    window.top.$("#" + divid).parent().remove();
                }
            };
            var dialog = window.top.$("#" + divid).dialog(paraJosn);*@
        }
        function DialogEval(id) {
            @*var divid = getMathNo();
            if (window.top.$("#" + divid).size() <= 0) {
                window.top.$("body").append("<div class='rwpdialogdiv' id='" + divid + "'></div>");
            }
            var paraJosn = {
                title: "<b>客户评价列表信息</b>",
                content: '<iframe id="record" frameborder="0" scrolling="no" style="width:100%;height:99%" src="@Url.Action("list", "BussCustomerEvaluate")?CustID=' + id + '"></iframe>',
                width: '1100',
                height: '100%',
                resizable: false,
                maximizable: false,
                collapsible: false,
                modal: true,
                onClose: function () {
                    $('#BussCustomerGrid').datagrid('reload');

                    window.top.$("#" + divid).parent().remove();
                }
            };
            var dialog = window.top.$("#" + divid).dialog(paraJosn);*@

            JQ.dialog.dialog({
                title: "<b>客户评价列表信息</b>",
                url: '@Url.Action("list", "BussCustomerEvaluate")?CustID=' + id,
                width: '1200',
                height: '600',
                //JQID: 'BussCustomerGridEvaluate',
                JQLoadingType: 'datagrid',
                iconCls: 'fa fa-plus',
                modal: true,
                onClose: function () {
                    $('#BussCustomerGrid').datagrid('reload');
                }
            });
        }


    </script>
    @RenderPage("~/Areas/Core/Views/Shared/_Init.cshtml")


}

@section Body_Content{
    <div id="tabs" class="easyui-tabs" style="width:100%;height:570px;overflow:hidden;" data-options="fit:true">
        <div title="客户单位信息" style="padding:5px">
            <table id="BussCustomerGrid"></table>
            <div id="BussCustomerPanel" JQPanel="searchPanel" style="padding:5px;height:auto;border:none;">
                <div JQPanel="toolbarPanel" >
                    <input id="JQSearch" style="width:250px;" JQWhereOptions="{ Key:'CustName', Contract:'like'}" />
                </div>
                <div class="moreSearchPanel" >
                    <div style="float:left;  padding-bottom:5px;">
                        客户类别：
                        @BaseData.getBases(new Params() { isMult = true, engName = "CustType", queryOptions = "{Key:'CustType', Contract:'in',filedType:'Int'}" })
                    </div>
                    <div style="float:left;  padding-bottom:5px;">
                        客户地区：
                        @BaseData.getBases(new Params() { isMult = true, engName = "CustAddressID", queryOptions = "{Key:'CustAddressID', Contract:'in',filedType:'Int'}" })
                    </div>
                    <div style="float:left;  padding-bottom:5px;">
                        &nbsp; 业务关系建立时间：&nbsp;
                        <input id="startTime" type="text" class="easyui-datebox" style="width:150px" data-options="prompt: '业务建立开始时间'" JQWhereOptions="{ Key:'CustDate', Contract:'>=',filedType:'Date' }">
                        至
                        <input id="endTime" type="text" class="easyui-datebox" style="width:150px" data-options="prompt: '业务建立结束时间'" JQWhereOptions="{ Key:'CustDate', Contract:'<=',filedType:'Date' }">&nbsp;
                    </div>
                </div>
            </div>


            <div id="list" class="easyui-menu" style="width:80px;" data-options="onClick:menuHandler">
                <div id="div1">记事</div>
                <div id="div2">客户评价</div>
                <div id="div3">联系人</div>
            </div>

        </div>
        <div title="联系人信息" style="padding:5px">
            <iframe id="LinkMan" src='@Url.Action("list", "BussCustomerLinkMan", new { @area = "Bussiness",@CustLinkManType=0 })' style="width:100%;height:100%;" frameborder="0"></iframe>

        </div>
    </div>

}

