@{
    Layout = "~/Areas/Core/Views/Mobile/_Layout.cshtml";
}

@using JQ.Web;
@model DataModel.Models.BussContractSub
@section head {

    <style type="text/css">
        .aui-btn {
            padding: 10px 15px;
            font-size: 13px;
        }

        .aui-btn-row:after {
            border: 0;
        }

        .jq-text-disabled {
            color: #898787;
            width: 98%;
            pointer-events: none;
            background-color: #efefef !important;
            border: 0;
            font-size: 13px;
        }

        .set-disabled {
            pointer-events: none !important
        }

        .error {
            color: red;
            font-size: 14px;
            display: block;
        }

        .hidden {
            display: none;
        }

        .aui-input-hook {
            line-height: 34px;
            text-align: left;
            padding-left: 20px;
            background: #efefef;
        }

        .aui-display-hook {
            display: none;
            width: 30%;
            float: right;
            font-size: 13px;
            line-height: 33px;
            margin-right: 6px;
            padding: 3px 6px;
        }

        .aui-input-width {
            width: 98%;
        }

        .hiddenShow {
            height: 0;
        }

        .aui-input-row label.aui-input-addon {
            min-width: 90px;
        }

        .set-selected-icon select {
            float: right;
            margin-right: 5px;
            border: 0;
            margin-bottom: 0;
        }

        .set-selected-icon i {
            position: absolute;
            right: 25px;
            top: 15px;
        }

        .aui-input-row-position {
            position: relative;
            display: table;
            padding: 6px 0;
        }

        .aui-input-row label.aui-input-addon {
            font-size: 14px;
        }

        .error-border {
            border: 1px solid red !important;
        }

        .aui-input-check-disable {
            font-size: 12px !important;
            font-weight: normal !important;
        }

            .aui-input-check-disable label {
                line-height: 45px;
                margin-right: 15px;
            }

            .aui-input-check-disable input[type="checkbox"] {
                width: auto;
                line-height: 45px;
            }
    </style>

}

@section Body_Content{
    <div class="aui-content">
        <form id="BussContractSubForm" class="aui-form">
            <div class="aui-input-row collapseToggle" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <input id="Id" name="Id" type="hidden" value="@Model.Id" />
                <input type="hidden" id="CompanyType" name="CompanyType" value="CJ" />
                <label class="aui-input-addon font-blod">&nbsp;&nbsp;外委项目名称</label>
            </div>

            <div class="table-responsive">
                <table class="table table-select-show table-bordered" id="dgGrid" style="font-size:small">
                    <thead>
                        <tr>
                            <td style="text-align:center;font-size:12px;">外委编号</td>
                            <td style="text-align:center;font-size:12px;">外委名称</td>
                            <td style="text-align:center;font-size:12px;">项目编号</td>
                            <td style="text-align:center;font-size:12px;">项目名称</td>
                            <td style="text-align:center;font-size:12px;">外委单位</td>
                        </tr>
                    </thead>
                    <tbody id="gridListShow"></tbody>
                </table>
            </div>

            <script id="listTp2" type="text/x-dot-template">
                {{~it:appendBussConSubInfoData:index}}
                <tr>
                    <td>

                        <span id="SubNumber" name="SubNumber">{{=appendBussConSubInfoData.SubNumber}}</span>
                    </td>
                    <td>
                        <span id="SubName" name="SubName">{{=appendBussConSubInfoData.SubName}}</span>
                    </td>
                    <td>
                        <span id="ProjNumber" name="ProjNumber">{{=appendBussConSubInfoData.ProjNumber}}</span>
                    </td>
                    <td>
                        <span id="ProjName" name="ProjName">{{=appendBussConSubInfoData.ProjName}}</span>
                    </td>
                    <td>
                        <span id="CustName" name="CustName">{{=appendBussConSubInfoData.CustName}}</span>
                    </td>
                </tr>
                {{~}}
            </script>

            <div class="aui-input-row">
                <b class="aui-input-addon aui-text-danger">*</b>
                <label class="aui-input-addon">&nbsp;&nbsp;外委合同编号</label>
                <input name="ConSubNumber" id="ConSubNumber" type="text" class="aui-input" value="@Model.ConSubNumber" />
            </div>
            <div class="aui-input-row">
                <b class="aui-input-addon aui-text-danger">*</b>
                <label class="aui-input-addon">&nbsp;&nbsp;外委合同名称</label>
                @*<div class="aui-input-block">@Model.ConSubName</div>*@
                <textarea rows="1" name="ConSubName" id="ConSubName" style="width:98%;" class="aui-input" data-options="multiline:true">@Model.ConSubName</textarea>
                @*<input name="ConSubName" id="ConSubName" type="hidden" class="aui-input" value="@Model.ConSubName" />*@
            </div>
            <div class="aui-input-row">
                <b class="aui-input-addon aui-text-danger">*</b>
                <label class="aui-input-addon">&nbsp;&nbsp;外委合同类型</label>
                <input name="ConSubType_i" id="ConSubType_i" type="hidden" class="aui-input" value="@Model.ConSubType" />
                @BaseData.getBaseSelect(new Params()
                    {
                        controlName = "ConSubType",
                        engName = "ConSubType",
                        isRequired = true,
                        width = "98%",
                        ids = Model.ConSubType.ToString()
                    })
                @* <i class="aui-input-addon aui-iconfont aui-icon-rounddown"></i>*@
            </div>
            <div class="aui-input-row">
                <b class="aui-input-addon aui-text-danger">*</b>
                <label class="aui-input-addon">&nbsp;&nbsp;签订状态</label>
                <input name="ConSubStatus_i" id="ConSubStatus_i" type="hidden" class="aui-input" value="@(Model.ConSubStatus == 0 ? "" : Model.ConSubStatus.ToString())" />
                @BaseData.getBaseSelect(new Params()
                    {
                        controlName = "ConSubStatus",
                        engName = "ConSubStatus",
                        isRequired = true,
                        width = "98%",
                        ids = Model.ConSubStatus.ToString()
                    })
                @*<i class="aui-input-addon aui-iconfont aui-icon-rounddown"></i>*@
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;顾客名称</label>
                <input id="ConSubCustId" name="ConSubCustId" type="hidden" style="width:98%;" value="@(Model.ConSubCustId==0?"":Model.ConSubCustId.ToString())" />
                <div class="aui-input-block" id="CustNameText" style="width:63%;display:inline-block;"></div>
                <input name="CustName" id="CustName" type="hidden" class="aui-input" value="" />
                <input type="button" id="CustomerBtn" namne="CustomerBtn" class="aui-btn aui-btn-block aui-btn-success p-0" value="选择顾客" style="width:32%;float:right;margin-right:8px;" onclick="selectCustName();" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;外委合同金额</label>
                <input name="ConSubFee" id="ConSubFee" type="number" class="aui-input" value="@Model.ConSubFee" />
            </div>
            <div class="aui-input-row">
                <b class="aui-input-addon aui-text-danger">*</b>
                <label class="aui-input-addon">&nbsp;&nbsp;外委合同类别</label>
                <input name="ConSubCategory_i" id="ConSubCategory_i" type="hidden" class="aui-input" value="@Model.ConSubCategory" />
                @BaseData.getBaseSelect(new Params()
                    {
                        controlName = "ConSubCategory",
                        engName = "ConSubCategory",
                        isRequired = true,
                        width = "98%",
                        ids = Model.ConSubCategory.ToString()
                    })
                @*<i class="aui-input-addon aui-iconfont aui-icon-rounddown"></i>*@
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;登记人员</label>
                <input name="CreateEmpId" id="CreateEmpId" type="hidden" class="aui-input" value="@Model.CreateEmpId" />
                <input name="CreateEmpIdName" id="CreateEmpIdName" type="hidden" class="aui-input" value="@ViewBag.CreateEmpName" />
                <input name="CreatorEmpName" id="CreatorEmpName" type="text" class="aui-input" value="@ViewBag.CreateEmpName" style="width:63%" />
                <input type="button" id="useLeaderBtn" namne="useLeaderBtn" class="aui-btn aui-btn-block aui-btn-success p-0" value="选择人员" style="width:32%;float:right;margin-right:8px;" onclick="SetUseEmpBegin('CreateEmpId',0);" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;登记日期</label>
                <input name="CreateDate" id="CreateDate" type="date" class="aui-input" value="@Model.CreateDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;签订日期</label>
                <input name="ConSubDate" id="ConSubDate" type="date" class="aui-input" value="@Model.ConSubDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;归档盒号</label>

                <input name="ArchNumber" id="ArchNumber" type="text" class="aui-input" value="@Model.ArchNumber" />
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;付款条件</label>
                <textarea rows="6" name="Condition" id="Condition" style="width:98%;" class="aui-input">@Model.Condition</textarea>
            </div>
            <div class="aui-input-row">
                <label class="aui-input-addon">&nbsp;&nbsp;外委合同备注</label>
                <textarea rows="6" name="ConSubNote" id="ConSubNote" style="width:98%;" class="aui-input">@Model.ConSubNote</textarea>
            </div>
            <input type="hidden" id="ProjSubIDs" name="ProjSubIDs" />

            @*<div class="aui-input-row">
                    <div class="aui-btn aui-btn-block aui-btn-success p-0" onclick="validateFormBegin()">提交</div>
                </div>*@
        </form>
        <div class="aui-dialog aui-hidden" id="dialog" style="top:50%;">
            <div class="aui-dialog-header">选择客户名称</div>
            <div class="aui-dialog-body aui-text-left">
                <div class="aui-card aui-noborder" style="margin-bottom:0;">

                    <ul class="aui-list-view aui-self-list-view" id="gridList" style="max-height:250px;overflow-y:auto;margin-bottom:0;"></ul>
                    <!--模板-->
                    <script id="listTpl" type="text/x-dot-template">
                        {{~it:appendInfoData:index}}
                        <li class="aui-list-view-cell aui-im" tapmode data-uid="{{=appendInfoData.Id}}" style="padding:5px;">
                            <div class="radio" style="margin-top:0;margin-bottom:5px;">
                                <input type="hidden" name="optionsRadios" id="{{=appendInfoData.Id}}" value="{{=appendInfoData.Id}}" />
                                <input type="radio" name="optionsRadios" id="{{=appendInfoData.Id}}" value="{{=appendInfoData.Id}}_{{=appendInfoData.CustName}}" />
                            </div>
                            <div class="aui-img-body">
                                <div style="margin-bottom: 5px;">
                                    <label style="display:inline">{{=appendInfoData.CustName == '' ? '未填写': appendInfoData.CustName}}</label>
                                </div>
                            </div>
                        </li>
                        {{~}}
                    </script>
                </div>
            </div>

            <div class="aui-dialog-footer">
                <div class="aui-dialog-btn aui-text-danger" tapmode onclick="cancel()">取消</div>
                <div class="aui-dialog-btn aui-text-info" tapmode onclick="confirm()">确定</div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    var _webconfig = {
            serverUrl: '@Url.Content("~")'
    };
    $("#ProjSubIDs").val('@ViewBag.ProjSubIDs');
    $(function () {
        if (window.JinQuMobile == undefined) {
            initFormBegin(JSON.stringify({
                "AllowEditControls": "{}"
            }));
           // initFormBegin();
        }
    })


    //页面初始化
    function initFormBegin(params) {
        //去除换行
        params = params.replace(/[\r\n]/g, "");
        params = params.replace(/\s/g, "");
        var paramsObj = JSON.parse(params);
        paramsObj.AllowEditControls = paramsObj.AllowEditControls || '-';


        //外委合同类型
        $('#ConSubType').val($('#ConSubType_i').val())
        //签订状态
        $('#ConSubStatus').val($('#ConSubStatus_i').val())
        //外委合同类别
        $('#ConSubCategory').val($('#ConSubCategory_i').val())

        //清除时间，默认为1900-01-01改为空
        var CreateDate = $('#CreateDate').val(); //登记时间
        var ConSubDate = $('#ConSubDate').val(); //签订时间


        if (CreateDate == '1900-01-01') {
            $('#CreateDate').val('');
        }
        if (ConSubDate == '1900-01-01') {
            $('#ConSubDate').val('');
        }


        var ConSubFeeValue = parseFloat($('#ConSubFee').val());
        $('#ConSubFee').val(ConSubFeeValue.toFixed(2));

        //客户名称 - 获取数据
         $.post('@Url.Action("GetSubCustomerListCombobox", "BussCustomer", new { @area= "Bussiness" })', function (_rData) {
             var SubCustomerListObj = JSON.parse(_rData);
            // console.log(JSON.parse(_rData))
             for (var i = 0; i < SubCustomerListObj.length; i++) {
                 var SubCustomers = SubCustomerListObj[i]
                 if (SubCustomers.Id =='@Model.ConSubCustId' ) {
                     console.log(SubCustomers.CustName)
                     $('#CustName').val(SubCustomers.CustName)
                     $('#CustNameText').text(SubCustomers.CustName)
                 }
             }
         })

        $.post('@Url.Action("GetProjSubList", "BussContractSub", new { @area= "Bussiness" })' + "", {
            ProjSubIDs: $("#ProjSubIDs").val()
        }, function (_rData) {
            console.log(JSON.parse(_rData))
            var appendBussConSubInfoData = JSON.parse(_rData).rows
            if (appendBussConSubInfoData.length > 0) {
                var interText = doT.template($("#listTp2").text())
                $("#gridListShow").html(interText(appendBussConSubInfoData));
            }
            else {
                console.log('暂无数据')
            }
        })


        //设置表单不可编辑样式及只读
        $('form :input').addClass('jq-text-disabled').attr("readonly", "readonly");
        DomUtil.setCtrlsReadonly(paramsObj.AllowEditControls, document.getElementById('BussContractSubForm'));

        //登记人员
        $('#CreatorEmpName').addClass('jq-text-disabled').attr("readonly", "readonly");

        if (paramsObj.AllowEditControls == "{}") {

            $('#Condition,#ConSubNote').removeClass('jq-text-disabled')
            $("#Condition,#ConSubNote").css({
                overflow: 'auto',

            })
        } else {
            $('#Condition,#ConSubNote').removeClass('jq-text-disabled').attr("readonly", "readonly")
            $("#Condition,#ConSubNote").css({
                overflow: 'auto',
                background: '#efefef',
                color: '#898787'
            })
        }

        if (((paramsObj.AllowEditControls).indexOf('day')) != -1) {
           
        }
        else {
            

        }

        //付款条件，替换换行符
        var ConditionValue = $('#Condition').val();
        ConditionValue = ConditionValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#Condition').val(ConditionValue);

        //外委合同备注	，替换换行符
        var ConSubNoteValue = $('#ConSubNote').val();
        ConSubNoteValue = ConSubNoteValue.replace(/[\r\n]/g, "").replace(/\s/g, "")
        $('#ConSubNote').val(ConSubNoteValue);

        //告诉移动端页面初始完完毕
        if (window.JinQuMobile) {
            window.JinQuMobile.FormEnd();
        }
    }
    //表单验证交互
    function validateFormBegin() {
        var formVali = $('#BussContractSubForm').validate({
            rules: {
                ConSubNumber: 'required',//外委合同编号
                ConSubName: 'required' //外委合同名称
            },
            messages: {
                ConSubNumber: '请输入项目编号', //外委合同编号
                ConSubName: '请输入项目名称'//外委合同名称
            }
        });

        isValidate = formVali.form();
        if (isValidate) {
            var formData = DomUtil.serialize(document.getElementById('BussContractSubForm'));//json or =&
            console.log(formData)

            //告诉移动端页面初始完完毕
            if (window.JinQuMobile) {
                window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
            }
        }
    }


    /*----------------------------------------------------------------------------------------------*/
    //不走验证流程
    function noValidateFormBegin(params) {
        var formData = DomUtil.serialize(document.getElementById('BussContractSubForm'));//json or =&
        //告诉移动端页面验证完毕
        if (window.JinQuMobile) {
            window.JinQuMobile.validateFormEnd(JSON.stringify(formData));
        }
    }

    //人员选择
    function SetUseEmpBegin(IdName, n) {
        // 1. 取页面已有人员信息
        var selemp = {
            IdName: IdName,
            ids: $('#' + IdName).val(),
            names: $('#' + IdName + 'Name').val(),
            isSingleSelect: n   //0：单选   1：多选
        }
        // alert(JSON.stringify(selemp))
        if (window.JinQuMobile) {
            window.JinQuMobile.EmpSelectBegin(JSON.stringify(selemp), 'SetSelectInfoEnd');
        }
    }

    //选择人员与部门共用的回调处理
    function SetSelectInfoEnd(emp) {
        //alert(emp)
        emp = JSON.parse(emp);
        var empRows = emp.rows;
        var idName = emp.IdName;
        //alert(idName)
        var dataPushNameValue = [], dataPushIDValue = [];
        for (var i = 0; i < empRows.length; i++) {
            dataPushNameValue.push(empRows[i].names)
            dataPushIDValue.push(empRows[i].ids)
        }
        if (idName == 'CreateEmpId') {
            $('#CreateEmpId').val(dataPushIDValue);
            $('#CreatorEmpName,#CreateEmpIdName').val(dataPushNameValue);
            //$('#EmpDepIDNameText').text(dataPushNameValue);
        }

    }



    function selectCustName() {
            //alert(1)
            $.post('@Url.Action("GetSubCustomerListCombobox", "BussCustomer", new { @area= "Bussiness" })' + "?TopCount=10", function (_rData) {
                console.log(JSON.parse(_rData))
                var appendInfoData = JSON.parse(_rData);
                if (appendInfoData.length > 0) {
                    var interText = doT.template($("#listTpl").text())
                    $("#gridList").html(interText(appendInfoData));
                    $('body').append('<div class="aui-mask"></div>');
                    $(".aui-dialog.aui-hidden").removeClass('aui-hidden');
                }
                else {
                    $.alert('暂无数据');
                    $('#gridList').html('');
                }

            })
        }
        //信息弹出框-----------------------------------------------------------------------
        function cancel() {
            $('div').removeClass("aui-mask")
            $('.aui-dialog').addClass("aui-hidden")
        }
        function confirm() {

            var radioValueLength = $(".radio input[type='radio']:checked").length;
            if (radioValueLength > 0) {
                $('div').removeClass('aui-mask');
                $('.aui-dialog').addClass("aui-hidden");
                var radioValue = $(".radio input[type='radio']:checked").val();
                console.log(radioValue)

                //var carId = $(".radio input[type='radio']:checked").attr('id');
                var radioValue = radioValue.split('_');
                console.log(radioValue)

                $('#ConSubCustId').val(radioValue[0]);
                $('#CustName').val(radioValue[1])
                $('#CustNameText').text(radioValue[1])

            }
            else {
                $.alert('请选择一条数据');
            }
        }
    </script>
}
